-content_for :scripts do
  = javascript_include_tag "tour/home-tour-fr"
  
- if @membership_warning
  .row-fluid
    .notice= @membership_warning

    
%section.padded
  .row-fluid
    .span12
      .section-title
        .title
          Nouveautés d’Edgar
          .badge.badge-medium.badge-shy= announcements_count
       
      %ul.list-small
        - @announcements.each do |a|
          %li
            = link_to "#{l a.published_at, format: :short} - #{a.title}", a.link, target: "_blank", class: "btn-iconic"

        -#%li.btn-in-list
          %a.align-right{:href => "#"}
            %span Voir toutes les nouveautés
            %i.entypo.edi-ellipsis
            
