-content_for :scripts do
  = javascript_include_tag "tour/home-tour-fr"
  
%header.page-title
  %h1 Nouveautés

    
-#_________________________________________________________ Nouveautés
%section.padded
  .row-fluid
    .span12
      .section-title
        .title
          Nouveautés d’Edgar
          .badge.badge-medium.badge-shy= announcements_count
       
      %ul.list-small
        - @announcements.each do |a|
          %li
            = link_to "#{l a.published_at, format: :short} - #{a.title}", a.link, target: "_blank", class: "btn-iconic"

        -#%li.btn-in-list
          %a.align-right{:href => "#"}
            %span Voir toutes les nouveautés
            %i.entypo.edi-ellipsis
            
            
%section.padded
  .row-fluid       
    .span12
      .section-title
        .title
          Prochainement
          /.badge.badge-medium.badge-shy 2
       
      %ul.list-small
        %li
          %a{:href => "#"} Prévu d'ici avril 2014 : Import/Export de fichiers Excel et LibreOffice
        %li
          %a{:href => "#"} Prévu d'ici octobre 2014 : Envoi de mail en masse
        %li
          %a{:href => "#"} Prévu d'ici octobre 2014 : Suivi des représentations vendues, gestion des contrats

        -#%li.btn-in-list
          %a.align-right{:href => "#"}
            %span Voir tous les futurs développements
            %i.entypo.edi-ellipsis
            
            
            
-#_________________________________________________________ tutorials
  %section.padded
    .row-fluid
      .span6
        .section-title
          .title Le dernier tutorial
        .media.video
          <iframe src="//player.vimeo.com/video/81417704?byline=0&amp;portrait=0&amp;color=fff" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        
      .span6
        .section-title
          .title
            Plus de tutoriaux
            /.badge.badge-medium.badge-shy 2
       
        %ul.list-small
          %li
            %a.btn-iconic
              %i.ico.edi-play3
              En cours de developpement : Traduire les messages d'erreur

          %li
            %a.btn-iconic
              %i.ico.edi-play3
              Multi-utilisateurs
            
          %li
            %a.btn-iconic
              %i.ico.edi-play3
              En cours de developpement : Traduire les messages d'erreur
          

          %li.btn-in-list
            %a.align-right{:href => "#"}
              %span
                Voir tous les tutoriaux
              %i.entypo.edi-ellipsis