%meta{:content => content_for?(:description) ? yield(:description) : "Edgar", :name => "description"}
= csrf_meta_tags
%meta{:charset => "utf-8"}/
%title Merci Edgar | L'assistant virtuel des artistes
%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
%meta{:content => "Merci Edgar, #{t("baseline")}", :name => "description"}/
%meta{:content => "Merci Edgar", :name => "author"}/

%meta{:content => "Merci Edgar, #{t("baseline")}", :property => "og:title"}/
%meta{:content => "#{t("home.slogan.are_you_artist")} #{t("home.slogan.time")} Merci Edgar #{t("home.slogan.edgar_for_you")}", :property => "og:description"}/

= yield :facebook_og


= stylesheet_link_tag "multipage"

/[if lt IE 9]
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

= favicon_link_tag 'favicon.ico'

/[if gte IE 9] <style type="text/css"> \.gradient { filter: none;} </style>

