%header
  .nav-top

    #top-nav.navbar.navbar-fixed-top
      .navbar-inner
        .container
          %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          .logo
            = link_to locale_root_path do
              .logo-ed.logo-header.edi-ed-logo-horiz

          #main-nav
            %nav.nav-collapse.collapse.pull-right
              %ul#nav.nav
                = showcase_menu_link("Fonctionnalités et Tarifs", features_path, "features")
                = showcase_menu_link("À propos", about_path, "about")
                %li= link_to "Blog", "http://blog.merciedgar.com", target: "_blank"
                %li
                  %a.btn.btn-enroll{href: "#cta-enroll"}
                    S'inscrire

              #login-tab
                - if user_signed_in?
                  - if current_user.has_role? :admin
                    = link_to "Administration", users_path

                  = link_to t("simple_form.labels.defaults.signout"), destroy_user_session_path, :method => :delete, :class => "login-btn"
                - else
                  .login-btn.login-toggle
                    =t("simple_form.labels.defaults.signin")

              #login-form.invisible
                .form-signin
                  = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical' }) do |f|
                    = f.input_field :email, :autofocus => true, :class => "medium", placeholder:"#{t("simple_form.labels.defaults.email")}"
                    = f.input_field :password, :class => "small", :placeholder => "#{t("simple_form.labels.defaults.password")}"

                    - if devise_mapping.recoverable? && controller_name != 'passwords'
                      = link_to "?", new_password_path(resource_name), :class => "login-btn forgot-btn", :rel => "tooltip", "data-placement" => "bottom", :title => "Mot de passe oublié ?"
                    = f.button :submit, t("simple_form.labels.defaults.signin"), :class => 'login-btn login-submit'
                .close-btn.login-btn.login-toggle x

  = yield(:hero)
