.container.submenu
  -#
    #langswitch.noselect
    
      = link_to "FR", "/fr", :class => params[:locale].eql?("fr") ? 'active' : ''
      |
      = link_to "EN", "/en", :class => params[:locale].eql?("en") ? 'active' : ''
    
    -#
      %a.btn{"data-content" => "Vivamus sagittis lacus vel augue laoreet rutrum faucibus.", "data-original-title" => "FR", "data-placement" => "bottom", "data-toggle" => "popover", href: "#", title: ""} FR
    
    
  #login-tab
    - if user_signed_in?
      - if current_user.has_role? :admin
        = link_to "Administration", users_path
      
      = link_to t("simple_form.labels.defaults.signout"), destroy_user_session_path, :method => :delete, :class => "login-btn"
    - else
      /= link_to t("simple_form.labels.defaults.signin"), new_user_session_path
      /%a{:href => "#", :class => "login-btn login-toggle"}
      .login-btn.login-toggle
        =t("simple_form.labels.defaults.signin")
    
  #login-form.invisible
    /.close-btn.login-btn.login-toggle x
    .form-signin
      
      /%h2 #{t("simple_form.labels.defaults.signin")}
      = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical' }) do |f|
        = f.input_field :email, :autofocus => true, :class => "medium", placeholder:"#{t("simple_form.labels.defaults.email")}"
        = f.input_field :password, :class => "small", :placeholder => "#{t("simple_form.labels.defaults.password")}"
        /= f.input :remember_me, :as => :boolean if devise_mapping.rememberable?
        
        - if devise_mapping.recoverable? && controller_name != 'passwords'
          /= link_to t("simple_form.labels.defaults.forgot_password"), new_password_path(resource_name)
          /= link_to t('?'), new_password_path(resource_name), :class => "login-btn forgot-btn", :rel => "tooltip", :title => "Forgot your password ?"
          = link_to "?", new_password_path(resource_name), :class => "login-btn forgot-btn", :rel => "tooltip", "data-placement" => "bottom", :title => "Mot de passe oublié ?"
          / t("simple_form.labels.defaults.forgot_password")
          / !!! WRONG TITLE SHOWING. WANTED : , :title => "Forgot your password ?"
          /%br/login-btn
        
        = f.button :submit, t("simple_form.labels.defaults.signin"), :class => 'login-btn login-submit'
        /= link_to t("simple_form.labels.defaults.signin"), new_user_session_path
        
    .close-btn.login-btn.login-toggle x
    
    
    
  / SOCIALS 
  #socialfixed
    %ul.socials
      %li
        %a{:href => "https://www.facebook.com/pages/Merci-Edgar/164510577033726", :title => "Facebook Merci Edgar", :target => "blank"}
          %i.ico.edi-facebook
          
      %li
        %a{:href => "https://twitter.com/MerciEdgar", :title => "Twitter Merci Edgar", :target => "blank"}
          %i.ico.edi-twitter
          
      %li
        %a{:href => "http://vimeo.com/channels/entretiensdedgar", :title => "Vimeo Channel Entretiens d'Edgar", :target => "blank"}
          %i.ico.edi-vimeo
/ END SOCIALS
