- content_for :scripts do
  = javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false"
  = javascript_include_tag "contacts_show"

.row-fluid
  .span6
    %ul.list-infos
      %li.infolabel Coordonnées

      - map_displayed = false
      - structure.addresses.each do |address|
        %li
          %span.infolabel= t(address.kind, scope:"simple_form.options.venue.addresses.kind")

          - if address.kind == "main_address" and !map_displayed
            - map_displayed = true

            .map_container
              #map.gmaps4rails_map{ data: {geocoded_precisely: address.geocoded_precisely.to_s, latitude: address.latitude, longitude: address.longitude, address: address.address_for_geocode, path: address_path(address)} }

          %br
            = address.street
          = address.postal_code
          = address.city
          = address.more_info

      - structure.emails.each do |email|
        = render email

      - structure.phones.each do |phone|
        = render phone

      - structure.websites.each do |website|
        = render website

  .span6
    = yield :infos

    %ul.list-infos
      %li.infolabel Observations
      %li= simple_format structure.remark

