- content_for :navtabs do
  %li.w_badge
    %a{"data-toggle" => "tab", :href => "#team"}
      = "Équipe"
      %span.badge.badge-shy="#{structure.people.size}"
      
  = yield :extra_navtabs
  
- content_for :content_tabs do
  / ________________________________________________________ team
  #team.tab-pane
    - if @people.any?
      = render partial:'structures/team'
    - else
      = render partial:'structures/empty_team'
    
  = yield :extra_content_tabs

- content_for :relative_infos do
  - if @main_person.present?
    %ul.list-infos
      %li.infolabel
        Contact principal
      %li
        .pic.pic-small= image_tag @main_person.avatar_url
        = link_to @main_person do
          %h4= @main_person
      %li= @main_person.title(structure)
      %li= @main_person.phone_number
      %li= @main_person.email_address


= render partial: "contacts/show", locals: {contact: structure.contact, edit_link_path: edit_link_path}              