- if structure.structurable.present?
  = render structure.structurable 

- else
  %li{id: "structure_#{structure.to_param}"}
    = render partial: "contacts/contact_elem", locals: {contact: structure.contact, edit_link_path:edit_structure_path(structure) }
  

    .mainrow
      = link_to structure do
        %h3
          = structure.name
          - if structure.contact.has_duplicates?
            = link_to "Doublon", contacts_path(duplicate_of: structure.contact.dup_id), class: "a badge badge-grey doublons"

        .pic= image_tag structure.avatar_url
      .infos-line
        / = render venue.capacities if venue.capacities
        = render structure.address if structure.address
      
      .tags
        = render partial: "tags/tags", locals: { contact: structure.contact}
  
