

%ul.list.list-large#show-team
  - @people.each do |person|
  
    %li.team_person
      .pic-container
        .pic.pic-person
          = image_tag person.avatar_url
          
      .meta
        - if @structure.main_person?(current_user,person)
          %a{href: "#"}
            %i.ico.principal.full{id: "main_contact_#{person.id}"}
        - else
          = link_to structure_set_main_person_path(@structure,person), remote:true, method: :put do
            %i.ico.principal{id: "main_contact_#{person.id}"}
          
        
        -# _________________________ favorite
        - if person.favorite?(current_user)
          = link_to remove_to_favorites_contact_path(person), remote: true do
            %i.ico.favorite.full{id: "fav_contact_#{person.id}"}
        - else
          = link_to add_to_favorites_contact_path(person), remote: true do
            %i.ico.favorite{id: "fav_contact_#{person.id}"}

        -# _________________________ contacted
        - if person.contacted?
          %a.ico.contacted.full{:href => "#"}
        - else
          %a.ico.contacted{:href => "#"}                    
      .actions 
        /= link_to 'Edit', edit_venue_path(venue)
        = link_to edit_structure_person_path(@structure,person), :class => "shybtn" do
          %i.entypo.edi-pencil
        /= link_to 'Destroy', person, :method => :delete, :data => { :confirm => 'Are you sure?' }
        = link_to person, :class => "shybtn", :method => :delete, :data => { :confirm => 'DELETE : Are you sure?' } do
          %i.entypo.edi-cross
              
      %h4= link_to "#{person.name}", person
      .infos-line
        = person.info_contact(@structure)
      
      
  -# _____________________ New Person V2
  %li.btn-in-list
    %a{:href => "#"}
      %i.entypo.edi-plus3
      %span
        Ajouter une personne
    .form-in-list
      /%i.entypo.edi-plus3
      /%h4 Ajouter une personne à cette structure
      -# = simple_form_for(Person.new, html: { class: "inline-form" } ) do |f|
      -#%form.inline-form
      = form_tag(people_structures_path, method: :post, class: "inline-form", remote:true) do
        .row-fluid
          .span6
            .control-group
              = text_field_tag(:person_name, '', placeholder:"Taper le nom puis le prénom de la personne", class:"input-xlarge fullwidth input-flat jq_autocomplete", autofocus:"autofocus", data: {autocomplete_source: people_path})

              = text_field_tag(:function, '', placeholder:"Fonction", class:"input-xlarge fullwidth input-flat")
              = hidden_field_tag(:structure_id, @structure.id)

              
          .span6
            %button.btn.btn-primary.btn-alert.btn-large{type:"submit"}
              Créer la personne
  
-# _____________________ New Person V1
  %li.btn-in-list
    = link_to new_structure_person_path(@structure) do
      %i.entypo.edi-plus3
      %span
        Ajouter une personne