
.container.form-signin
  .logo
    /%i.entypo.edi-logoedgar_under.logotype
    %i.entypo.ed-icon-ed-logo_under.logotype
    /%i.entypo.edi-logoedgar.logotype
    %i.entypo.ed-icon-ed-logo.logotype
      
  = simple_form_for resource, :as => resource_name, :url => update_user_confirmation_path, :html => {:class => 'form-horizontal form-signin', :method => 'put'}, :id => 'activation-form' do |f|
    = devise_error_messages!
    
    %h1 #{t("simple_form.labels.defaults.firsttime_welcome")}
    %fieldset
      %legend
        #{t("simple_form.labels.defaults.firsttime_wording2")}
        <br>
        - if resource.email
          #{resource.email}
      - if @requires_password
        .row-fluid
          .span6
            = f.input_field :name, :autofocus => true
        .row-fluid
          .span6
            = f.input_field :first_name
          .span6
            = f.input_field :last_name
            
        .row-fluid
          .span12
            = f.simple_fields_for :accounts do |account|
              = account.input_field :name
            
        .row-fluid
          .span6
            = f.input_field :password
          .span6
            = f.input_field :password_confirmation
          
          %span.infolabel
            #{t("simple_form.labels.defaults.recommnandations_password")}        
        
        

      = hidden_field_tag :confirmation_token, @confirmation_token
      
      /%p= f.submit "Activate"
      = f.submit "C’est parti !", :class => "btn btn-large btn-primary"
      /<button class="btn btn-large btn-primary" type="submit"></button>
      
      /<br>
      /<alert>Saisissez votre mot de passe.</alert>
      /<label class="checkbox">
