.container.simple-page
  .logo
    %i.entypo.edi-logoedgar_under.logotype
    %i.entypo.edi-logoedgar.logotype

  %h1 #{t("simple_form.labels.defaults.firsttime_welcome")}



  = simple_form_for resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-horizontal'}, :id => 'activation-form' do |f|
    = devise_error_messages!

    %fieldset
      %legend
        #{t("simple_form.labels.defaults.firsttime_wording1")}
        <br>
      .row-fluid.control-group
        = f.input_field :first_name, :class=>"span6 inline"
        = f.input_field :last_name, autocomplete: "off", :class=>"span6 inline"
        = f.input_field :email, autocomplete: "off", placeholder: "user@example.com"

      .row-fluid.control-group
        = f.input_field :password, :class=>"span6 inline", autocomplete: "off"
        = f.input_field :password_confirmation, :class=>"span6 inline"

        %span.help-block
          #{t("simple_form.labels.defaults.recommnandations_password")}        


        = f.input_field :label_name, placeholder: "Nom de votre label, association, groupe, compagnie ...", :class=>"span12"

      = hidden_field_tag :confirmation_token, @confirmation_token

      /%p= f.submit "Activate"
      = f.submit "C’est parti !", :class => "btn-primary btn-large"



          
        