- content_for :hero do
  / HEADER MAIN
  .hero-unit
    .container
      .row-fluid
        .span8
          %img{:alt => "", :src => "images/hero-img1.png"}/
        .span4
          %div
            %hr.half/
            %span.slogan
              %span.slogan-primo
                %span.de>
                  = t("home.slogan.of")
                
                = t("home.slogan.management")
                
              %br/
              %span.slogan-secundo
                = t("home.slogan.of")
              
              = t("home.slogan.creation")
            %p
              = t("home.slogan.are_you_artist")
              %br/
              =t("home.slogan.time")
              %br/
              %span.lenom Merci Edgar
              =t("home.slogan.edgar_for_you")
            %hr.half/
            .camein
              %a.btn.btn-large.btn-danger.btn-block{"data-toggle" => "modal", :href => "#request-invite"}
                = t("home.i_want_it")


%section#features-section
  .container
    .row-fluid.label-blocks
      / ITEM
      .span3
        .label.label-large.label-info
          / <i class='ed-icon-ed-search fa-icon-large black'></i>
          %img{:alt => "", :src => "images/pic-photo-1.png"}/
        %h4= t("home.features.find")
        %p= t("home.features.find_what")
      / / ITEM
      / ITEM
      .span3
        .label.label-large.label-info
          / <i class='ed-icon-ed_relations fa-icon-large black'></i>
          %img{:alt => "", :src => "images/pic-photo-2.png"}/
        %h4= t("home.features.track")
        %p= t("home.features.track_what")
      / / ITEM
      / ITEM
      .span3
        .label.label-large.label-info
          / <i class='ed-icon-ed-comm fa-icon-large black'></i>
          %img{:alt => "", :src => "images/pic-photo-3.png"}/
        %h4= t("home.features.communicate")
        %p= t("home.features.communicate_what")
      / / ITEM
      / ITEM
      .span3
        .label.label-large.label-info
          / <i class='ed-icon-ed-time fa-icon-large black'></i>
          %img{:alt => "", :src => "images/pic-photo-4.png"}/
        %h4= t("home.features.schedule")
        %p= t("home.features.schedule_what")
      / / ITEM
  / /CONTAINER
  /
    \/ ##################### FEATURES section ###########
    \======================================================
  / / MARKETING INTRO
  .container
    / FEATURED IMAGE
    .row-fluid
      .span12
        %span.section-title= t("home.promise.why")
    .row-fluid
      .span6
        .panel.first
          %p
            = t("home.promise.alone")
            %br/
            = t("home.promise.more_time_for")
            %br/
            = t("home.promise.goal")
            %p
            %a.btn.btn-large.btn-danger.btn-block{"data-toggle" => "modal", :href => "#request-invite"}
              = t("home.i_want_it")
      .span6
        .panel.first
          .row-fluid.paragraph-middle
            %ul.engagements
              %li
                %strong= t("home.commitments.free")
                %br/
                = t("home.commitments.free_details")
              %li
                %strong= t("home.commitments.simple")
                %br/
                = t("home.commitments.simple_details")
              %li
                %strong= t("home.commitments.no_installation")
                %br/
                = t("home.commitments.no_installation_details")
              %li
                %strong= t("home.commitments.byfor")
                %br/
                = t("home.commitments.byfor_details")
              %li
                %strong= t("home.commitments.evolutive")
                %br/
                = t("home.commitments.evolutive_details")
              
/
  \################## EDGAR TV SECTION #################
  \=======================================================
%section#tv-section
  .container
    / TITLE
    .row-fluid.panel
      .span12
        %span.section-title
          Edgar TV
        %p
          Le logiciel Merci Edgar va vous aider à être plus efficace dans votre recherche de dates.
          %br/
          Retrouvez un dimanche sur deux l'interview d'un professionnel du spectacle vivant.
    / TITLE
    /
      \################### START NEWS ###################
      \=======================================================
    #container-folio.row
      / portfolio item
      .span4.project-item.seo.graphics.box
        .thumbnail
          / IMAGE CONTAINER
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "276", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/60321828?title=0&portrait=0&byline=0", :webkitallowfullscreen => "", :width => "368", :title => 0, :portrait => 0}
          / END IMAGE CONTAINER
          / CAPTION
          .caption
            / TITLE
            %h4
              %a{:href => "#"} Stephanie Berrebi, journaliste
            / / TITLE
          / END CAPTION
        / END: THUMBNAIL
      / END: portfolio item
      .span4.project-item.seo.graphics.box
        .thumbnail
          / IMAGE CONTAINER
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "276", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/57886759?title=0&portrait=0&byline=0", :webkitallowfullscreen => "", :width => "368"}
          / END IMAGE CONTAINER
          / CAPTION
          .caption
            / TITLE
            %h4
              %a{:href => "#"} Sanseverino, artiste
            / / TITLE
          / END CAPTION
        / END: THUMBNAIL
      / END: portfolio item
      .span4.project-item.seo.graphics.box
        .thumbnail
          / IMAGE CONTAINER
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "276", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/59316999?title=0&portrait=0&byline=0", :webkitallowfullscreen => "", :width => "368"}
          / END IMAGE CONTAINER
          / CAPTION
          .caption
            / TITLE
            %h4
              %a{:href => "#"} Karim Kanal, accompagnateur-conseil
            / / TITLE
          / END CAPTION
        / END: THUMBNAIL
      / END: portfolio item

    / /container-folio row
    #container-folio.row
      / portfolio item
      .span4.project-item.seo.graphics.box
        .thumbnail
          / IMAGE CONTAINER https://vimeo.com/57263996
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "276", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/57263996?title=0&portrait=0&byline=0", :webkitallowfullscreen => "", :width => "368", :title => 0, :portrait => 0}
          / END IMAGE CONTAINER
          / CAPTION
          .caption
            / TITLE
            %h4
              %a{:href => "#"} Aurelie Thuot, productrice de spectacles
            / / TITLE
          / END CAPTION
        / END: THUMBNAIL
      / END: portfolio item
      .span4.project-item.seo.graphics.box
        .thumbnail
          / IMAGE CONTAINER https://vimeo.com/54195561
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "276", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/54195561?title=0&portrait=0&byline=0", :webkitallowfullscreen => "", :width => "368"}
          / END IMAGE CONTAINER
          / CAPTION
          .caption
            / TITLE
            %h4
              %a{:href => "#"} Papy, accompagnateur d'artiste
            / / TITLE
          / END CAPTION
        / END: THUMBNAIL
      / END: portfolio item
      .span4.project-item.seo.graphics.box
        .thumbnail
          / IMAGE CONTAINER https://vimeo.com/51145062
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "276", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/51145062?title=0&portrait=0&byline=0", :webkitallowfullscreen => "", :width => "368"}
          / END IMAGE CONTAINER
          / CAPTION
          .caption
            / TITLE
            %h4
              %a{:href => "#"} Marion Geoffroy, directrice de salle
            / / TITLE
          / END CAPTION
        / END: THUMBNAIL
      / END: portfolio item

    / /container-folio row

  / /CONTAINER
/
  \################## NEWS SECTION #################
  \=======================================================
%section#news-section
  .container
    / PRESS BLOCK
    .row-fluid.panel
      .span6
        %span.section-title
          %span.h3 Événements
          %span.inner Here's just a few places we've been covered.
        .row-fluid
          .edgar-news
            .span6
              %h4 Our App Launches Public Beta to Help our Clients
              %p
                "A product like this is important in the visual field, where an artist can open themselves up to criticism that, frankly, doesn't make a lick of sense. Google docs 2.0 - App, a new online collaboration tool, just launched. The venue provides a secure environment for creative teams in web, mobile, print, video, design, 3D and motion graphics to present their work for feedback and approval."
              %p.text-right
                %a.sml-link{:href => "#", :title => ""} Lire la suite
          .edgar-news
            .span6
              %h4 Our App Launches Public Beta to Help our Clients
              %p
                "A product like this is important in the visual field, where an artist can open themselves up to criticism that, frankly, doesn't make a lick of sense. Google docs 2.0 - App, a new online collaboration tool, just launched. The venue provides a secure environment for creative teams in web, mobile, print, video, design, 3D and motion graphics to present their work for feedback and approval."
              %p.text-right
                %a.sml-link{:href => "#", :title => ""} Lire la suite
      .span6
        %span.section-title
          Actualités
          %span.inner Here's just a few places we've been covered.
        .row-fluid
          .edgar-news
            .span6
              %h4 Our App Launches Public Beta to Help our Clients
              %p
                "A product like this is important in the visual field, where an artist can open themselves up to criticism that, frankly, doesn't make a lick of sense. Google docs 2.0 - App, a new online collaboration tool, just launched. The venue provides a secure environment for creative teams in web, mobile, print, video, design, 3D and motion graphics to present their work for feedback and approval."
              %p.text-right
                %a.sml-link{:href => "#", :title => ""} Lire la suite
          .edgar-news
            .span6
              %h4 Our App Launches Public Beta to Help our Clients
              %p
                "A product like this is important in the visual field, where an artist can open themselves up to criticism that, frankly, doesn't make a lick of sense. Google docs 2.0 - App, a new online collaboration tool, just launched. The venue provides a secure environment for creative teams in web, mobile, print, video, design, 3D and motion graphics to present their work for feedback and approval."
              %p.text-right
                %a.sml-link{:href => "#", :title => ""} Lire la suite
  / /CONTAINER
/ / portfolio section
%section#team-section
  .container
    .row-fluid.panel
      .span12
        %span.section-title
          L'équipe
          %span.inner Customer reviews the best indicator of confidence in you!
    .row-fluid
      .span3.testimonial-box
        .row-fluid
          .span8.offset2
            %img.img-circle{:alt => "", :src => "images/staff3.jpg"}/
        %p
        %h4 Christophe Robillard
        %br/
        %small Fondateur de Merci Edgar
        %br/
        %small Developpeur
        %p
          Forte d’un cursus en sociologie puis en conception et mise en oeuvre de projets culturels, je me suis spécialisée dans les professions du spectacle vivant et notamment la musique en suivant des formations relatives au management d’artistes, à la production de spectacle, à l’édition musicale...
        %a.sml-link{"data-toggle" => "modal", :href => "#team-christophe", :title => ""} En savoir plus
      .span3.testimonial-box
        .row-fluid
          .span8.offset2
            %img.img-circle{:alt => "", :src => "images/staff4.jpg"}/
        %p
        %h4 Aurélie Thuot
        %br/
        %small Conseillere technique pour Merci Edgar
        %br/
        %small Fondatrice et directrice du Label Adone.
        %br/
        %small Fondatrice et consultante d'Aglaé Services.
        %p
          Forte d’un cursus en sociologie puis en conception et mise en oeuvre de projets culturels, je me suis spécialisée dans les professions du spectacle vivant et notamment la musique en suivant des formations relatives au management d’artistes, à la production de spectacle, à l’édition musicale...
        %a.sml-link{:href => "#", :title => ""} En savoir plus
      .span3.testimonial-box
        .row-fluid
          .span8.offset2
            %img.img-circle{:alt => "", :src => "images/staff5.jpg"}/
        %p
        %h4 Jean-Paul Bagnis
        %br/
        %small Responsable design de Merci Edgar
        %br/
        %small Graphiste Freelance
        %p
          Forte d’un cursus en sociologie puis en conception et mise en oeuvre de projets culturels, je me suis spécialisée dans les professions du spectacle vivant et notamment la musique en suivant des formations relatives au management d’artistes, à la production de spectacle, à l’édition musicale...
        %a.sml-link{:href => "#", :title => ""} En savoir plus
      .span3.testimonial-box
        .row-fluid
          .span8.offset2
            %img.img-circle{:alt => "", :src => "images/staff2.jpg"}/
        %p
        %h4 Aline Texier
        %br/
        %small Conseillere technique pour Merci Edgar
        %br/
        %small Fondatrice et directrice du Label Adone.
        %br/
        %small Fondatrice et consultante d'Aglaé Services.
        %p
          Forte d’un cursus en sociologie puis en conception et mise en oeuvre de projets culturels, je me suis spécialisée dans les professions du spectacle vivant et notamment la musique en suivant des formations relatives au management d’artistes, à la production de spectacle, à l’édition musicale...
        %a.sml-link{:href => "#", :title => ""} En savoir plus
    / /ROW
  / /CONTAINER
/
  \############### MODAL INVITE SECTION #########
  \==================================================
#request-invite.modal{:style => "display: #{@user.errors.any? ? 'block' : 'none';}"}
  = simple_form_for resource, :as => resource_name, :url => registration_path(resource_name) , :html => {:class => 'form-horizontal' } do |f|
    .modal-header
      %a.close{"data-dismiss" => "modal"} ×
      %h3= t("home.request.invitation")
    .modal-body
      = f.error_notification
      %p= t("home.request.explanation")
      = f.input :email, :placeholder => 'user@example.com'
    .modal-footer
      = f.submit t("home.request.invitation"), :class => "btn btn-primary", :id => 'invitation_button'
      %a.btn{"data-dismiss" => "modal", :href => "#"}= t("cancel") 

#team-christophe.modal{:style => "display: none"}
  .modal-header
    %a.close{"data-dismiss" => "modal"} ×
    %h3 Christophe Robillard
  .modal-body
    %small.title Fondateur de Merci Edgar
    %small.title Developpeur
    %p
      blablabla