- content_for :hero do
  / HEADER MAIN
  .hero-unit
    .container
      .row-fluid
        .span8
          %img{:alt => "", :src => "images/hero-img1.png"}/
        .span4
          %div
            %span.slogan
              %span.slogan-primo
                %span.de= t("home.slogan.of")
                
                = t("home.slogan.management")
                
              %br/
              %span.slogan-secundo
                %span.de= t("home.slogan.of")
              = t("home.slogan.creation")
            %p
              = t("home.slogan.are_you_artist")
              %br/
              =t("home.slogan.time")
              %br/
              %span.lenom Merci Edgar
              =t("home.slogan.edgar_for_you")
            %hr.half/
            .camein
              %a.btn.btn-large.btn-danger.btn-block{"data-toggle" => "modal", :href => "#request-invite"}
                = t("home.i_want_it")


%section#features-section
  .container
    .row-fluid.label-blocks
      / ITEM
      .span3
        .label.label-large.label-info
          / <i class='ed-icon-ed-search fa-icon-large black'></i>
          %img{:alt => "", :src => "images/pic-photo-1.png"}/
        %h4= t("home.features.find")
        %p= t("home.features.find_what")
      / / ITEM
      / ITEM
      .span3
        .label.label-large.label-info
          / <i class='ed-icon-ed_relations fa-icon-large black'></i>
          %img{:alt => "", :src => "images/pic-photo-2.png"}/
        %h4= t("home.features.track")
        %p= t("home.features.track_what")
      / / ITEM
      / ITEM
      .span3
        .label.label-large.label-info
          / <i class='ed-icon-ed-comm fa-icon-large black'></i>
          %img{:alt => "", :src => "images/pic-photo-3.png"}/
        %h4= t("home.features.communicate")
        %p= t("home.features.communicate_what")
      / / ITEM
      / ITEM
      .span3
        .label.label-large.label-info
          / <i class='ed-icon-ed-time fa-icon-large black'></i>
          %img{:alt => "", :src => "images/pic-photo-4.png"}/
        %h4= t("home.features.schedule")
        %p= t("home.features.schedule_what")
      / / ITEM
  / /CONTAINER
  /
    \/ ##################### FEATURES section ###########
    \======================================================
  / / MARKETING INTRO
  .container
    / FEATURED IMAGE
    .row-fluid
      .span12
        %span.section-title= t("home.promise.why")
    .row-fluid
      .span6
        .panel.first
          %p
            = t("home.promise.alone")
            %br/
            = t("home.promise.more_time_for")
            %br/
            = t("home.promise.goal")
            %p
            %a.btn.btn-large.btn-danger.btn-block{"data-toggle" => "modal", :href => "#request-invite"}
              = t("home.i_want_it")
      .span6
        .panel.first
          .row-fluid.paragraph-middle
            %ul.engagements
              %li
                %strong= t("home.commitments.free")
                %br/
                = t("home.commitments.free_details")
              %li
                %strong= t("home.commitments.simple")
                %br/
                = t("home.commitments.simple_details")
              %li
                %strong= t("home.commitments.no_installation")
                %br/
                = t("home.commitments.no_installation_details")
              %li
                %strong= t("home.commitments.byfor")
                %br/
                = t("home.commitments.byfor_details")
              %li
                %strong= t("home.commitments.evolutive")
                %br/
                = t("home.commitments.evolutive_details")
              
/
  \################## EDGAR TV SECTION #################
  \=======================================================
%section#tv-section
  .container
    / TITLE
    .row-fluid.panel
      .span12
        %span.section-title
          Edgar TV
        %p.subtitle= t("home.tv.description")
        
    / TITLE
    /
      \################### START NEWS ###################
      \=======================================================
    #container-folio.row
      / portfolio item
      .span3.project-item.seo.graphics.box
        .thumbnail
          / IMAGE CONTAINER
          %a{:href => "http://blog.merciedgar.com/post/41597390981/sanseverino", :target => "blank"}
            %div
              .thumb-hover
              %img{:src => "images/screens/sansev.jpg"}/
            / END IMAGE CONTAINER
            / CAPTION
            .caption.text-center
              / TITLE
              %h4
                Sanseverino, artiste
            / / TITLE
          / END CAPTION
        / END: THUMBNAIL
      / END: portfolio item
      .span3.project-item.seo.graphics.box
        .thumbnail
          / IMAGE CONTAINER
          %a{:href => "http://blog.merciedgar.com/post/40413767004/aureliethuot", :target => "blank"}
            %div
              .thumb-hover
              %img{:src => "images/screens/aurelie.jpg"}/
            / END IMAGE CONTAINER
            / CAPTION
            .caption.text-center
              / TITLE
              %h4
                Aurélie Thuot, productrice de spectacles
            / / TITLE
          / END CAPTION
        / END: THUMBNAIL
      / END: portfolio item
      .span3.project-item.seo.graphics.box
        .thumbnail
          / IMAGE CONTAINER
          %a{:href => "http://blog.merciedgar.com/post/52538891880/francois-alquier-est-un-journaliste-atypique", :target => "blank"}
            %div
              .thumb-hover
              %img{:src => "images/screens/alquier.jpg"}/
            / END IMAGE CONTAINER
            / CAPTION
            .caption.text-center
              / TITLE
              %h4
                François Alquier, journaliste
            / / TITLE
          / END CAPTION
        / END: THUMBNAIL
      / END: portfolio item
      .span3.project-item.seo.graphics.box
        .thumbnail
          / IMAGE CONTAINER
          %a{:href => "http://blog.merciedgar.com/post/33374624316/mariongeoffroy", :target => "blank"}
            %div
              .thumb-hover
              %img{:src => "images/screens/marion.jpg"}/
            / END IMAGE CONTAINER
            / CAPTION
            .caption.text-center
              / TITLE
              %h4
                Marion Geoffroy, directrice de salle
            / / TITLE
          / END CAPTION
        / END: THUMBNAIL
      / END: portfolio item
      / portfolio item
      .span3.project-item.seo.graphics.box
        .thumbnail
          / IMAGE CONTAINER
          %a{:href => "http://blog.merciedgar.com/post/36508301980/papy", :target => "blank"}
            %div
              .thumb-hover
              %img{:src => "images/screens/papy.jpg"}/
            / END IMAGE CONTAINER
            / CAPTION
            .caption.text-center
              / TITLE
              %h4
                Papy, accompagnateur d'artistes
            / / TITLE
          / END CAPTION
        / END: THUMBNAIL
      / END: portfolio item
      .span3.project-item.seo.graphics.box
        .thumbnail
          / IMAGE CONTAINER
          %a{:href => "http://blog.merciedgar.com/post/43897181676/stephanie-berrebi-est-journaliste-mais-pas-que", :target => "blank"}
            %div
              .thumb-hover
              %img{:src => "images/screens/steph.jpg"}/
            / END IMAGE CONTAINER
            / CAPTION
            .caption.text-center
              / TITLE
              %h4
                Stéphanie Berrebi, journaliste
            / / TITLE
          / END CAPTION
        / END: THUMBNAIL
      / END: portfolio item
      .span3.project-item.seo.graphics.box
        .thumbnail
          / IMAGE CONTAINER
          %a{:href => "http://blog.merciedgar.com/post/42750733973/depuis-toujours-passionne-par-la-transmission-et", :target => "blank"}
            %div
              .thumb-hover
              %img{:src => "images/screens/karim.jpg"}/
            / END IMAGE CONTAINER
            / CAPTION
            .caption.text-center
              / TITLE
              %h4
                Karim Kanal Saïdani, accompagnateur-conseil
            / / TITLE
          / END CAPTION
        / END: THUMBNAIL
      / END: portfolio item
      .span3.project-item.seo.graphics.box
        .thumbnail
          / IMAGE CONTAINER
          %a{:href => "http://blog.merciedgar.com/post/34491364088/didierpascalis", :target => "blank"}
            %div
              .thumb-hover
              %img{:src => "images/screens/sansev.jpg"}/
            / END IMAGE CONTAINER
            / CAPTION
            .caption.text-center
              / TITLE
              %h4
                Sanseverino, artiste
            / / TITLE
          / END CAPTION
        / END: THUMBNAIL
      / END: portfolio item
      
    / /container-folio row
  / /CONTAINER
/

/
  \################## NEWS SECTION #################
  \=======================================================
%section#news-section
  .container
    / PRESS BLOCK
    .row-fluid.panel
      .span6
        %span.section-title
          = t("home.events.title")
        %p.subtitle= t("home.events.description")
        .row-fluid
          .edgar-news
            .span5
              %h4= t("home.events.event1.title")
              %p= t("home.events.event1.description").html_safe
                
              %p.text-right
                %a.sml-link{:href => "#", :title => ""} Lire la suite
          .edgar-news
            .span5.offset2
              %h4= t("home.events.event2.title")
              %p= t("home.events.event2.description").html_safe
              
              %p.text-right
                %a.sml-link{:href => "#", :title => ""} Lire la suite

      .span6
        %span.section-title
          = t("home.news.title")
        %p.subtitle= t("home.news.description")
        .row-fluid
          .edgar-news
            .span5
              %h4= t("home.news.news1.title")
              %p= t("home.news.news1.description").html_safe
              %p.text-right
                %a.sml-link{:href => "#", :title => ""} Lire la suite
          .edgar-news
            .span5.offset2
              %h4= t("home.news.news2.title")
              %p= t("home.news.news2.description").html_safe
              
              %p.text-right
                %a.sml-link{:href => "#", :title => ""} Lire la suite
  / /CONTAINER
/ / portfolio section
%section#team-section
  .container
    .row-fluid.panel
      .span12
        %span.section-title= t("home.team.title")
        %p.subtitle= t("home.team.description")
    .row-fluid
      .span3.testimonial-box
        .row-fluid
          .span8.offset2
            %img.img-circle{:alt => "", :src => "images/staff/robi.jpg"}/
        %p
        %h4 Christophe Robillard
        %br/
        %small= t("home.team.robi.title")
        %p= t("home.team.robi.description")
          
        %a.sml-link{"data-toggle" => "modal", :href => "#team-christophe", :title => ""} En savoir plus
      .span3.testimonial-box
        .row-fluid
          .span8.offset2
            %img.img-circle{:alt => "", :src => "images/staff/aurelie.jpg"}/
        %p
        %h4 Aurélie Thuot
        %br/
        %small= t("home.team.aurelie.title")
        %p= t("home.team.aurelie.description")
        %a.sml-link{:href => "#", :title => ""} En savoir plus
      .span3.testimonial-box
        .row-fluid
          .span8.offset2
            %img.img-circle{:alt => "", :src => "images/staff/jp.jpg"}/
        %p
        %h4 Jean-Paul Bagnis
        %br/
        %small= t("home.team.jp.title")
        %p= t("home.team.jp.description")
        %a.sml-link{:href => "#", :title => ""} En savoir plus
      .span3.testimonial-box
        .row-fluid
          .span8.offset2
            %img.img-circle{:alt => "", :src => "images/staff/aline.jpg"}/
        %p
        %h4 Aline Texier
        %br/
        %small= t("home.team.aline.title")
        %p= t("home.team.aline.description")
        %a.sml-link{:href => "#", :title => ""} En savoir plus
    / /ROW
    .row-fluid
      .span3.testimonial-box
        .row-fluid
          .span8.offset2
            %img.img-circle{:alt => "", :src => "images/staff/lylian.jpg"}/
        %p
        %h4 Lylian Monty
        %br/
        %small= t("home.team.lylian.title")
        %p= t("home.team.lylian.description")
        %a.sml-link{"data-toggle" => "modal", :href => "#team-christophe", :title => ""} En savoir plus
      .span3.testimonial-box
        .row-fluid
          .span8.offset2
            %img.img-circle{:alt => "", :src => "images/staff/nath.jpg"}/
        %p
        %h4 Nathalie Jacomet Young
        %br/
        %small= t("home.team.nath.title")
        %p= t("home.team.nath.description")
        %a.sml-link{:href => "#", :title => ""} En savoir plus
      .span3.testimonial-box
        .row-fluid
          .span8.offset2
            %img.img-circle{:alt => "", :src => "images/staff/fred.jpg"}/
        %p
        %h4 Frédéric Desreumaux
        %br/
        %small= t("home.team.fred.title")
        %p= t("home.team.fred.description")
        %a.sml-link{:href => "#", :title => ""} En savoir plus
      .span3.testimonial-box.youto
        .row-fluid
          .span8.offset2
            %img.img-circle{:alt => "", :src => "images/staff/people.jpg"}/
        %p
        %h4= t("home.team.people.title")
        %p= t("home.team.people.description")
        %a.sml-link{:href => "#", :title => ""} En savoir plus
    / /ROW
  / /CONTAINER
/
  \############### MODAL INVITE SECTION #########
  \==================================================
#request-invite.modal{:style => "display: #{@user.errors.any? ? 'block' : 'none';}"}
  = simple_form_for resource, :as => resource_name, :url => registration_path(resource_name) , :html => {:class => 'form-horizontal' } do |f|
    .modal-header
      %a.close{"data-dismiss" => "modal"} ×
      %h3= t("home.request.invitation")
    .modal-body
      = f.error_notification
      %p= t("home.request.explanation")
      = f.input :email, :placeholder => 'user@example.com'
    .modal-footer
      = f.submit t("home.request.invitation"), :class => "btn btn-primary", :id => 'invitation_button'
      %a.btn{"data-dismiss" => "modal", :href => "#"}= t("cancel") 

#team-christophe.modal{:style => "display: none"}
  .modal-header
    %a.close{"data-dismiss" => "modal"} ×
    %h3 Christophe Robillard
  .modal-body
    %small.title Fondateur de Merci Edgar
    %small.title Developpeur
    %p
      blablabla