%section#features-section
  .container
    .row-fluid.label-blocks
      / ITEM
      .span3
        .label.label-large.label-info.text-center
          %i.icon-ed-search.fa-icon-large.black
        %h4 Trouver rapidement des lieux
        %p compatibles avec votre style, selon leur emplacement, selon leur jauge, …
      / / ITEM
      / ITEM
      .span3
        .label.label-large.label-info.text-center
          %i.icon-ed_relations.fa-icon-large.black
        %h4 Gérez vos relations avec un lieu
        %p suivez l'historique de vos échanges, générez automatiquement le bon contrat, envoyez votre dernière fiche technique
      / / ITEM
      / ITEM
      .span3
        .label.label-large.label-info.text-center
          %i.icon-ed-comm.fa-icon-large.black
        %h4 Communiquez auprès des pros et de vos fans
        %p via Facebook ou par mail, et suivez qui a ouvert vos mails, qui a cliqué sur vos liens
      / / ITEM
      / ITEM
      .span3
        .label.label-large.label-info.text-center
          %i.icon-ed-time.fa-icon-large.black
        %h4 Planifieret gérer en un coup d'oeil
        %p vos tâches en cours, en retard, le planning de vos prochaines dates ou répétitions
      / / ITEM
  / /CONTAINER
  /
    \/ ##################### FEATURES section ###########
    \======================================================
  / / MARKETING INTRO
  .container
    / FEATURED IMAGE
    .row-fluid
      .span6
        .panel.first
          %span.text-right
            Pourquoi choisir Edgar ?
          %hr/
          %p
            Vous êtes artiste ? Vous n'avez pas encore de tourneur ? 
            %br/
            Vous n'avez pas le choix, vous devez vous occuper de tout, et tout seul ! alors que vous aimeriez consacrer davantage de temps à créer, répéter, jouer sur scène plutôt qu'à vous occuper de la communication, effectuer les tâches administratives, jouer au commercial pour se vendre...
            %br/
            Avec le logiciel Merci Edgar, vous aurez enfin un outil vous permettant d'être plus efficace, organisé dans votre recherche de dates. Bref, vous allez gagner du temps, du temps que vous pourrez consacrer à votre art, pour notre plaisir à tous !
          %p.text-center
            %a.btn.btn-large.btn-danger.btn-block{"data-toggle" => "modal", :href => "#request-invite"} Je veux tester !
      .span6
        .panel.first
          .row-fluid.paragraph-middle
            .span3.text-center
              %span.label.label-new
                %i.fa-icon-desktop.fa-icon-medium.color-dark
            .span9
              %p
                %strong Vous êtes libre
                %br/
                Vous pouvez vous désengager à tout moment et récupérer toutes vos données
          .row-fluid.paragraph-middle
            .span3.text-center
              %span.label.label-new
                %i.fa-icon-laptop.fa-icon-medium.color-dark
            .span9
              %p
                %strong Un outil simple
                %br/
                La prise en main de l'outil est rapide et à la portée de tous
                %br/
          .row-fluid.paragraph-middle
            .span3.text-center
              %span.label.label-new
                %i.fa-icon-tablet.fa-icon-medium.color-dark
            .span9
              %p
                %strong Aucune installation requise
                %br/
                Merci Edgar est accessible depuis n'importe quel navigateur
                %br/
          .row-fluid.paragraph-middle
            .span3.text-center
              %span.label.label-new
                %i.fa-icon-tablet.fa-icon-medium.color-dark
            .span9
              %p
                %strong Fait par des artistes, pour des artistes
                %br/
                et ça, ça change tout ! Voir la bio de l'équipe

/
  \################## EDGAR TV SECTION #################
  \=======================================================
%section#tv-section
  .container
    / TITLE
    .row-fluid.panel
      .span12.text-center
        %span
          Edgar TV
        %p 
          Le logiciel Merci Edgar va vous aider à être plus efficace dans votre recherche de dates. 
          %br
          Retrouvez un dimanche sur deux l'interview d'un professionnel du spectacle vivant.
    / TITLE
    /
      \################### START NEWS ###################
      \=======================================================
    #container-folio.row
      / portfolio item
      .span4.project-item.seo.graphics.box
        .thumbnail
          / IMAGE CONTAINER
          %a.img-wrap{"data-gal" => "prettyPhoto[gallery]", :href => "images/thumbonelarge.jpg"}
            %img{:alt => "iPhonegraphy", :src => "images/thumbone.jpg"}/
          / END IMAGE CONTAINER
          / CAPTION
          .caption.text-center
            / TITLE
            %h4
              %a{:href => "#"} Sanseverino, artiste
            / / TITLE
          / END CAPTION
        / END: THUMBNAIL
      / END: portfolio item
      / portfolio item
      .span4.project-item.seo.graphics.box
        .thumbnail
          / IMAGE CONTAINER
          %a.img-wrap{"data-gal" => "prettyPhoto[gallery]", :href => "images/thumbtwolarge.jpg"}
            %img{:alt => "iPhonegraphy", :src => "images/thumbtwo.jpg"}/
          / END IMAGE CONTAINER
          / CAPTION
          .caption.text-center
            / TITLE
            %h4
              %a{:href => "#"} Aurelie Thuot, productrice de spectacles
            / / TITLE
          / END CAPTION
        / END: THUMBNAIL
      / END: portfolio item
      / portfolio item
      .span4.project-item.seo.graphics.box
        .thumbnail
          / IMAGE CONTAINER
          %a.img-wrap{"data-gal" => "prettyPhoto[gallery]", :href => "images/thumbthreelarge.jpg"}
            %img{:alt => "iPhonegraphy", :src => "images/thumbthree.jpg"}/
          / END IMAGE CONTAINER
          / CAPTION
          .caption.text-center
            / TITLE
            %h4
              %a{:href => "#"} Stephanie Berrebi, journaliste
            / / TITLE
          / END CAPTION
        / END: THUMBNAIL
      / END: portfolio item
    / /container-folio row
  / /CONTAINER
/
  \################## NEWS SECTION #################
  \=======================================================
%section#news-section

  .container
    / PRESS BLOCK
    .row-fluid.panel
      .span6.text-center
        %span
          Evenements
          %span.inner Here's just a few places we've been covered.

        .row-fluid
          .edgar-news
            .span6
              %h4 Our App Launches Public Beta to Help our Clients
              %p.lead
                "A product like this is important in the visual field, where an artist can open themselves up to criticism that, frankly, doesn't make a lick of sense. Google docs 2.0 - App, a new online collaboration tool, just launched. The venue provides a secure environment for creative teams in web, mobile, print, video, design, 3D and motion graphics to present their work for feedback and approval."
              %p.text-right
                %a.btn{:href => "#", :title => ""} Read more &rarr;

          .edgar-news
            .span6
              %h4 Our App Launches Public Beta to Help our Clients
              %p.lead
                "A product like this is important in the visual field, where an artist can open themselves up to criticism that, frankly, doesn't make a lick of sense. Google docs 2.0 - App, a new online collaboration tool, just launched. The venue provides a secure environment for creative teams in web, mobile, print, video, design, 3D and motion graphics to present their work for feedback and approval."
              %p.text-right
                %a.btn{:href => "#", :title => ""} Read more &rarr;


      .span6.text-center
        %span
          Actualités
          %span.inner Here's just a few places we've been covered.

        .row-fluid
          .edgar-news
            .span6
              %h4 Our App Launches Public Beta to Help our Clients
              %p.lead
                "A product like this is important in the visual field, where an artist can open themselves up to criticism that, frankly, doesn't make a lick of sense. Google docs 2.0 - App, a new online collaboration tool, just launched. The venue provides a secure environment for creative teams in web, mobile, print, video, design, 3D and motion graphics to present their work for feedback and approval."
              %p.text-right
                %a.btn{:href => "#", :title => ""} Read more &rarr;

          .edgar-news
            .span6
              %h4 Our App Launches Public Beta to Help our Clients
              %p.lead
                "A product like this is important in the visual field, where an artist can open themselves up to criticism that, frankly, doesn't make a lick of sense. Google docs 2.0 - App, a new online collaboration tool, just launched. The venue provides a secure environment for creative teams in web, mobile, print, video, design, 3D and motion graphics to present their work for feedback and approval."
              %p.text-right
                %a.btn{:href => "#", :title => ""} Read more &rarr;


  / /CONTAINER
/ / portfolio section
%section#team-section

  .container
    .row-fluid.panel
      .span12.text-center
        %span
          L'équipe
          %span.inner Customer reviews the best indicator of confidence in you!
    .row-fluid
      .span3.text-center.testimonial-box
        .row-fluid
          .span8.offset2
            %img.img-circle{:alt => "", :src => "images/staff3.jpg"}/
        %p
          %strong Christophe Robillard
          %br
          %small Fondateur de Merci Edgar
          %br
          %small Developpeur
          %p
            Forte d’un cursus en sociologie puis en conception et mise en oeuvre de projets culturels, je me suis spécialisée dans les professions du spectacle vivant et notamment la musique en suivant des formations relatives au management d’artistes, à la production de spectacle, à l’édition musicale...                
        %a{:href => "#", :title => "", "data-toggle" => "modal", :href => "#team-christophe"} En savoir plus &rarr;
      .span3.text-center.testimonial-box
        .row-fluid
          .span8.offset2
            %img.img-circle{:alt => "", :src => "images/staff4.jpg"}/
        %p
          %strong Aurélie Thuot
          %br
          %small Conseillere technique pour Merci Edgar
          %br
          %small Fondatrice et directrice du Label Adone. 
          %br
          %small Fondatrice et consultante d'Aglaé Services.

          %p
            Forte d’un cursus en sociologie puis en conception et mise en oeuvre de projets culturels, je me suis spécialisée dans les professions du spectacle vivant et notamment la musique en suivant des formations relatives au management d’artistes, à la production de spectacle, à l’édition musicale...                
        %a{:href => "#", :title => ""} En savoir plus &rarr;
      .span3.text-center.testimonial-box
        .row-fluid
          .span8.offset2
            %img.img-circle{:alt => "", :src => "images/staff5.jpg"}/
        %p
          %strong Jean-Paul Bagnis
          %br
          %small Responsable design de Merci Edgar
          %br
          %small Graphiste Freelance

          %p
            Forte d’un cursus en sociologie puis en conception et mise en oeuvre de projets culturels, je me suis spécialisée dans les professions du spectacle vivant et notamment la musique en suivant des formations relatives au management d’artistes, à la production de spectacle, à l’édition musicale...                
        %a{:href => "#", :title => ""} En savoir plus &rarr;
      .span3.text-center.testimonial-box
        .row-fluid
          .span8.offset2
            %img.img-circle{:alt => "", :src => "images/staff2.jpg"}/
        %p
          %strong Aline Texier
          %br
          %small Conseillere technique pour Merci Edgar
          %br
          %small Fondatrice et directrice du Label Adone. 
          %br
          %small Fondatrice et consultante d'Aglaé Services.

          %p
            Forte d’un cursus en sociologie puis en conception et mise en oeuvre de projets culturels, je me suis spécialisée dans les professions du spectacle vivant et notamment la musique en suivant des formations relatives au management d’artistes, à la production de spectacle, à l’édition musicale...                
        %a{:href => "#", :title => ""} En savoir plus &rarr;

    / /ROW
  / /CONTAINER
/
  \############### MODAL INVITE SECTION #########
  \==================================================


#request-invite.modal{:style => "display: #{@user.errors.any? ? 'block' : 'none';}"}
  = simple_form_for resource, :as => resource_name, :url => registration_path(resource_name) , :html => {:class => 'form-horizontal' } do |f|
    .modal-header
      %a.close{"data-dismiss" => "modal"} ×
      %h3 Demande d'invitation
    .modal-body
      %p
        Nous allons travailler tout l'été pour vous permettre de tester en septembre notre logiciel de booking.
        Si vous voulez faire partie des privilégiés à tester le logiciel, laissez votre mail dès maintenant. Attention, seuls les premiers seront servis !
      = f.error_notification
      = f.input :email, :placeholder => 'user@example.com'
        
    .modal-footer
      = f.submit "Demande d'invitation", :class => "btn btn-primary", :id => 'invitation_button'
      %a.btn{"data-dismiss" => "modal", :href => "#"} Annuler

#team-christophe.modal{:style => "display: none"}
  .modal-header
    %a.close{"data-dismiss" => "modal"} ×
    %h3 Christophe Robillard
  .modal-body
    %small.title Fondateur de Merci Edgar
    %small.title Developpeur    
    %p
      blablabla
                    

