- content_for :hero do
  / HEADER MAIN
  .hero-unit
    .container
      .row-fluid
        .span12
          %img{:alt => "", :src => "images/hero-img2.png"}/
      .row-fluid
        .span12
          %div
            %span.slogan
              %span.slogan-primo
                %span.de= t("home.slogan.of")
                
                = t("home.slogan.management")
                
              
              %span.slogan-secundo
                %span.de= t("home.slogan.of")
              = t("home.slogan.creation")
            %p
              = t("home.slogan.are_you_artist")
              %br/
              =t("home.slogan.time")
              %br/
              %span.lenom Merci Edgar
              =t("home.slogan.edgar_for_you")
            %hr.half/
            #features-anchor.camein
              %a.btn.btn-large.btn-danger.btn-block{"data-toggle" => "modal", :href => "#request-invite"}
                = t("home.i_want_it")


%section#features-section
  .container
    .row-fluid.label-blocks
      / ITEM
      .span3
        .label.label-large.label-info
          / <i class='ed-icon-ed-search fa-icon-large black'></i>
          %img{:alt => "", :src => "images/pic-photo-1.png"}/
        %h4= t("home.features.find")
        %p= t("home.features.find_what")
      / / ITEM
      / ITEM
      .span3
        .label.label-large.label-info
          / <i class='ed-icon-ed_relations fa-icon-large black'></i>
          %img{:alt => "", :src => "images/pic-photo-2.png"}/
        %h4= t("home.features.track")
        %p= t("home.features.track_what")
      / / ITEM
      / ITEM
      .span3
        .label.label-large.label-info
          / <i class='ed-icon-ed-comm fa-icon-large black'></i>
          %img{:alt => "", :src => "images/pic-photo-3.png"}/
        %h4= t("home.features.communicate")
        %p= t("home.features.communicate_what")
      / / ITEM
      / ITEM
      .span3
        .label.label-large.label-info
          / <i class='ed-icon-ed-time fa-icon-large black'></i>
          %img{:alt => "", :src => "images/pic-photo-4.png"}/
        %h4= t("home.features.schedule")
        %p= t("home.features.schedule_what")
      / / ITEM
  / /CONTAINER
  /
    \/ ##################### FEATURES section ###########
    \======================================================
  / / MARKETING INTRO
  .container
    / FEATURED IMAGE
    .row-fluid
      .span12
        %span.section-title= t("home.promise.why")
    .row-fluid
      .span6
        .panel.first
          %p
            = t("home.promise.alone")
            %br/
            = t("home.promise.more_time_for")
            %br/
            = t("home.promise.goal")
            %p
            %a.btn.btn-large.btn-danger.btn-block{"data-toggle" => "modal", :href => "#request-invite"}
              = t("home.i_want_it")
      .span6
        .panel.first
          .row-fluid.paragraph-middle
            %ul.engagements
              %li
                %strong= t("home.commitments.free")
                %br/
                = t("home.commitments.free_details")
              %li
                %strong= t("home.commitments.simple")
                %br/
                = t("home.commitments.simple_details")
              %li
                %strong= t("home.commitments.no_installation")
                %br/
                = t("home.commitments.no_installation_details")
              %li
                %strong= t("home.commitments.byfor")
                %br/
                = t("home.commitments.byfor_details")
              %li
                %strong= t("home.commitments.evolutive")
                %br/
                = t("home.commitments.evolutive_details")
              
/
  \################## EDGAR TV SECTION #################
  \=======================================================
%section#tv-section
  .container
    / TITLE
    .row-fluid.panel
      .span12
        %h3
          %span
            Edgar TV
        %p.subtitle= t("home.tv.description")
        %a.sml-link.bigger{:href => "http://blog.merciedgar.com/tagged/entretien", :target => "blank"}= t("home.tv.more")
        
    / TITLE
    /
      \################### START NEWS ###################
      \=======================================================
    #container-folio.row
      / portfolio item
      .span3.project-item.seo.graphics.box
        .thumbnail
          / IMAGE CONTAINER
          %a{:href => "http://blog.merciedgar.com/post/41597390981/sanseverino", :target => "blank"}
            %div
              .thumb-hover
              %img{:src => "images/screens/sansev.jpg"}/
            / END IMAGE CONTAINER
            / CAPTION
            .caption.text-center
              / TITLE
              %h4
                Sanseverino, artiste
            / / TITLE
          / END CAPTION
        / END: THUMBNAIL
      / END: portfolio item
      .span3.project-item.seo.graphics.box
        .thumbnail
          / IMAGE CONTAINER
          %a{:href => "http://blog.merciedgar.com/post/40413767004/aureliethuot", :target => "blank"}
            %div
              .thumb-hover
              %img{:src => "images/screens/aurelie.jpg"}/
            / END IMAGE CONTAINER
            / CAPTION
            .caption.text-center
              / TITLE
              %h4
                Aurèlie Thuot, productrice de spectacles
            / / TITLE
          / END CAPTION
        / END: THUMBNAIL
      / END: portfolio item
      .span3.project-item.seo.graphics.box
        .thumbnail
          / IMAGE CONTAINER
          %a{:href => "http://blog.merciedgar.com/post/52538891880/francois-alquier-est-un-journaliste-atypique", :target => "blank"}
            %div
              .thumb-hover
              %img{:src => "images/screens/alquier.jpg"}/
            / END IMAGE CONTAINER
            / CAPTION
            .caption.text-center
              / TITLE
              %h4
                FranÁois Alquier, journaliste
            / / TITLE
          / END CAPTION
        / END: THUMBNAIL
      / END: portfolio item
      .span3.project-item.seo.graphics.box
        .thumbnail
          / IMAGE CONTAINER
          %a{:href => "http://blog.merciedgar.com/post/33374624316/mariongeoffroy", :target => "blank"}
            %div
              .thumb-hover
              %img{:src => "images/screens/marion.jpg"}/
            / END IMAGE CONTAINER
            / CAPTION
            .caption.text-center
              / TITLE
              %h4
                Marion Geoffroy, directrice de salle
            / / TITLE
          / END CAPTION
        / END: THUMBNAIL
      / END: portfolio item
      / portfolio item
      .span3.project-item.seo.graphics.box
        .thumbnail
          / IMAGE CONTAINER
          %a{:href => "http://blog.merciedgar.com/post/36508301980/papy", :target => "blank"}
            %div
              .thumb-hover
              %img{:src => "images/screens/papy.jpg"}/
            / END IMAGE CONTAINER
            / CAPTION
            .caption.text-center
              / TITLE
              %h4
                Papy, accompagnateur d'artistes
            / / TITLE
          / END CAPTION
        / END: THUMBNAIL
      / END: portfolio item
      .span3.project-item.seo.graphics.box
        .thumbnail
          / IMAGE CONTAINER
          %a{:href => "http://blog.merciedgar.com/post/43897181676/stephanie-berrebi-est-journaliste-mais-pas-que", :target => "blank"}
            %div
              .thumb-hover
              %img{:src => "images/screens/steph.jpg"}/
            / END IMAGE CONTAINER
            / CAPTION
            .caption.text-center
              / TITLE
              %h4
                StÈphanie Berrebi, journaliste
            / / TITLE
          / END CAPTION
        / END: THUMBNAIL
      / END: portfolio item
      .span3.project-item.seo.graphics.box
        .thumbnail
          / IMAGE CONTAINER
          %a{:href => "http://blog.merciedgar.com/post/42750733973/depuis-toujours-passionne-par-la-transmission-et", :target => "blank"}
            %div
              .thumb-hover
              %img{:src => "images/screens/karim.jpg"}/
            / END IMAGE CONTAINER
            / CAPTION
            .caption.text-center
              / TITLE
              %h4
                Karim Kanal SaÔdani, accompagnateur-conseil
            / / TITLE
          / END CAPTION
        / END: THUMBNAIL
      / END: portfolio item
      .span3.project-item.seo.graphics.box
        .thumbnail
          / IMAGE CONTAINER
          %a{:href => "http://blog.merciedgar.com/post/34491364088/didierpascalis", :target => "blank"}
            %div
              .thumb-hover
              %img{:src => "images/screens/didierpascalis.jpg"}/
            / END IMAGE CONTAINER
            / CAPTION
            .caption.text-center
              / TITLE
              %h4
                Didier Pascalis, producteur
            / / TITLE
          / END CAPTION
        / END: THUMBNAIL
      / END: portfolio item
      .span3.project-item.seo.graphics.box
        .thumbnail
          / IMAGE CONTAINER
          %a{:href => "http://blog.merciedgar.com/post/38631124519/kidibuzz", :target => "blank"}
            %div
              .thumb-hover
              %img{:src => "images/screens/nomi.jpg"}/
            / END IMAGE CONTAINER
            / CAPTION
            .caption.text-center
              / TITLE
              %h4
                Nomi, programmateur
            / / TITLE
          / END CAPTION
        / END: THUMBNAIL
      / END: portfolio item
      .span3.project-item.seo.graphics.box
        .thumbnail
          / IMAGE CONTAINER
          %a{:href => "http://blog.merciedgar.com/post/51384353684/roxanne-joseph-avec-carole-chichin-et-nicolas", :target => "blank"}
            %div
              .thumb-hover
              %img{:src => "images/screens/roxanne.jpg"}/
            / END IMAGE CONTAINER
            / CAPTION
            .caption.text-center
              / TITLE
              %h4
                Roxane Joseph, directrice de festival
            / / TITLE
          / END CAPTION
        / END: THUMBNAIL
      / END: portfolio item            
      .span3.project-item.seo.graphics.box
        .thumbnail
          / IMAGE CONTAINER
          %a{:href => "http://blog.merciedgar.com/post/53671067577/edgard-garcia-est-le-directeur-de-zebrock-une", :target => "blank"}
            %div
              .thumb-hover
              %img{:src => "images/screens/garcia.jpg"}/
            / END IMAGE CONTAINER
            / CAPTION
            .caption.text-center
              / TITLE
              %h4
                Edgard Garcia, directeur d'une association d'action culturelle
            / / TITLE
          / END CAPTION
        / END: THUMBNAIL
      / END: portfolio item      
      .span3.project-item.seo.graphics.box
        .thumbnail
          / IMAGE CONTAINER
          %a{:href => "http://blog.merciedgar.com/post/47936599491/florence-faissat-est-programmatrice-pour-les", :target => "blank"}
            %div
              .thumb-hover
              %img{:src => "images/screens/faissat.jpg"}/
            / END IMAGE CONTAINER
            / CAPTION
            .caption.text-center
              / TITLE
              %h4
                Florence Faissat, programmatrice tÈlÈ
            / / TITLE
          / END CAPTION
        / END: THUMBNAIL
      / END: portfolio item
    / /container-folio row
    %a.sml-link.bigger{:href => "http://blog.merciedgar.com/tagged/entretien", :target => "blank"}= t("home.tv.more")
  / /CONTAINER
/

/
  \################## NEWS SECTION #################
  \=======================================================
%section#news-section
  .container
    / PRESS BLOCK
    .row-fluid.panel
      .span6
        %h3
          %span
            = t("home.events.title")
        %p.subtitle
          = t("home.events.description")
          
        .row-fluid
          .edgar-news
            .span5
              %h4= t("home.events.event1.title")
              %p= t("home.events.event1.description").html_safe
                
              %p.text-right
                %a.sml-link{:href => "http://blog.merciedgar.com/post/54441323172/pique-nique-dedgar-au-parc-de-la-villette", :title => "", :target => "blank"}= t("home.team.more")
          .edgar-news
            .span5.offset2
              %h4= t("home.events.event2.title")
              %p= t("home.events.event2.description").html_safe
              
              %p.text-right
                %a.sml-link{:href => "http://blog.merciedgar.com/post/54441606419/edgar-sera-a-avignon", :title => "", :target => "blank"}= t("home.team.more")
          %a.sml-link.bigger{:href => "http://blog.merciedgar.com/tagged/event", :target => "blank"}= t("home.events.more")
      .span6
        %h3
          %span
          = t("home.news.title")
        %p.subtitle
          = t("home.news.description")
          
        .row-fluid
          .edgar-news
            .span5
              %h4= t("home.news.news1.title")
              %p= t("home.news.news1.description").html_safe
              %p.text-right
                %a.sml-link{:href => "http://blog.merciedgar.com/post/54169780157/edgar-en-pleine-ebullition", :title => "", :target => "blank"}= t("home.team.more")
          .edgar-news
            .span5.offset2
              %h4= t("home.news.news2.title")
              %p= t("home.news.news2.description").html_safe
              
              %p.text-right
                %a.sml-link{:href => "http://blog.merciedgar.com/post/52058967916/edgar-a-la-peche-et-cest-grace-au-fidim", :title => ""}= t("home.team.more")
          %a.sml-link.bigger{:href => "http://blog.merciedgar.com/tagged/news", :target => "blank"}= t("home.news.more")
  / /CONTAINER
/ / portfolio section
%section#team-section
  .container
    .row-fluid.panel
      .span12
        %h3
          %span
            = t("home.team.title")
        %p.subtitle= t("home.team.description")
    .row-fluid
      .span3.testimonial-box
        .row-fluid
          .span8.offset2
            %img.img-circle{:alt => "", :src => "images/staff/robi.jpg"}/
        %p
        %h4 Christophe Robillard
        %br/
        %small= t("home.team.robi.title")
        %p= t("home.team.robi.description")
          
        %a.sml-link{"data-toggle" => "modal", :href => "#team-christophe", :title => ""}= t("home.team.more")
      .span3.testimonial-box
        .row-fluid
          .span8.offset2
            %img.img-circle{:alt => "", :src => "images/staff/aurelie.jpg"}/
        %p
        %h4 AurÈlie Thuot
        %br/
        %small= t("home.team.aurelie.title")
        %p= t("home.team.aurelie.description")
        %a.sml-link{"data-toggle" => "modal", :href => "#team-aurelie", :title => ""}= t("home.team.more")
      .span3.testimonial-box
        .row-fluid
          .span8.offset2
            %img.img-circle{:alt => "", :src => "images/staff/jp.jpg"}/
        %p
        %h4 Jean-Paul Bagnis
        %br/
        %small= t("home.team.jp.title")
        %p= t("home.team.jp.description").html_safe
        %a.sml-link{"data-toggle" => "modal", :href => "#team-jp", :title => ""}= t("home.team.more")
      .span3.testimonial-box
        .row-fluid
          .span8.offset2
            %img.img-circle{:alt => "", :src => "images/staff/aline.jpg"}/
        %p
        %h4 Aline Texier
        %br/
        %small= t("home.team.aline.title")
        %p= t("home.team.aline.description")
        %a.sml-link{"data-toggle" => "modal", :href => "#team-aline", :title => ""}= t("home.team.more")
    / /ROW
    .row-fluid
      .span3.testimonial-box
        .row-fluid
          .span8.offset2
            %img.img-circle{:alt => "", :src => "images/staff/lylian.jpg"}/
        %p
        %h4 Lylian Monty
        %br/
        %small= t("home.team.lylian.title")
        %p= t("home.team.lylian.description")
        %a.sml-link{"data-toggle" => "modal", :href => "#team-lylian", :title => ""}= t("home.team.more")
      .span3.testimonial-box
        .row-fluid
          .span8.offset2
            %img.img-circle{:alt => "", :src => "images/staff/nath.jpg"}/
        %p
        %h4 Nathalie Jacomet Young
        %br/
        %small= t("home.team.nath.title")
        %p= t("home.team.nath.description")
        
      .span3.testimonial-box
        .row-fluid
          .span8.offset2
            %img.img-circle{:alt => "", :src => "images/staff/fred.jpg"}/
        %p
        %h4 FrÈdÈric Desreumaux
        %br/
        %small= t("home.team.fred.title")
        %p= t("home.team.fred.description")
        
      .span3.testimonial-box.youto
        .row-fluid
          .span8.offset2
            %img.img-circle{:alt => "", :src => "images/staff/people.jpg"}/
        %p
        %h4= t("home.team.people.title")
        %p= t("home.team.people.description")
        
    / /ROW
  / /CONTAINER
/
  \############### MODAL INVITE SECTION #########
  \==================================================
#request-invite.modal{:style => "display: #{@user.errors.any? ? 'block' : 'none';}"}
  = simple_form_for resource, :as => resource_name, :url => registration_path(resource_name) , :html => {:class => 'form-horizontal' } do |f|
    .modal-header
      %a.close{"data-dismiss" => "modal"} ◊
      %h3= t("home.request.invitation")
    .modal-body
      = f.error_notification
      %p= t("home.request.explanation")
      = f.input :email, :placeholder => 'user@example.com'
    .modal-footer
      = f.submit t("home.request.invitation"), :class => "btn btn-primary", :id => 'invitation_button'
      %a.btn{"data-dismiss" => "modal", :href => "#"}= t("cancel") 

#team-christophe.modal{:style => "display: none"}
  .modal-header
    %a.close{"data-dismiss" => "modal"} ◊
    %h3 Christophe Robillard
  .modal-body
    .row-fluid
      .span2
        %img.img-circle{:alt => "", :src => "images/staff/robi.jpg"}/
      .span10
        %small.title Fondateur de Merci Edgar
        %small.title Developpeur
        %p
          Je me prÈsente. Je míappelle Christophe Robillard, jíai 35 ans. On me surnomme Robi. Je suis chanteur, pianiste, compositeur. Je ne vis pas de la scËne. Comme beaucoup díintermittents du spectacle, jíai díautres activitÈs ‡ cÙtÈ. Certains donnent des cours de chant, de guitare, de thÈ‚tre. Personnellement, ce qui me fait vivre, cíest líinformatique.
        %p
          Comme beaucoup, je níai pas de tourneur, de chargÈ de diffusion, díagent qui míaiderait ‡ dÈvelopper plus efficacement mon projet. Alors je dÈpense une Ènergie folle dans la communication, dans la recherche de nouvelles dates. Comme beaucoup, la majeure partie de mon temps est consacrÈ ‡ des t‚ches non artistiques, mais indispensables pour continuer.
        %p
          LíannÈe derniËre, je jouais mon spectacle au Sentier des Halles ‡ Paris, accompagnÈ díOlivia Scemama ‡ la contrebasse et de deux comÈdiens improvisateurs, MÈlanie Le Moine et Thierry Bilisko. Je ne vous cache pas que nous Ètions heureux díavoir líopportunitÈ de jouer dans cette salle qui a une petite renommÈe (elle appartient ‡ líOlympia). Mon passage ‡ Vivement Dimanche chez Drucker y a sans doute ÈtÈ pour quelque chose Ö Nous avons rempli les deux dates. Evidemment, ce níest pas trËs compliquÈ, cíest une petite salle ; mais nous Ètions content díavoir rÈussi ‡ mobiliser notre public.
        %p
          Il y avait un hic. Pas un programmateur ! Pas un directeur de salle ! Aucun ne síÈtait dÈplacÈ ! Ce níÈtait pas faute de les avoir informÈ. Quíon se comprenne bien, je ne leur jette pas la pierre, mais cíest ‡ ce moment que jíai pris conscience que je níÈtais pas suffisamment outillÈ pour ìvendreî mon spectacle ‡ des salles, communiquer intelligemment aux professionnels de la profession ;)

        %p
          Alors jíai enfilÈ ma casquette díinformaticien et me suis dit : ìAujourdíhui, je níai pas  de tourneur, pas de chargÈ de diffusion ? Quí‡ cela ne tienne, je vais en inventer un, il síappellera Edgar !î Et cíest ainsi que míest venue líidÈe de dÈvelopper un logiciel qui aide les artistes sans entourage professionnel ‡ Ítre plus efficace dans leur communication et dans leur recherche de dates. Edgar proposera donc aux artistes des outils les aidant au quotidien dans toutes leurs t‚ches non artistiques.
        %p
          Dans mes rÍves les plus fous, je me suis mis ‡ imaginer Edgar proposer plusieurs outils : 
          %ul
            %li un logiciel pour gÈrer ses diffÈrents contacts professionnels, en faire le suivi, leur adresser des mails en masse sans avoir ‡ bricoler avec un fichier excel de 40 colonnes et un logiciel de mail qui míinterdit díen envoyer plus de 50 !
            %li des video díinterview de directeurs de salle, de tourneurs, de journalistes, de chargÈs de diffusion, permettant ‡ líartiste de mieux apprÈhender líunivers du spectacle vivant.
            %li líorganisation de journÈes clÈ en main proposant des plateaux díartistes devant un parterre de directeurs de salles.
          Bref, je me suis mis ‡ rÍverÖ Et puis jíai dÈcidÈ de donner vie ‡ Edgar. 
        %p
          Alors on dit quoi ? Merci Edgar !

#team-aurelie.modal{:style => "display: none"}
  .modal-header
    %a.close{"data-dismiss" => "modal"} ◊
    %h3 Aurelie Thuot
  .modal-body
    .row-fluid
      .span2
        %img.img-circle{:alt => "", :src => "images/staff/aurelie.jpg"}/
      .span10
        %small.title ConseillËre technique pour Merci Edgar / Fondatrice et directrice du label Adone / Fondatrice et consultante d'Aglae Services
        
        %p
          Forte díun cursus en sociologie puis en conception et mise en oeuvre de projets culturels, je me suis spÈcialisÈe dans les professions du spectacle vivant et notamment la musique en suivant des formations relatives au management díartistes, ‡ la production de spectacle, ‡ líÈdition musicale...
        %p
          AprËs avoir ÈtÈ attachÈe de presse sur la production díart lyrique Norma Yeu 2001, conseillËre administrative et chargÈe de diffusion pour la compagnie de thÈ‚tre DÈli DÈlo ainsi quíassistante de Cathy Bitton (manager de Laurent Voulzy, Susheela Raman, Ö) en 2002, j'ai travaillÈ pendant deux ans comme assistante administrative au sein de la compagnie de thÈ‚tre EntrÈes de Jeu spÈcialisÈe dans les dÈbats thÈ‚traux. Cette expÈrience m'a permis díacquÈrir les compÈtences administratives requises dans le milieu spÈcifique du spectacle vivant.
        %p
          Ces rencontres míont menÈe ‡ la musique. Díabord tourneuse et attachÈe de presse pour le groupe Oldelaf et monsieur D en free lance, je fonde en 2004 en collaboration avec Les Fatals Picards la structure Adone.
        %p
          Adone est une structure associative, un label ‡ taille humaine spÈcialisÈ dans la production de spectacles (musique, humour et jeune public), le management d'artistes, l'accompagnement de carriËre, l'encadrement administratif et la production phonographique.
        %p
          Nous travaillons aujourd'hui avec Les Fatals Picards, Les Rois de la SuËde, JereM, L'ArmÈe du love, Les Petites Bourrettes, H2ommes et Arnaud Maillard ).
        %p
          J'ai en parallËle fondÈ la structure AglaÈ Services en collaboration avec ClÈment Praud, qui propose des services en traitement des salaires, conseils aux projets, recherches de financements et formations.
        %p
          Je donne aussi rÈguliËrement des formations autour de la production de spectacle et le management artistique auprËs d'organismes tels qu'ATLA ou Formations sur mesures.


#team-jp.modal{:style => "display: none"}
  .modal-header
    %a.close{"data-dismiss" => "modal"} ◊
    %h3 Jean-Paul Bagnis
  .modal-body
    .row-fluid
      .span2
        %img.img-circle{:alt => "", :src => "images/staff/jp.jpg"}/
      .span10
        %small.title Designer graphique et d'interface de Merci Edgar / Concepteur / Directeur artistique freelance

        %p
          Je consacre une grande part de mon activitÈ ‡ crÈer des campagnes de communication, identitÈs visuelles et sites Internet pour de jeunes entreprises, des projets associatifs ou engagÈs.
        %p
          La variÈtÈ des domaines d'activitÈ de mes commanditaires m'ouvrent des horizons insoupÁonnÈs, et les rencontres nourrissent ma curiositÈ toujours ‡ l'aff˚t de nouvelles maniËres de travailler et de penser.
        %p
          Par ailleurs le bÈnÈvolat de compÈtences pour des associations permet un double saut : un engagement au service de causes qui m'importent et une dÈcouverte de pratiques alternatives, car c'est dans ces endroits que se forgent de nouveaux modËles (Èconomiques, Èthiques, de travail collaboratif, etc.).
        %p
          Selon moi le mÈtier de designer consiste ‡ rÈsoudre un problËme en ayant toujours en ligne de mire l'humain et la recherche de la simplicitÈ.

        %p
          Le projet Merci Edgar m'a plu d'emblÈe car il offre aux artistes des outils pour travailler plus efficacement, libÈrant ainsi du temps pour ce qui compte le plus : la crÈativitÈ.
          
#team-aline.modal{:style => "display: none"}
  .modal-header
    %a.close{"data-dismiss" => "modal"} ◊
    %h3 Aline Texier
  .modal-body
    .row-fluid
      .span2
        %img.img-circle{:alt => "", :src => "images/staff/aline.jpg"}/
      .span10
        %small.title ConseillËre technique pour Merci Edgar / ChargÈe de production du label Adone

        %p
          A dÈfaut d'Ètudes supÈrieures, aprËs mon bac je dÈmÈnage ‡ Paris et intËgre les Cours Florent (cours d'art dramatique) avec le rÍve fou de devenir comÈdienne et surtout.. d'en vivre ! Je ferai les 3 ans du cursus mais la rÈalitÈ du mÈtier me rattrape vite car en parallËle des cours, je dÈcouvre le ThÈ‚tre Les Blancs Manteaux et je commence ‡ y travailler en tant qu'accessoiriste sur un spectacle. Rapidement, j'y trouve ma place et deviens assistante de direction : j'y resterai 4 ans. 
          
        %p
          AnnÈes durant lesquelles la programmation humour du thÈ‚tre se dÈveloppera jusqu'‡ la programmation de concerts tous les soirs : mes premiËres rencontres avec le milieu des musiques actuelles. A cÙtÈ de cette activitÈ, je continue, tous les ans, ‡ m'investir sur un festival : Le Dinard Comedy Festival (anciennement Les Estivales du rire de Dinard) : je fais partie d l'Èquipe organisatrice et sur l'ÈvËnement j'occupe le poste de coordinatrices des artistes. 
        %p
          Vient un temps o˘ je souhaite me professionnaliser et dÈvelopper mes compÈtences dans le milieu culturel : j'intËgre la formation "Management artistique et culturel" de l'Ecole Atla. TrËs vite aprËs ma formation, j'intËgre Adone o˘ j'occupe actuellement le poste de ChargÈe de production.
          
#team-lylian.modal{:style => "display: none"}
  .modal-header
    %a.close{"data-dismiss" => "modal"} ◊
    %h3 Lylian Monty
  .modal-body
    .row-fluid
      .span2
        %img.img-circle{:alt => "", :src => "images/staff/lylian.jpg"}/
      .span10
        %small.title Gardien des chiffres et des grands Èquilibres de Merci Edgar / Ecrivain / Fleuriste / Manager conseil

        %p
          Quelque part entre Full Monty et Monty Python, il y a Lylian Monty. Je suis un artisan au service de la reine des fleurs (fleuriste en un mot !) doublÈ díun consultant au royaume de la technologie, ‡ moins que ce ne soit le contraire.
        %p
          Jíai Ècrit des romans singuliers parmi lesquels un triptyque plutÙt acide qui mía valu quelques lecteurs dont Robi de Robi & Co. De fil en aiguille,  jíai ensuite imaginÈ des paroles pour des chansons lumineuses que Robi a systÈmatiquement refusÈes ‡ líexception díune seule : un must ! Avec Robi, nous avons rÈflÈchi ‡ plusieurs projets ces derniËres annÈes jusquí‡ ce que germe dans son esprit líidÈe de Merci Edgar ! 

        %p
          Ma marque de fabrique cíest líÈclectisme et une passion sans limite pour la crÈation artistique. Merci Edgar ! est rÈsolument au service díartistes crÈatifs dÈsireux de se produire sur scËne. Alors, prÍts pour le grand saut ?
          
        