!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1 Invitation
    %p
      = @manager
      = "vous invite à accéder à la base Merci Edgar du compte #{@account.name}."
      = @account.name 
      
    %p
      Merci de cliquer sur le lien suivant pour y accéder :
      = link_to "Accéder au compte #{@account.name}", locale_root_url(locale: :fr, subdomain: @account.domain)
      
