!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1 Bonjour
    %p
      = @manager 
      = "vous invite à accéder à la base Merci Edgar du compte #{@account.name}."
      
      = #{link_to ENV["DOMAIN"], root_url}.
    %p Merci de cliquer sur le lien suivant pour confirmer votre compte :
    %p= link_to 'Confirmer mon compte Merci Edgar', confirmation_url(@member, :confirmation_token => @member.confirmation_token, subdomain: @account.domain, :locale => I18n.locale)
