.row-fluid
  .span6
    /%ul.list-infos
    / %li.infolabel Infos personnelles
    

    %ul.list-infos
      - if @person.people_structures.present?
        %li.infolabel Fonction(s)
        %li
          - ps = @person.main_people_structure(current_user)
          %a.ico.principal.full{:href => "#"}
          = ps.title
          à
        
          .principal-company
            %ul.list-infos
              %li
                .pic.pic-small= image_tag ps.structure.fine_model.avatar_url
                = link_to ps.structure.fine_model do
                  %h4= ps.structure.fine_model.name
              %li
                = render ps.structure.address if ps.structure.address.present?
              %li= ps.structure.phone_number
              %li= link_to ps.structure.website_url, ps.structure.website_url, target: "_blank" if ps.structure.website_url.present?
            
            
        - @person.other_people_structures(current_user).each do |ps|
          %li
            = raw([ps.title, link_to(ps.structure.name, ps.structure)].compact.join(" à "))

     
    %ul.list-infos
      %li.infolabel Observations
      %li= @person.contact.remark || "Non renseigné"

              
              
              
  / _____________________________________________ right      
  .span6
    %ul.list-infos
      /%i.entypo.edi-location-2
      %li.infolabel Coordonnées
                                
      - @person.addresses.each do |address|
        = render address

      - @person.emails.each do |email|
        = render email

      - @person.phones.each do |phone|
        = render phone

      - @person.websites.each do |website|
        = render website

-#
    %ul.list-infos
      %li.infolabel Réseaux sociaux

      .tabbable
        %ul.nav.nav-tabs.sub-tabs
          %li.active
            %a{"data-toggle" => "tab", :href => "#facebook"}
              %i.entypo.edi-facebook
          %li
            %a{"data-toggle" => "tab", :href => "#twitter"}
              %i.entypo.edi-twitter

        .tab-content.sub-pane

          #facebook.tab-pane.active
            %ul.social-list
              %li
                %span Aujourd’hui à 12h30
                %span Superatis Tauri montis verticibus qui ad solis ospatiis porrqsdigitur. Sdfate distqsdqs rtum sublimius attoqdslluntur.
              %li
                %span Hier à 12h30
                %span Verticibus qui ad solis ospatiis porrigitur late distrtum sublimius attolluntur. Superatis Tauri montis qddqsverticibus qui ad solis ospatiis porrigitur late distrtum sublimius addttolluntur.
              %li
                %span Hier à 12h30
                %span Verticibus qui ad solis ospatiis porrigitur late distrtum sublimius attolluntur. Superatis Tauri montis qddqsverticibus qui ad solis ospatiis porrigitur late distrtum sublimius addttolluntur.
              %a Voir le profil facebook

          #twitter.tab-pane
            %ul.social-list
              twitter

