%li
  .meta
    -# _________________________ favorite
    - if person.favorite?(current_user)
      = link_to remove_to_favorites_contact_path(person), remote: true do
        %i.ico.favorite.full{id: "fav_contact_#{person.id}"}
    - else
      = link_to add_to_favorites_contact_path(person), remote: true do
        %i.ico.favorite{id: "fav_contact_#{person.id}"}
        
    -# _________________________ contacted
    - if person.contacted?
      %a.ico.contacted.full{:href => "#"}
    - else
      %a.ico.contacted{:href => "#"}
    -# _________________________ dealed
    %a.ico.dealed{:href => "#"}
    
    
    
    
    .actions
      = link_to edit_person_path(person), :class => "shybtn" do
        %i.entypo.edi-pencil
      = link_to person, :class => "shybtn", :method => :delete, :data => { :confirm => 'DELETE : Are you sure?' } do
        %i.entypo.edi-cross
        
  = link_to person do
    %h3= "#{person.first_name} #{person.name}"
    .pic= image_tag person.avatar_url(:thumb)
        
  %span
    - ps = person.people_structures.first
    - if ps.present?
      = ps.title if ps.title.present?
      = link_to ps.structure.name,ps.structure if ps.structure.present?
    
    - email = person.emails.first
    - if email.present?
      = email.address
    
    - phone = person.phones.first
    - if phone.present?
      = phone.national_number
      
  .tags
    %a.tag.tag-style Rock
    %a.tag.tag-style Punk
    %a.tag.tag-style Jeune public
    