%li
  .meta
    %a{:href => "#"}
      %i.entypo.edi-chat    
    %a{:href => "#"}
      %i.entypo.edi-flag
    %a{:href => "#"}
      %i.entypo.edi-heart
      
    .actions
      = link_to edit_person_path(person), :class => "shybtn" do
        %i.entypo.edi-pencil
      = link_to person, :class => "shybtn", :method => :delete, :data => { :confirm => 'DELETE : Are you sure?' } do
        %i.entypo.edi-cross
        
  = link_to person do
    %h3= "#{person.first_name} #{person.name}"
    .pic-container
      .pic
        /%i.entypo.edi-house
        = image_tag person.avatar_url(:thumb)
        
  %span
    - ps = person.people_structures.first
    - if ps.present?
      = ps.title if ps.title.present?
      = ps.structure.name if ps.structure.present?
    
    - email = person.emails.first
    - if email.present?
      = email.address
    
    - phone = person.phones.first
    - if phone.present?
      = phone.national_number
      
  .tags
    %span.tag.tag-type SMAC
    %span.tag.tag-style Rock
    %span.tag.tag-style Punk
    %span.tag.tag-style Jeune public
    %span.tag.tag-legal Co-réalisation
    %span.tag.tag-legal Location