%h1.page-title Modifier la structure
%h2= @venue.name

= simple_nested_form_for(@venue, :html => { :class => 'form-horizontal' }) do |f|
  /simple_form_for(@article, :html => { :class => 'form-horizontal' }) do |f|
  = f.error_notification

  .form-inputs
    %header 
      .pic-container
        .pic
          = image_tag @venue.avatar_url
    
    
    = f.input :name, label: false, :class => "span12"
    
    = f.fields_for :venue_info do |v|
      /, :class => "span4"
      /, :input_html => { :class => "span4" }
      .nested-fields
        = v.input :kind, :collection => [:smac, :bar, :private_venue, :theater, :cultural_center], selected: :private_venue
        
      /= f.fields_for :venue_info do |v|
      = v.fields_for :capacities do |capacity|
        .nested-fields
          = capacity.link_to_remove :title => "Remove this capacity" do
            %i.entypo.edi-minus-2
          = capacity.input :nb, :wrapper => :append do
            = capacity.input_field :nb, :class => "input-small"
            = capacity.input_field :kind, label:false, :collection => %w(Assis Debout Autre),  :selected => "Assis", :class => "add-on dropdown-toggle"
          .inline-inputs
            %label Dimensions du plateau
            = v.input :depth, :wrapper => :append, :label => false do
              =v.input_field :depth, :class => "input-mini"
              =content_tag :span, "P", :class => "add-on"

            = v.input :width, :wrapper => :append, :label => false, :input_html => { :class => "inline" } do
              =v.input_field :width, :class => "input-mini"
              =content_tag :span, "L", :class => "add-on"

            = v.input :height, :wrapper => :append, :label => false do
              =v.input_field :height, :class => "input-mini"
              =content_tag :span, "H", :class => "add-on"
      .links
        = v.link_to_add :capacities, :title => 'Add a new capacity' do
          %i.entypo.edi-plus-2
          #{t("simple_form.buttons.add_capacity")}
          

    = f.fields_for :emails do |email|
      .nested-fields
        = email.input :address, label:"Email", :wrapper => :append do
          = email.link_to_remove :title => "Remove this email" do
            %i.entypo.edi-minus-2
          = email.input_field :address, :label => "Email", :validate => true
          = email.input_field :kind, :label => "Type", :collection => %w(Work Home), :selected => "Work", :class => "add-on btn dropdown-toggle"

    .links
      = f.link_to_add :emails, :title => 'Add a new email' do
        %i.entypo.edi-plus-2
        Add a new mail
      
      

    = f.fields_for :phones do |phone|
      .nested-fields
        = phone.link_to_remove :title => "Remove this phone" do
          %i.entypo.edi-minus-2
        = phone.input :national_number, :label => "Phone Number", :wrapper => :append do
          = phone.input_field :national_number, :class => "input-medium", :validate => true
          = phone.input_field :kind, label:false, :collection => %w(Work Home),  :selected => "Work", :class => "add-on btn dropdown-toggle"
    .links
      = f.link_to_add :phones, :title => 'Add a new phone' do
        %i.entypo.edi-plus-2
        Add a new phone
        
    = f.fields_for :phones do |phone|
      .nested-fields
        = phone.link_to_remove :title => "Remove this phone" do
          %i.entypo.edi-minus-2
        
        %label.control-label.apple
          = phone.input_field :kind, label:false, :collection => %w(Tel.Bureau Fax.Bureau Autre),  :selected => "Tel.Bureau", :class => "dropdown-toggle"
          
        = phone.input_field :national_number, :class => "input-medium  apple", :validate => true
          
    .links
      = f.link_to_add :phones, :title => 'Add a new phone' do
        %i.entypo.edi-plus-2
        Add a new phone
    
      

    = f.fields_for :addresses do |address|
      .nested-fields
        = address.link_to_remove :title => "Remove this address" do
          %i.entypo.edi-minus-2
        = address.input :street
        = address.input :city
        = address.input :postal_code
        = address.input :state
        = address.input :country, :priority => [ "France", "Spain", "Germany", "Austria", "United States", "United Kingdom" ]
        = address.input :kind, :label => "Type", :collection => %w(Work Home),  :selected => "Work"
        
    .links
      = f.link_to_add :addresses, :title => 'Add a new addresses' do
        %i.entypo.edi-plus-2
        Add a new addresses

    = f.fields_for :websites do |website|
      .nested-fields
        = website.link_to_remove :title => "Remove this website" do
          %i.entypo.edi-minus-2
        /= website.input :url, :label => "Website"
        /= website.input :kind, :label => "Type", :collection => %w(Work Home),  :selected => "Work"
        
        = website.input :url, :label => "Website", wrapper: :with_tooltip, tooltip: "Coucou tooltip" do
          = website.input_field :url, :class => "input-large"
          = website.input_field :kind, label:false, :collection => %w(Work Home),  :selected => "Work", :class => "add-on btn dropdown-toggle"
        
    .links
      = f.link_to_add :websites, :title => 'Add a new website' do
        %i.entypo.edi-plus-2
        Add a new website
      


    
    .form-actions
      = f.button :submit, :class => "btn-primary btn-large"
      ou
      = link_to t(:cancel), @venue
