%p#notice= notice

%p
  %b First name:
  = @person.first_name
%p
  %b Last name:
  = @person.last_name

%p
Coordonnées

- if @person.contact_datum
  - @person.contact_datum.addresses.each do |address|
    = render address

- if @person.contact_datum
  - @person.contact_datum.emails.each do |email|
    = render email

- if @person.contact_datum
  - @person.contact_datum.phones.each do |phone|
    = render phone

- if @person.contact_datum
  - @person.contact_datum.websites.each do |website|
    = render website

= link_to 'Edit', edit_person_path(@person)
\|
= link_to 'Back', people_path
