/%h2 Edit #{resource_name.to_s.humanize}
  
.page-title
  = current_user.name
  /%a.shybtn.logout-btn{:href => "#"} Déconnexion
  = link_to t("simple_form.labels.defaults.signout"), destroy_user_session_path, :method => :delete, :class => "shybtn logout-btn"
  
      
#account-page.row-fluid
  .span12
    .tabbables-not
      %ul.nav.nav-tabs
        = user_tab_link "Compte", edit_account_path, "accounts"
        = user_tab_link "Votre profil", edit_user_path(current_user), "users"
        = user_tab_link "Projets artistiques", edit_user_path(current_user, :anchor => "projects"), "projects"
        %li
          %a{"data-toggle" => "tab", :href => "#extras"} Extras
        
          
      .tab-content

        = yield :account_tab
        = yield :user_tab
        
        #projects.tab-pane
          %ul.list-large
            %li
              %h4 Concert — Lundi 1 juin 2013
              %p Superatis Tauri montis verticibus qui ad solis ospatiis porrqsdigitur. Sdfate distqsdqs rtum sublimius attoqdslluntur. Superatis Tauri montis vertidqscibus qui ad solis ospatiis porrigitur late distrtum sublimius attolluntur. Superatis Tauri montis vertiqscibus qui ad solis ospatiis porrigitur late distrtum sublimius attollqsuntur.
            %li
              %h4 Concert — Mardi 12 septembe 2013
              %p Superatis Tauri montis verticibus qui ad solis ospatiis porrqsdigitur. Sdfate distqsdqs rtum sublimius attoqdslluntur. Superatis Tauri montis vertidqscibus qui ad solis ospatiis porrigitur late distrtum sublimius attolluntur. Superatis Tauri montis vertiqscibus qui ad solis ospatiis porrigitur late distrtum sublimius attollqsuntur.
            %li
              %h4 Concert — Mardi 12 septembe 2013
              %p Superatis Tauri montis verticibus qui ad solis ospatiis porrqsdigitur. Sdfate distqsdqs rtum sublimius attoqdslluntur. Superatis Tauri montis vertidqscibus qui ad solis ospatiis porrigitur late distrtum sublimius attolluntur. Superatis Tauri montis vertiqscibus qui ad solis ospatiis porrigitur late distrtum sublimius attollqsuntur.
              
          .plus-in-list
            %a{:href => "#"}
              %i.entypo.edi-plus-3
              %span New Project
            
            
                      
        #extras.tab-pane
          The extras
