%header.page-title
  Profil 
  %h3.dblue= current_user.name
  
  /______________________ Déconnexion
  = link_to t("simple_form.labels.defaults.signout"), destroy_user_session_path, :method => :delete, :class => "shybtn logout-btn"

- if notice  
  .notice.info= notice

- if alert
  .notice.error= alert
  
#account-page.row-fluid
  .span12
    .tabbables-not
      %ul.nav.nav-tabs
        = user_tab_link "Votre profil", edit_user_path(current_user), "users"
        - if current_account.manager?(current_user)
          = user_tab_link "Compte", edit_account_path, "accounts"
          = user_tab_link "Projets artistiques", projects_path, "projects"
          %li
            %a{"data-toggle" => "tab", :href => "#extras"} Extras
                  
      .tab-content
        = yield :user_tab
        - if current_account.manager?(current_user)
          = yield :account_tab
          = yield :projects_tab
          #extras.tab-pane
            %section.span6
              %h4 En construction...
