%h1.page-title Playground / Canvas

%section
  .progress
    .bar{style: "width: 60%;"}
    
/ ________________________________________________________ closeto
%section 
  .section-title closeto
  %form.inline-form
    .control-group
      %label Afficher des salles à proximité de
      %input{type:"text", placeholder:"Localité..."}
    .control-group
      %label rayon:
      %select#kms.select.dropdown-toggle{label: "Type", name: "", selected: "10km"}
        %option{value: "10"} 10km
        %option{value: "20"} 20km
        %option{value: "30"} 30km
  
    %button.btn.btn-primary{type:"submit"}
      %i.entypo.edi-search

/ ________________________________________________________ checkbox & radio
%section
  .section-title checkbox & radio
  .row-fluid
    %li#fo143li2.notranslate.span4
      %fieldset
        <!--[if !IE | (gte IE 8)]-->
        <legend id="title2" class="desc">
        Check All That Apply
        </legend>
        <!--[endif]-->
        <!--[if lt IE 8]>
        <label id="title2" class="desc">
        Check All That Apply
        </label>
        <![endif]-->
      
        %div
          %span
            %input#Field2.field.checkbox{name: "Field2", onchange: "handleInput(this);", tabindex: "4", type: "checkbox", value: "First Choice"}/
            %label.choice{for: "Field2"} First Choice
          
          %span
            %input#Field3.field.checkbox{name: "Field3", onchange: "handleInput(this);", tabindex: "5", type: "checkbox", value: "Second Choice"}/
            %label.choice{for: "Field3"} Second Choice
          
          %span
            %input#Field4.field.checkbox{name: "Field4", onchange: "handleInput(this);", tabindex: "6", type: "checkbox", value: "Third Choice"}/
            %label.choice{for: "Field4"} Third Choice
          
          .dropdown
            //ici un select :
            %button.btn.btn-tertiary.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", type: "button"}
              Selectionner un projet
              %span.caret-ed
            %ul.dropdown-menu
              %li{role: "presentation"}
                %a{href: "#", role: "menuitem", tabindex: "-1"}
                  projet 1
              %li{role: "presentation"}
                %a{href: "#", role: "menuitem", tabindex: "-1"}
                  projet 2
          
          
    %li#fo143li1.notranslate.focused.span4
      %fieldset
        / [if !IE | (gte IE 8)]
        %legend#title1.desc Select a Choice
        / [endif]
        /[if lt IE 8]
          %label#title1.desc Select a Choice
        %div
          %input#radioDefault_1{name: "Field1", type: "hidden", value: ""}/
          %span
            %input#Field1_0.field.radio{name: "Field1", onchange: "handleInput(this);", onmouseup: "handleInput(this);", tabindex: "1", type: "radio", value: "First Choice"}/
            %label.choice{for: "Field1_0"}
              First Choice
          %span
            %input#Field1_1.field.radio{checked: "checked", name: "Field1", onchange: "handleInput(this);", onmouseup: "handleInput(this);", tabindex: "2", type: "radio", value: "Second Choice"}/
            %label.choice{for: "Field1_1"}
              Second Choice
          %span
            %input#Field1_2.field.radio{name: "Field1", onchange: "handleInput(this);", onmouseup: "handleInput(this);", tabindex: "3", type: "radio", value: "Third Choice"}/
            %label.choice{for: "Field1_2"}
              Third Choice
              
              
    .custom.span4
      %legend#title1.desc Custom V2
      %input.styled{:type => "checkbox"} blabla





/ ________________________________________________________ Notices
%section.padded
  .section-title Notices
  .notice.success
    %span.noticetitle Titre (optionnel)
    %span Superatis Tauri montis verticibus qui ad solis ospatiis porrqsdigitur.
    %a.ico.btn-close{href:"#"}

  .notice.info
    %span
      La personne 
      %span.bold Bob Bigwell
      a été modifiée avec succès
    %a.ico.btn-close{href:"#"}
    
  .notice.info.transient
    %span
      La personne 
      %span.bold Bob Bigwell
      a été modifiée avec succès
    %a.ico.btn-close{href:"#"}
    
  .notice.error
    %span.noticetitle Titre (optionnel)
    %span Superatis Tauri montis verticibus qui ad solis ospatiis porrqsdigitur.
    
  .notice.warning
    %span.noticetitle Titre (optionnel)
    %span Superatis Tauri montis verticibus qui ad solis ospatiis porrqsdigitur.
    %a.ico.btn-close{href:"#"}
    
  .notice.info2
    %span.noticetitle Titre (optionnel)
    %span Superatis Tauri montis verticibus qui ad solis ospatiis porrqsdigitur.
  %a.ico.btn-close{href:"#"}
  

/ ________________________________________________________ Icons
.row-fluid
  %section.span6
    .section-title Icons
    %a.ico.dealed{:href => "#"}
    %a.ico.dealed.full{:href => "#"}
    %a.ico.favorite{:href => "#"}
    %a.ico.favorite.full{:href => "#"}
    %a.ico.contacted{:href => "#"}
    %a.ico.contacted.full{:href => "#"}
    %a.ico.principal{:href => "#"}
    %a.ico.principal.full{:href => "#"}
    %a.entypo.edi-comment{:href => "#"}

  %section.span6
    .section-title Tags
    .tags
      %a.tag Basic
      %a.tag.tag-type type
      %a.tag.tag-type SMAC
      %a.tag.tag-style style
      %a.tag.tag-style Rock
      %a.tag.tag-style Punk
      %a.tag.tag-style Jeune public
      %a.tag.tag-legal legal
      %a.tag.tag-legal Co-réalisation
      %a.tag.tag-legal Location
      %a.tag.tag-custom Custom
      %a.tag.tag-custom2 Custom 2
      
      
/ ________________________________________________________ Dashboard

%header
  %h1.page-title
    Tableau de bord

%section#dash-tasks
  .section-title
    .title
      Tâches
      .badge.badge-medium.badge-shy 25
    .title-infos
      dont
      .badge.badge-small.badge-black 1
      en retard,
      .badge.badge-small.badge-red 1
      pour aujourd’hui  

  %ul.list-medium
    %li
      .rightrow.small
        .badge.badge-black hier
        .actions
          %a.shybtn{:href => "#"}
            %i.entypo.edi-pencil

      .rightrow
        .s1of2
          %a{:href => "#"}
            .pic.pic-mini= image_tag "squared/pro2.jpg"
            ProjetXqsd
        .s1of2
          %a{:href => "#"}
            .pic.pic-mini= image_tag "squared/per2.jpg"
            Untel X.

      .mainrow
        %input{:type => "checkbox"}
        %a{:href => "#"} Relance de payement


    %li
      .rightrow.small
        .badge.badge-red Aujourd'hui
        .actions
          %a.shybtn{:href => "#"}
            %i.entypo.edi-pencil

      .rightrow
        .s1of2
          %a{:href => "#"}
            .pic.pic-mini= image_tag "squared/pro1.jpg"
            Fatales Picards
        .s1of2
          %a{:href => "#"}
            .pic.pic-mini= image_tag "squared/per1.jpg"
            François U.

      .mainrow
        %input{:type => "checkbox"}
        %a{:href => "#"} Relance de payement Une tache avec un titre trés trés long…

    %li
      .rightrow.small
        .badge ASAP
        .actions
          %a.shybtn{:href => "#"}
            %i.entypo.edi-pencil

      .rightrow
        .s1of2
          %a{:href => "#"}
            .pic.pic-mini
            Global
        .s1of2

      .mainrow
        %input{:type => "checkbox"}
        %a{:href => "#"} Aller à Avignon


    %li
      .rightrow.small
        .badge.badge-blue Dans 3 jours
        .actions
          %a.shybtn{:href => "#"}
            %i.entypo.edi-pencil

      .rightrow
        .s1of2

        .s1of2
          %a{:href => "#"}
            .pic.pic-mini= image_tag "squared/per3.jpg"
            Christophe R.
      .mainrow
        %input{:type => "checkbox"}
        %a{:href => "#"} Back to Avigon



    %li
      .rightrow.small
        .badge.badge-green Lun. 2 Sept.
        .actions
          %a.shybtn{:href => "#"}
            %i.entypo.edi-pencil

      .rightrow
        .s1of2
          %a{:href => "#"}
            .pic.pic-mini
            Global
        .s1of2
          %a{:href => "#"}
            .pic.pic-mini
            Toute l'équipe

      .mainrow
        %input{:type => "checkbox"}
        %a{:href => "#"} Refaire du café



  .btn-in-list
    %a.align-right{:href => "#"}
      %span
        Voir toutes les tâches
      %i.entypo.edi-ellipsis





%section#dash-ednews
  .section-title
    .title
      Nouveautés d’edgar
      .badge.badge-medium.badge-shy 2

  %ul.list-medium
    %li
      %input{:type => "checkbox"}
      %a{:href => "#"} Nouvelle fonctionnalité ! Edgar gére maintenant le multi-user !

    %li
      %input{:type => "checkbox"}
      %a{:href => "#"} Import Xcel enfin dispo !

    %li
      %input{:type => "checkbox"}
      %a{:href => "#"} Edgar à Avignon ! :)


    .btn-in-list
      %a.align-right{:href => "#"}
        %span
          Voir toutes les nouveautés
        %i.entypo.edi-ellipsis        

/ ________________________________________________________ Stats
%section#dash-stats
  .section-title
    .title
      Statistiques

  .row-fluid
    .span3
      .numbers-xlarge 219
      Notes de suivis
    .span3
      .numbers-xlarge 146
      tâches effectuées
    .span3
      .numbers-xlarge 24
      dates créées
    .span3
      .numbers-xlarge 53
      campagnes envoyées

-#   
  - if user_signed_in?
    - if current_user.has_role? :admin
      = link_to "Administration", users_path
    = link_to t("simple_form.labels.defaults.signout"), destroy_user_session_path, :method => :delete
  - else
    = link_to t("simple_form.labels.defaults.signin"), new_user_session_path




  
/ ________________________________________________________ Activity
%section
  .section-title Activity
  #activity.tab-pane.active
    .row-fluid
      .span8
        .btn-group
          //ici un select :
          %a.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            Selectionner un projet
            %span.caret
          %ul.dropdown-menu
            %li projet 1
            %li projet 2

        #activityfield-outter
          <textarea rows="20" placeholder="écrire une nouvelle note" name="reporting[note_report_content]" id="activityfield" cols="40" class="text optional"></textarea>
          //= button_tag(type: 'submit', class: "btn btn-secondary submit") do
          %button.btn.btn-secondary.submit
            %i.entypo.edi-arrow-down-5
            
            
              
        / ____________________________________ list reportings      
        %ul.list-large
          %li
            %h4 Hier — Utilisateur Untel pour Telprojet
            %p Superatis Tauri montis verticibus qui ad solis ospatiis porrqsdigitur. Sdfate distqsdqs rtum sublimius attoqdslluntur. Superatis Tauri montis vertidqscibus qui ad solis ospatiis porrigitur late distrtum sublimius attolluntur. Superatis Tauri montis vertiqscibus qui ad solis ospatiis porrigitur late distrtum sublimius attollqsuntur.
          %li
            %h4 Jeudi 7 mai 2013 — Utilisateur Untel pour Telprojet
            %p Superatis Tauri montis verticibus qui ad solis ospatiis porriqdsgiqtur late distrtum sublimius attolluntur. Superatis Tauri moddntis verticibus qui ad solis ospatiis porrigitur late distrtum sublqimius attolluntur. 
          %li
            %h4 8 mai 2013 — Utilisateur Untel pour Telprojet
            %p Verticibus qui ad solis ospatiis porrigitur late distrtum sublimius attolluntur. Superatis Tauri montis qddqsverticibus qui ad solis ospatiis porrigitur late distrtum sublimius addttolluntur.
            
      / _____________________ infos-mini  
      #infos-mini.span4
        %ul.list-infos
          %li.infolabel
            Contact principal
          %li
            .pic.pic-small.pic-person= image_tag "squared/per3.jpg"
            %a{:href => "#"}
              %h4 Albert Untel
          %li
            %a{:href => "#"} Programmateur
          %li +33 23 23 74 23 
          %li
            %a{:href => "#"} email@gmail.com

        %ul.list-infos
          %li.infolabel Bureau
          %li 2 rue machin — 54089 Lilles
          %li
            %a{:href => "#"} email@provider.com
