= simple_form_for([@task]) do |f|
  = f.error_notification

  .form-inputs
    = f.hidden_field :user_id, :value => current_user.id
    = f.hidden_field :asset_id, :value => @asset.id if @asset
    = f.hidden_field :asset_type, :value => @asset.class.name if @asset

    = f.input :name, label: false, autofocus: true, :input_html => { :class => "span6" }
    /:label => "lala"
    
    = f.input :bucket, :collection => [:due_today, :due_tomorrow, :due_this_week, :due_next_week, :due_this_month, :overdue], selected: :due_today, label: "Pour quand ?"
    
    = f.input :calendar, :input_html => {"data-date-format" => "dd/mm/yyyy hh:ii", "data-date-language" => "fr", "data-date-autoclose" => true, "data-date-today-btn" => "linked", "data-date-today-highlight" => true, :class => "datepicker"}, label: "Calendrier"
    
    = f.input :assigned_to, collection: @users, label_method: :name, value_method: :id, selected: current_user.name, as: :check_boxes
    

  .form-actions
    = f.button :submit
