- if (the_tasks = tasks.send(due)).any?
  %ul.list-medium
    - the_tasks.send(due).each do |t|
      %li
        %input{:type => "checkbox"}
        .rightrow.small
          = show_badge(color, t.specific_time? ? t.friendly_date : t(due))
          .actions
            -#%a.shybtn{:href => "#"}
            - if asset.present?
              = link_to send("edit_#{asset.class.name.downcase}_task_path",asset,t), :class => "shybtn" do
                %i.entypo.edi-pencil
            - else
              = link_to edit_task_path(t), :class => "shybtn" do
                %i.entypo.edi-pencil
                
        .mainrow
          .title
            - if asset.present?
              = link_to t.name, send("edit_#{asset.class.name.downcase}_task_path",asset,t)
            - else
              = link_to t.name, edit_task_path(t)
          
          .infos-line
            .infos-part
              %a{:href => "#"}
                .pic.pic-mini= image_tag "squared/pro1.jpg"
                Salle Untel
            .infos-part  
              %a{:href => "#"}
                .pic.pic-mini= image_tag "squared/pro2.jpg"
                Projet X.
            .infos-part
              %a{:href => "#"}
                .pic.pic-mini= image_tag t.assignee.avatar
                = t.assignee.nickname
        