#tasks
  - if @pending_tasks.any?
    .title-infos
      /dont
      - if @pending_tasks.overdue.any?
        .badge.badge-small.badge-black= @pending_tasks.overdue.size
        en retard,
      - if @pending_tasks.due_today.any?
        .badge.badge-small.badge-red= @pending_tasks.due_today.size
        pour aujourd’hui  

    = render :partial => "tasks/pending", :locals => {:tasks => @pending_tasks}

  .title-infos
    = link_to "Taches effectuées", "#", data: {toggle: "collapse", target: "#completed_tasks"}
  = render :partial => "tasks/completed_tasks", :locals => {:tasks => @completed_tasks}

.btn-in-list
  - link_path = @venue.present? ? new_venue_task_path(@venue) : new_person_task_path(@person)
  = link_to link_path , remote:true do
    %i.entypo.edi-plus-3
    %span
      Créer une nouvelle tâche
      