%header.page-title
  -# Tâches
  = t(params[:controller]).titleize
  = @filtered_by if @filtered_by.present?
  
  .subpage-nav
    -#
      = link_to tasks_path, :class =>"active" do
        à faire
    -#%a{href: "#"}
      Tâches effectuées
      /achevé, consommé, fini, passé, réalisé, terminé
      /Voir les tâches récemment effectués
      
.sorters
  /______________________________________________________ USERS
  .dropdown
    / Link or button to toggle dropdown
    %button.btn.btn-tertiary.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
      = params[:user_id].present? ? User.find(params[:user_id]) : "Tous les utilisateurs"
      %i.entypo.caret-ed
    
    %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1", role: "menu"}
      - if params[:user_id]
        %li{role: "presentation"}
          = link_to "Tous les utilisateurs", tasks_path(params.except(:user_id)), role: "menuitem", tabindex: "-1"
      - current_account.users.each do |account_user|
        %li{role: "presentation"}
          = link_to tasks_path(params.merge(user_id: account_user.id)), role: "menuitem", tabindex: "-1" do
            .pic.pic-mini= image_tag account_user.avatar
            = account_user
          
        
  /______________________________________________________ PROJECTS
  .dropdown
    / Link or button to toggle dropdown
    %button.btn.btn-tertiary.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
      = params[:project_id].present? ? Project.find(params[:project_id]) : "Tous les projets"
      %i.entypo.caret-ed
    %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1", role: "menu"}
      - if params[:project_id]
        %li{role: "presentation"}
          = link_to "Tous les projets", tasks_path(params.except(:project_id)), role: "menuitem", tabindex: "-1"
      - current_account.projects.each do |account_project|
        %li{role: "presentation"}
          = link_to tasks_path(params.merge(project_id: account_project.id)), role: "menuitem", tabindex: "-1" do
            .pic.pic-mini= image_tag account_project.avatar
            = account_project
    -#
      %li.divider{role: "presentation"}
      %li{role: "presentation"}
        %button.btn-primary Créer une liste
          
  
#dash-tasks.row-fluid
  .section-title
    .title
      .badge.badge-medium.badge-shy= @pending_tasks.size
      /tâches
    .title-infos
      dont
      .badge.badge-small.badge-black= @pending_tasks.overdue.size
      en retard,
      .badge.badge-small.badge-red= @pending_tasks.due_today.size
      pour aujourd’hui
      

          

  

= render :partial => "pending", :locals => {:tasks => @pending_tasks, :asset => nil}
-# = render partial:'tasks/tasks', locals: {asset: nil, pending_tasks: @pending_tasks, completed_tasks: @completed_tasks}



.btn-in-list
  = link_to new_task_path, remote:true do
    %i.entypo.edi-plus3
    %span
      Nouvelle tâche
          
          