%li{id: "generic_structure_#{generic_structure.to_param}"}
  .rightrow
    .meta
      -# _________________________ favorite
      - if generic_structure.favorite?(current_user)
        = link_to remove_to_favorites_contact_path(generic_structure), remote: true do
          %i.ico.favorite.full{id: "fav_contact_#{generic_structure.id}"}
      - else
        = link_to add_to_favorites_contact_path(generic_structure), remote: true do
          %i.ico.favorite{id: "fav_contact_#{generic_structure.id}"}

      -# _________________________ contacted
      - if generic_structure.contacted?
        %a.ico.contacted.full{:href => "#"}
      - else
        %a.ico.contacted{:href => "#"}
      -# _________________________ dealed
      %a.ico.dealed{:href => "#"}
      
    = content_tag("div",nil, class:"mini-map france reg-#{generic_structure.address.region_code}") if generic_structure.address.present?
    
    .actions
      = link_to edit_generic_structure_path(generic_structure), :class => "shybtn" do
        %i.entypo.edi-pencil
      = link_to generic_structure, :class => "shybtn", :method => :delete, :data => { :confirm => 'DELETE : Are you sure?' }, remote: true do
        %i.entypo.edi-cross
        
        
  .mainrow
    = link_to generic_structure do
      %h3= generic_structure.name
      .pic= image_tag generic_structure.avatar_url(:thumb)
    .infos-line
      / = render generic_structure.capacities if generic_structure.capacities
      = render generic_structure.address if generic_structure.address
      
    .tags
      = render partial: "tags/tags", locals: { asset: generic_structure}
