.modal-header
  %a.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
  %h3#myModalLabel Import de contacts
  

= simple_form_for(@import, remote: true) do |f|
  .modal-body  
    .errors     
    = f.input :contact_file, as: :file, input_html: { accept: "text/csv, application/xml" }
    %p
    = f.input :contact_kind, collection: [:venue, :festival, :show_buyer], selected: :venue
    = f.input :first_name_last_name_order, collection: [:first_name, :last_name], selected: :last_name
    %p 
    = f.input :custom_tags, :input_html => { :class => "fullwidth custom_tags_input", :placeholder =>"…", data: {autocomplete_source: customs_path} }
    
    %section.progressbar.ghost
      .progress
        .bar
        .message Import en cours ...
        
  .modal-footer
    = f.submit t('helpers.submit.import.test')
    = f.submit
        