- content_for :scripts do
  = javascript_include_tag "contacts_import"

%header
  %h1.page-title Importer un fichier contacts

%section.padded
  .label-large.label-large-horizontal
    %i.edi-import
    %h5.message
      %i.edi-warning
      L’import en masse de contacts est une opération sensible.
      %br
      Avant d’importer un fichier, lisez d’abord 
      %a l’aide en ligne.
      
    
    
      
%section.padded
  = simple_form_for(@import) do |f|
    = display_errors(@import)
  
    .form-inputs
      %section#contact-file-type
        %label.control-label
          Le fichier 
          %b= File.basename(params[:key] || @import.key)
          contient quel type de contacts ?
        .row-fluid
          .span6
            = f.input :contacts_kind, collection: ["Fichier Edgar. (.xml)"], as: :radio_buttons, label: false, item_wrapper_class: "xml"
            = f.hint 'Ce type de fichier contient tous les types de contact.<br>Il est issu d’un export Edgar et contient également des images.'
          .span6
            = f.input :contacts_kind, collection: [:venue, :festival, :show_buyer, :person, :structure], as: :radio_buttons, label: false
            //, label: "Quel type de fichier allez-vous importer ?"
        
        %b= params[:key]
        = f.hidden_field :key, value: params[:key] || @import.key
      
      %section#first_name_last_name
        = f.input :first_name_last_name_order, collection: [:first_name, :last_name], as: :radio_buttons, label: "Comment sont nommés les personnes dans votre fichier ?", item_wrapper_class:"inline"
    -#
      %section 
        = f.input :custom_tags, :input_html => { :class => "fullwidth custom_tags_input", :placeholder =>"…", data: {autocomplete_source: customs_path} }
    
    
        
    .form-actions
      .row-fluid
        .span6
          = f.submit t('helpers.submit.contacts_import.test'), :class => "btn btn-primary btn-large "
          %p
          = f.hint 'Seul les 20 premiers contacts seront importés et placés dans une liste de test dédiée. Vous pourrez ainsi vérifier la validité de votre fichier. Les champs ne pouvant être interprétés seront placé dans la partie ”observations”.'
        .span6
          = f.submit :class => "btn btn-primary btn-large btn-alert"
          %p
          = f.hint 'Cette opération peut prendre un certain temps ! Si vous n’êtes pas sur de la validité de votre fichier, Edgar vous recommande de procéder à l’import d’un échantillon test.'
