-content_for :scripts do
  = javascript_include_tag "tag"
  = javascript_include_tag "contacts_import"

%header
  %h1.page-title
    Import test

%section#progress_section.padded.progressbar
  -# .ghost
  -# .hidden
  #progress_import.progress{:data => {url: @job_url }}
    .bar
    .message Import en cours…
    
    
-#  ________________________________________________________ notice_success
// remplace la progressbar aprés succés
-# javascript :
-#  $('.progressbar').toggleClass('hidden');
-#  $('#notice_success').toggleClass('hidden');

%section.padded#notice_success.hide
  .notice.success
    %span.noticetitle
      //
      L'import test est terminé.
      
    %span
      Les
      %span#nb_imported_contacts
      premiers contacts du fichier 
      = @import.filename 
      ont été traités.
    
    %br
    = link_to contacts_path(imported_at: @import.imported_at) do
      %button.btn.btn-primary Voir les contacts test
      
    = link_to edit_contacts_import_path(@import.imported_at) do
      %button.btn.btn-primary Modifier les paramètres d’import
    
    %br
    
    = link_to contacts_imports_path(from_test_mode: true), method: :post do
      %button.btn.btn-alert Lancer l’import complet
    /%a.ico.btn-close{href:"#"}
    
  
  
-#  ________________________________________________________ Report
%section#log_import.padded

-#  ________________________________________________________ Autres notices
%section.padded.hide
  %br
  %br
  %br
  %br
  %h2 //Autres notices

  .notice.error
    %span.noticetitle
      Erreur lors de l’importation test.
    %span
      Il semble que le fichier 
      %b NomDuFichier.ext 
      ne soit pas au bon format...
      %br
      Edgar vous recommande de vérifiez le fichier.
      %br
      Vous pouvez 
      %a consultez l’aide en ligne à propos de l'import
      ou 
      %a contactez Edgar.
      %br
      = link_to new_contacts_import_path, remote:false, :class=>"btn btn-primary " do
        Retourner à la page d’import
        /%i.ico.edi-import
        
    /%a.ico.btn-close{href:"#"}
