#myModalContent
  .modal-header
    %a.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel
      Ajouter un utilisateur au compte
      = current_account.name

  = simple_form_for(@abilitation, url: account_abilitations_path) do |f|
    .modal-body
      .errors    
      .form-inputs
        .row-fluid
          = f.fields_for :user do |u|
            = u.input :email, label: "Envoyer une invitation à ", placeholder: "user@example.com"
            = u.hidden_field :label_name

    .modal-footer
      /.btn.btn-secondary
      = f.button :submit, class:'btn-primary', value:"Envoyer l'email d'invitation"
      %button.btn.btn-link{"aria-hidden" => "true", "data-dismiss" => "modal"} Annuler
