%header.page-title
  Bienvenue chez Edgar !


%section
  %h3.message
    Ceci est une version béta,<br>
    de nouvelles fonctionnalités arriveront trés prochainement.<br>
    En attendant voici ce que vous pouvez faire :
    
%section
  .row-fluid.label-blocks
    .span4
      = link_to edit_user_path(current_user), :class => "label label-large" do
        %i.edi-cog
        %h4 Paramétrez votre compte
        %p dans la base collective
    .span4
      = link_to contacts_path, :class => "label label-large" do
        %i.edi-book
        %h4 Gérez vos contacts
        %p Importez, créez et<br> organiser vos contacts, <br>ils sont importants !
    .span4
      = link_to new_venue_path, :class => "label label-large" do
        %i.edi-cone
        %h4
          Voir la démo
        %p
          Afin de voir ce  <br>qu’Edgar vous prépare
  
  -#    
    - if user_signed_in?
      - if current_user.has_role? :admin
        = link_to "Administration", users_path
      = link_to t("simple_form.labels.defaults.signout"), destroy_user_session_path, :method => :delete
    - else
      = link_to t("simple_form.labels.defaults.signin"), new_user_session_path
    