-content_for :scripts do
  = javascript_include_tag "tour/home-tour-fr"

%header.page-title
  %h1 Bienvenue chez Edgar !
  #dontshow
    %span
      %input{:id => "wlcm", :type => "checkbox"}
      %label{:for=> "wlcm"} Ne plus afficher cette écran de bienvenue

-#_________________________________________________________ First steps
%section.padded
  .section-title
    .title= "Faisons connaissance ! #{flash[:notice]}"

  .row-fluid
    .span5
      %h4.message
        Avant tout, Edgar vous présente les bases en vidéo :
    .span7
      .video-discipline
        .media.videoo
          <iframe src="//player.vimeo.com/video/86027838?byline=0&amp;portrait=0&amp;color=fff" frameborder="0" /width="500" height="281" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

-#_________________________________________________________ Starting
%section.padded
  .section-title
    .title Bien démarrer
  .row-fluid.label-blocks
    .span4
      = link_to edit_user_path(current_user), :class => "label label-large" do
        %i.edi-cog
        %h4 Paramétrez votre compte
        %p
          Uploadez votre photo,<br>
          Créer votre projet artistique,<br>
          Et plus encore...

    .span4
      = link_to contacts_path, :class => "label label-large" do
        %i.edi-book
        %h4 Gérez vos contacts
        %p
          Importez, créez et <br>
          organisez vos contacts, <br>
          ils sont importants !


    .span4
      %a.label.label-large#uservoice-nav{"data-uv-default-mode" => "feedback", "data-uv-forum-id" => "170962", "data-uv-lightbox" => "classic_widget", "data-uv-link-color" => "#007dbf", "data-uv-mode" => "full", "data-uv-primary-color" => "#cc6d00", "data-uv-support-tab_name" => "Oups ! Je rencontre un problème !", href: "javascript:void(0)", "data-toggle"=>"tooltip", "data-placement"=>"top-left", "data-html"=>"true"}

        %i.edi-light-bulb
        %h4
          Des suggestions ?
        %p
          Nous avons besoin de vos retours ! <br>
          A tout moment, vous pouvez cliquer <br>
          sur cette icone en bas à gauche de l'écran.

