- if edit
  - form_class = "hidden"
  - submit_label = "Enregistrer les modifications"
  
- else
  - submit_label = "Créer la note"

= simple_form_for(reporting, remote: true, html: {class: form_class}) do |f|
 
  = f.input :note_report_content, label:false, input_html: {id: "activityfield"}, placeholder: "écrire une nouvelle note", as: :text
  = f.hidden_field :asset_id
  = f.hidden_field :asset_type
  = f.input :project_id, collection: Project.all, label: false, value_method: :id, prompt: "Selectionnez un projet", :input_html => { :class => ".ed-select" }
  
      
  = button_tag(type: 'submit', class: "btn btn-secondary pull-right submit") do 
    = submit_label
    
  
      
  - if edit
    %button.btn.btn-link.cancel.hidden.pull-right{}
      Annuler
    
  .clearfix
  .message
    %i.entypo.edi-warning
    Vous n’avez encore créé de projet artistique !
    
    %a{:href => "#"}
      Cliquer ici pour créer un projet