- unless reporting.new_record?
  %li
    %h4= l reporting.created_at, format: :abbrev
      
    .infos
      .pic.pic-mini= image_tag reporting.user.avatar
      = reporting.user.nickname
      - if reporting.project.present?
        .pic.pic-mini= image_tag reporting.project.avatar
        = reporting.project.name
    
    
    .content= render reporting.report
      
