= simple_nested_form_for(@venue, :validate => true) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.fields_for :capacities do |capacity|
      .nested-fields
        = capacity.input :nb, :label => "Capacity"
        = capacity.input :kind, :label => "Type", :collection => %w(Assis Debout Autre),  :selected => "Assis"
        = capacity.link_to_remove "Remove this capacity"
    .links
      = f.link_to_add 'Add a new capacity', :capacities
    = f.fields_for :contact_datum do |contact|
      = render :partial => "contact_data/form", :locals => {:c => contact}

    
  .form-actions
    = f.button :submit