= simple_form_for(@venue, :validate => true) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.simple_fields_for :contact do |c|
      = c.input :phone
      = c.input :email
      = c.input :website
      = c.input :street
      = c.input :postal_code
      = c.input :city
      = c.input :state
      = c.input :country, :priority => [ "France", "Spain", "Germany", "Austria", "United States", "United Kingdom" ]
    
  .form-actions
    = f.button :submit