%h1.page-title Modifier la structure
/%h2= @venue.name

= simple_nested_form_for(@venue, :html => { :class => 'form-horizontal form-edit' }) do |f|
  /simple_form_for(@article, :html => { :class => 'form-horizontal' }) do |f|
  = f.error_notification

  .form-inputs
    %header
      .control-group
        .pic-container
          .pic= image_tag @venue.avatar

        = f.input :name, label: false, :class => "input-Xlarge"
        
        = simple_form_for(@venue, :html => { :method => :put, :class => 'form-horizontal' }) do |f|
          = f.input :avatar, label:false, :hint => "L’image doit faire au moins 300x300 pixels."


    %section#basic-infos
      -#  ________________________________________________________ TAGS V1
      = f.input :style_list, label: "Styles programmés (séparés par des virgules)", :input_html => { :class => "span6" }
    
    
      -#  ________________________________________________________ TAGS V2
      -#.control-group
      -#
        %label.control-label Styles programmés
        .controls
          %input#tags.input-large{:name => "tags", :style => "display: none;", :value => "foo,bar,baz"}/
          #tags_tagsinput.tagsinput
            /{:style => "width: 300px; height: 100px;"}
            %span.tag.tag-type
              %span foo
              %a{:href => "#", :title => "Removing tag"}
                %i.entypo.edi-cross
            %span.tag.tag-type
              %span bar
              %a{:href => "#", :title => "Removing tag"}
                %i.entypo.edi-cross
            %span.tag.tag-type
              %span baz
              %a{:href => "#", :title => "Removing tag"}
                %i.entypo.edi-cross
            #tags_addTag.tag-type
              %input#tags_tag{"data-default" => "add a tag", :style => "width: 80px;", :value => ""}/
              
            .tags_clear
      -#  ________________________________________________________ contracts
      = f.association :contracts, :collection => Contract.all, :as => :check_boxes, label_method: :name, value_method: :id, item_wrapper_class:"inline"

    
      = f.fields_for :venue_info do |v|
        -#, :class => "span4"
        -#, :input_html => { :class => "span4" }
        .nested-fields
        
          -#  ________________________________________________________ period
          = v.input :period, :collection => [:all_year, :quaterly, :per_semester], as: :radio_buttons, item_wrapper_class: "inline"
        
        
          -#  ________________________________________________________ kind of venue
          /= v.input :kind, :collection => [:smac, :bar, :private_venue, :theater, :cultural_center], selected: :private_venue
          = v.input :kind, :collection => [:smac, :bar, :private_venue, :theater, :cultural_center], :as => :radio_buttons, item_wrapper_class: "inline"
        
        
          -#  ________________________________________________________ Services
          = v.input :bar, label:"Services", item_wrapper_class: "inline" do
            = v.input_field :bar, inline_label: "Bar"
            = v.input_field :residency, inline_label: "Residence"
            = v.input_field :accompaniment, inline_label: "Accompagnement"
          
          /= v.input :bar, label:"Services", :collection => ["Bar", "Residence", "Accompagnement"], label_method: :name, value_method: :id, item_wrapper_class:"inline", :as => :check_boxes,
          
          
          
          -# ________________________________________________________ Observations
          = v.input :remark
  
      
        -# ________________________________________________________ capacity
        = v.fields_for :capacities do |capacity|
          .nested-fields
            = capacity.link_to_remove :title => "Remove this capacity" do
              %i.entypo.edi-minus-2
            = capacity.input :nb, :wrapper => :append do
              = capacity.input_field :nb, :class => "input-small"
              = capacity.input_field :kind, label:false, :collection => %w(Assis Debout Autre),  :selected => "Assis", :class => "add-on dropdown-toggle"

        .links
          = v.link_to_add :capacities, :title => 'Add a new capacity' do
            %i.entypo.edi-plus-2
            #{t("simple_form.buttons.add_capacity")}



        / ________________________________________________________ Dimensions     
        .nested-fields
          .control-group
            %label.control-label
              <a title="" href="#" data-toggle="tooltip" data-original-title="Profondeur / Largeur / Hauteur"><i class="entypo edi-help"></i></a>
              Dimensions du plateau
            .inline-inputs
              = v.input :depth, :wrapper => :append, :label => false do
                =v.input_field :depth, :class => "input-mini"
                =content_tag :span, "P", :class => "add-on"

              = v.input :width, :wrapper => :append, :label => false, :input_html => { :class => "inline" } do
                =v.input_field :width, :class => "input-mini"
                =content_tag :span, "L", :class => "add-on"

              = v.input :height, :wrapper => :append, :label => false do
                =v.input_field :height, :class => "input-mini"
                =content_tag :span, "H", :class => "add-on"
              /%p.help-block (Profondeur / Largeur / Hauteur)
         
          
    
    %section#contact-infos
      .section-title
        .title Coordonnées
      / ________________________________________________________ email
      = f.fields_for :emails do |email|
        .nested-fields
          = email.link_to_remove :title => "Remove this email" do
            %i.entypo.edi-minus-2
          = email.input :address, label:"Email", :wrapper => :append do
            = email.input_field :address, :label => "Email", :validate => true, :class => "input-xlarge"
            = email.input_field :kind, :label => "Type", :collection => %w(Work Home), :selected => "Work", :class => "add-on btn dropdown-toggle"

      .links
        = f.link_to_add :emails, :title => 'Add a new email' do
          %i.entypo.edi-plus-2
          Add a new email
  
      
      / ________________________________________________________ phone
      = f.fields_for :phones do |phone|
        .nested-fields
          = phone.link_to_remove :title => "Remove this phone" do
            %i.entypo.edi-minus-2
          = phone.input :national_number, :label => "Phone Number", :wrapper => :append do
            = phone.input_field :national_number, :class => "input-medium", :validate => true
            = phone.input_field :kind, label:false, :collection => %w(Work Home),  :selected => "Work", :class => "add-on btn dropdown-toggle"
      .links
        = f.link_to_add :phones, :title => 'Ajouter un téléphone' do
          %i.entypo.edi-plus-2
          Add a new phone
   
    
      
      / ________________________________________________________ address
      .fields-group
        = f.fields_for :addresses do |address|
          .nested-fields.addresses
            = address.input :kind, :label => false, :collection => %w(Work Home), :selected => "Work", :input_html => { :class => "pull-right select-right add-on btn dropdown-toggle" }
            = address.link_to_remove :title => "Remove this address" do
              %i.entypo.edi-minus-2
        
            = address.input :street,:placeholder =>"Addresse", :input_html => { :class => "input-xlarge" }
            = address.input :city, :label => false, :placeholder =>"Ville, localité, …", :input_html => { :class => "input-medium inline" }
            = address.input :postal_code, :label => false, :placeholder =>"Code postal", :input_html => { :class => "input-mini inline" }
            = address.input :state, :label => false, :placeholder =>"State"
            = address.input :country, :label => false, :priority => [ "France", "Spain", "Germany", "Austria", "United States", "United Kingdom" ]
        
        
        .links
          = f.link_to_add :addresses, :title => 'Add a new address' do
            %i.entypo.edi-plus-2
            Add a new address
        
      
        
      / ________________________________________________________ website
      = f.fields_for :websites do |website|
        .nested-fields
          = website.link_to_remove :title => "Remove this website" do
            %i.entypo.edi-minus-2
          /= website.input :url, :label => "Website"
          /= website.input :kind, :label => "Type", :collection => %w(Work Home),  :selected => "Work"
        
          /= website.input :url, wrapper: :with_tooltip, tooltip: "Coucou tooltip" do
          = website.input :url, wrapper: :append do
            = website.input_field :url, :class => "input-xlarge"
            = website.input_field :kind, label:false, :collection => %w(Work Home),  :selected => "Work", :class => "add-on btn dropdown-toggle"
        
      .links
        = f.link_to_add :websites, :title => 'Add a new website' do
          %i.entypo.edi-plus-2
          Add a new website
      
    %section#social-infos
      .section-title
        .title Réseaux sociaux

    / ________________________________________________________ actions
    .form-actions
      = f.button :submit, :class => "btn-primary btn-large"
      ou
      = link_to t(:cancel), @venue
