= simple_nested_form_for(@venue, :html => { :class => 'form-horizontal' }) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, label:false
    = f.input :avatar
    = f.fields_for :venue_info do |v|
      = v.input :kind, :collection => [:smac, :bar, :private_venue, :theater, :cultural_center]
      = v.input :depth
      = v.input :width
      = v.input :height
      = v.fields_for :capacities do |capacity|
        .nested-fields
          = capacity.input :kind, label:"Capacité" do
            = capacity.input_field :kind, :label => "Type", :collection => %w(Assis Debout Autre),  :selected => "Assis"
            = capacity.input_field :nb, :label => "Capacity"
            = capacity.link_to_remove "Remove this capacity"
      .links
        = v.link_to_add 'Add a new capacity', :capacities

    = f.fields_for :emails do |email|
      .nested-fields
        = email.input :address, label:"Email" do
          = email.input_field :address, :label => "Email", :validate => true
          = email.input_field :kind, :label => "Type", :collection => %w(Work Home),  :selected => "Work"
          = email.link_to_remove "Remove this email"
    .links
      = f.link_to_add 'Add a new email', :emails

    = f.fields_for :phones do |phone|
      .nested-fields
        = phone.input :national_number, :label => "Phone Number", :validate => true
        = phone.input :kind, :label => "Type", :collection => %w(Work Home),  :selected => "Work"
        = phone.link_to_remove "Remove this phone"
    .links
      = f.link_to_add 'Add a new phone', :phones

    = f.fields_for :addresses do |address|
      .nested-fields
        = address.input :street
        = address.input :city
        = address.input :postal_code
        = address.input :state
        = address.input :country, :priority => [ "France", "Spain", "Germany", "Austria", "United States", "United Kingdom" ]
        = address.input :kind, :label => "Type", :collection => %w(Work Home),  :selected => "Work"
        = address.link_to_remove "Remove this address"
    .links
      = f.link_to_add 'Add a new address', :addresses

    = f.fields_for :websites do |website|
      .nested-fields
        = website.input :url, :label => "Website"
        = website.input :kind, :label => "Type", :collection => %w(Work Home),  :selected => "Work"
        = website.link_to_remove "Remove this website"
    .links
      = f.link_to_add 'Add a new website', :websites


    
  .form-actions
    = f.button :submit