- content_for :infos do
  / _____________________________________________ right
  %ul.list-infos
    %li.infolabel Info Lieu
    %li
      Ouverture salle :
      = @venue.season
    
  %ul.list-infos
    /%i.entypo.edi-info
  
    = render @venue.schedulings
    
  - if @venue.rooms.any?
    - @venue.rooms.each do |room|
      %ul.list-infos
        %li.infolabel
          Dimensions plateau (Profondeur / Largeur / Hauteur)
          = " de #{room.name}" if @venue.rooms.size > 1
        %li= room.stage
        -  if room.capacities.any?
          %li.infolabel Jauge(s)
          - room.capacities.each do |capacity|
            %span.jauge= render capacity


= render partial: "structures/info", locals: {structure: @structure}  