- content_for :infos do
  %ul.list-infos
    %li.infolabel Info Lieu
    %li
      Saison :
      = @venue.season

  %ul.list-infos
    %li.infolabel Services
    %li= @venue.services

  %ul.list-infos
    = render @venue.schedulings

  - @venue.rooms.each do |room|
    %ul.list-infos
      %li.infolabel
        = name_of(room)
      %li= stage_of(room)
      %li= "#{room.seating} Places assises"
      %li= "#{room.standing} Places debouts"
      - if room.modular_space
        %li Espace modulable
      - if room.bar
        %li Bar dans la salle

= render partial: "structures/info", locals: {structure: @structure}
