%li{id: "venue_#{venue.to_param}"}
  = render partial: "contacts/contact_elem", locals: {contact: venue.structure.contact, edit_link_path:edit_venue_path(venue) } 

  .mainrow
    = link_to venue do
      %h3
        = venue.name
        -# %a.badge.badge-green.badge-capsule En recherche active
        - if venue.contact.making_prospecting?
          %a.badge.badge-green.badge-capsule En recherche active
        - if venue.contact.has_duplicates?
          = link_to "Doublon", contacts_path(duplicate_of: venue.contact.dup_id), class: "a badge badge-grey doublons"
      .pic= image_tag venue.avatar_url
    .infos-line
      / = render venue.capacities if venue.capacities
      = render venue.address if venue.address
      
    .tags
      = render partial: "tags/tags", locals: { contact: venue.structure.contact}




