%li
  .rightrow
    .meta
      -# _________________________ favorite
      - if venue.favorite?(current_user)
        = link_to remove_to_favorites_contact_path(venue), remote: true do
          %i.ico.favorite.full{id: "fav_contact_#{venue.id}"}
      - else
        = link_to add_to_favorites_contact_path(venue), remote: true do
          %i.ico.favorite{id: "fav_contact_#{venue.id}"}

      -# _________________________ contacted
      - if venue.contacted?
        %a.ico.contacted.full{:href => "#"}
      - else
        %a.ico.contacted{:href => "#"}
      -# _________________________ dealed
      %a.ico.dealed{:href => "#"}
      
    .mini-map.france.reg-15
    
    .actions
      = link_to edit_venue_path(venue), :class => "shybtn" do
        %i.entypo.edi-pencil
      = link_to venue, :class => "shybtn", :method => :delete, :data => { :confirm => 'DELETE : Are you sure?' } do
        %i.entypo.edi-cross
        
        
  .mainrow
    = link_to venue do
      %h3= venue.name
      .pic= image_tag venue.avatar_url(:thumb)
    .infos-line
      = render venue.capacities if venue.capacities
      = render venue.address if venue.address
      
    .tags
      = render partial: "venues/tags", locals: { venue: venue}
