-content_for :right_panel do
  .leftmenu
    .sidebar-nav
      %ul.nav.nav-list
        %li.nav-header
          %a{:href => "#"}
          %i.entypo.edi-gauge
          Informations
        %li
          %a{:href => "#"}
          %i.entypo.edi-gauge
          Tableau de bord


.page-title
  Listing venues

.row-fluid
  .span12
    %ul.list-large
      - @venues.each do |venue|
        %li
          = link_to venue do
            
            = venue.name
            /%i.entypo.edi-house
            .pic-container
              .pic
                /%i.entypo.edi-house
                <img src="http://maguette.niang.free.fr/gandi-wene.jpg" />
            2, rue machin — 75020 Paris 
            
            /%td= link_to 'Show', venue
            .meta
              %a{:href => "#"}
                %i.entypo.edi-flag
              %a{:href => "#"}
                %i.entypo.edi-heart
              /= link_to 'Edit', edit_venue_path(venue)
              = link_to edit_venue_path(venue), :class => "shybtn" do
                %i.entypo.edi-pencil
              = link_to venue, :class => "shybtn", :method => :delete, :data => { :confirm => 'DELETE : Are you sure?' } do
                %i.entypo.edi-cross
              /%i.entypo.edi-house
              /%td= link_to 'Destroy', venue, :method => :delete, :data => { :confirm => 'Are you sure?' }


          
      %li
        = link_to 'New Venue', new_venue_path
            