%h1.page-title Nouvelle salle

= simple_nested_form_for(@venue, :html => { :class => 'form-horizontal' }) do |f|
  /simple_form_for(@article, :html => { :class => 'form-horizontal' }) do |f|
  = display_errors(@venue)

  .form-inputs
    = f.input :name, label: false, :class => "span12"

    = f.fields_for :addresses do |address|
      .nested-fields
        = address.input :city, :placeholder => "Ville"
        = address.input :postal_code
        = address.input :country, :priority => [ "France", "Spain", "Germany", "Austria", "United States", "United Kingdom" ]
        = address.input :kind, :collection => [:main_address, :admin_address],  :selected => :main_address
        
  .form-actions
    = f.submit :class => "btn-primary btn-large"
    = f.submit t("helpers.submit.venue.create_and_edit"), :class => "btn-primary btn-large"
    //= f.button :submit, :class => "btn-primary btn-large"
    ou
    = link_to "Annuler", session[:return_to], :class => "shybtn btn-large"
