-content_for :right_panel do
  .rightmenu
    .sidebar-nav
      = link_to 'Éditer cette fiche', edit_venue_path(@venue)
      %br
      %span.infolabel modifié le 20/02/2013 par Untel
      %ul.nav
        %li.nav-header
          /%a{:href => "#"}
          %i.entypo.edi-check_2
          Tâches
        %li
          Relance de paiement pour tel date
        %li
          tache 2
          
      %ul.nav
        %li.nav-header
          %i.entypo.edi-info
          Information
        %li
          Ouverture au public
        %li
          Saison
          
      %ul.nav
        %li.nav-header
          %i.entypo.edi-location-2
          Coordonnées
        
        - @venue.contact_datum.addresses.each do |address|
          = render address
      
        
        - @venue.contact_datum.emails.each do |email|
          = render email
      
        - @venue.contact_datum.phones.each do |phone|
          = render phone
    
        - @venue.contact_datum.websites.each do |website|
          = render website
    
      
      %ul.nav
        %li.nav-header
          %i.entypo.edi-info
          Administratif
        %li
          adresse
          %span.infolabel Administratif
        %li
          %a{:href => "#"}
            email@provider.com
          %span.infolabel Administratif
          
/.page-title
/  Listing venues

.row-fluid.showitem
  .span12
    %header
      .pic
        %i.entypo.edi-house
      %h3= @venue.name
      - @venue.capacities.each do |capacity|
        = render capacity
      %p#notice= notice
    .meta
      %i.entypo.edi-flag
      %i.entypo.edi-heart
      
.row-fluid
  .span12
    .tabbable
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#activity"} Activité
        %li
          %a{"data-toggle" => "tab", :href => "#people"}= "#{@venue.people.size} personnes"
        %li
          %a{"data-toggle" => "tab", :href => "#tasks"}= "#{@pending_tasks.size} #{t(:tasks)}"
        %li
          %a{"data-toggle" => "tab", :href => "#tab3"} Réseaux sociaux
          
      .tab-content
        #activity.tab-pane.active
          %p I'm in Section 1.
        #people.tab-pane
                     
          - @people.each do |person|
            %p
            %tr
              %td= link_to "#{person.first_name} #{person.last_name}", person
              %td= link_to 'Edit', edit_venue_person_path(@venue,person)
              %td= link_to 'Destroy', person, :method => :delete, :data => { :confirm => 'Are you sure?' }
          %p
            = link_to 'New Person', new_venue_person_path(@venue)
        #tasks.tab-pane
          = render :partial => "tasks/group", :locals => {:tasks => @pending_tasks, :due => :overdue, :asset => @venue}
          = render :partial => "tasks/group", :locals => {:tasks => @pending_tasks, :due => :due_today, :asset => @venue}
          = render :partial => "tasks/group", :locals => {:tasks => @pending_tasks, :due => :due_tomorrow, :asset => @venue}
          = render :partial => "tasks/group", :locals => {:tasks => @pending_tasks, :due => :due_this_week, :asset => @venue}
          = render :partial => "tasks/group", :locals => {:tasks => @pending_tasks, :due => :due_next_week, :asset => @venue}
          = render :partial => "tasks/group", :locals => {:tasks => @pending_tasks, :due => :due_this_month, :asset => @venue}
          
          = link_to "Add a task", new_venue_task_path(@venue)

        #tab3.tab-pane
          %p Facebook ++
      
      /\|
      /= link_to 'Back', venues_path
