.row-fluid
  .span8
    -#
      .btn-group
        //ici un select :
        %a.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          Selectionner un projet
          %span.caret
        %ul.dropdown-menu
          %li projet 1
          %li projet 2

    #activityfield-outter
      = simple_form_for(@reporting, remote: true) do |f|
       
        = f.input :note_report_content, label:false, input_html: {id: "activityfield"}, placeholder: "écrire une nouvelle note", as: :text
        = f.hidden_field :asset_id
        = f.hidden_field :asset_type
        = f.input :project_id, collection: Project.all, label: false, value_method: :id, prompt: "Selectionnez un projet", :input_html => { :class => ".ed-select" }
        
        = button_tag(type: 'submit', class: "btn btn-secondary pull-right submit") do 
          Créer la note
          
        = button_tag(type: 'cancel', class: "btn btn-link pull-right cancel") do 
          Annuler
        %div.clearfix
                            
    / ____________________________________ list reportings
    %ul.list-large#reportings
      = render @reportings
   


  / _____________________ infos-mini  
  #infos-mini.span4
    = yield :relative_infos
  
    %ul.list-infos
      - if contact.address
        %li.infolabel= t(contact.address.kind, scope: "simple_form.options.venue.addresses.kind")
        %li= contact.address.full_address
      
    %ul.list-infos
      %li.infolabel Autres
      - contact.emails.each do |email|
        = render email

      - contact.phones.each do |phone|
        = render phone
        
      - contact.websites.each do |website|
        = render website
