.row-fluid
  .span8

    #activityfield-outter
      = render partial: "reportings/form", locals: {reporting: @reporting, edit: false}
    %ul.list.list-large#reportings
      = render @reportings

  #infos-mini.span4
    = yield :relative_infos
    %ul.list-infos
      - if contact.address
        %li.infolabel= t(contact.address.kind, scope: "simple_form.options.venue.addresses.kind")
        %li= contact.address.full_address
    %ul.list-infos
      %li.infolabel Coordonnées
      - contact.emails.each do |email|
        = render email

      - contact.phones.each do |phone|
        = render phone
      - contact.websites.each do |website|
        = render website
