.rightrow
  .meta
    - if contact.contacted?
      %a.ico.contacted.full{:href => "#"}
    - else
      %a.ico.contacted{:href => "#"}

  - if contact.address.present?
    - if contact.address.country == "France"
      = content_tag("div",nil, class:"mini-map france reg-#{contact.address.region_code}") if contact.address.region_code.present?
    - else
      = content_tag("div",nil, class:"mini-map world") if contact.address.present?

  .actions
    = link_to edit_link_path, :class => "shybtn" do
      %i.entypo.edi-pencil
    = link_to contact.fine_model, :class => "shybtn", :method => :delete, :data => { :confirm => 'Voulez-vous vraiment supprimer ce contact ?' }, remote: true do
      %i.entypo.edi-cross
