-content_for :scripts do
  = javascript_include_tag "tag"
  = javascript_include_tag "contacts_index"

.bulk-panel.padded
  .bulkbox
    %span
      %input#checkAll.field.checkbox{name: "checkAlls", type: "checkbox"}/
      %label.choice{for: "checkAlls"}

  .dropdown.inline
    / Link or button to toggle dropdown
    %button.btn.btn-tertiary.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
      Ajouter à une liste
      %i.entypo.caret-ed

    %ul.dropdown-menu.list-lists{"aria-labelledby" => "dropdownMenu", role: "menu"}
      %li{role: "menuitem", tabindex: "-1"}
        %a.icon Liste 1
      %li{role: "menuitem", tabindex: "-1"}
        %a.icon Liste 2
      %li{role: "menuitem", tabindex: "-1"}
        %a.icon Liste 3
      /if > nolist :
      %li{role: "presentation", tabindex: "-1"}
        %span Aucune liste !

      %li.special{role: "menuitem", tabindex: "-1"}
        %a
          %i.ico.edi-plus3
          Nouvelle liste

  %a#f_add_tags.btn.btn-tertiary{:href => "#", :rel=>"popover", "data-html"=>"true", "data-content"=>"<input type='text' id='new_custom_tags' class='input-large custom_tags_input' autofocus='autofocus' data-class='tag-style' data-autocomplete-source='#{customs_path}'><input class='btn btn-primary inline' name='commit' type='submit' onclick=\"var bulk_all=$('#checkAll').is(':checked'); var new_custom_tags=$('#new_custom_tags').val(); $('#bulk_value').val(new_custom_tags); $('#bulk_action').val('add_custom_tags'); $('#bulk_contacts_form').submit(); return false\" value='OK'>"}
    Ajouter un tag personnalisé

  = link_to "#", onclick: "var bulk_all=$('#checkAll').is(':checked'); $('#bulk_all').val(bulk_all); $('#bulk_action').val('delete'); $('#bulk_contacts_form').submit(); return false", data: {confirm: "Etes vous sûr de supprimer tous les contacts sélectionnés ?"} do
    %button.btn.btn-tertiary.delete-btn
      Supprimer

  .btn.btn-tertiary.pull-right.bulk-switch-off.active
    %i.ico.edi-list

#message

%header.page-title
  = t(params[:controller]).titleize
  = [@filtered_by, @param_filter].compact.join(" : ") if @filtered_by.present?

  // IMPORT
  -#
  .subpage-nav.pull-right
    = link_to new_contacts_import_path, remote:false, :class=>"btn btn-tertiary ", :title =>"Importer des contacts...", "data-placement"=>"bottom-right", "data-toggle"=>"tooltip", "data-html"=>"true" do
      %i.ico.edi-import

.row-fluid
  .sorters

    /______________________________________________________ VIEWS
    .dropdown
      / Link or button to toggle dropdown
      %button.btn.btn-tertiary.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
        = @label_category.present? ? t(@label_category, scope: "filters").titleize : "Contacts"
        %i.entypo.caret-ed

      %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1", role: "menu"}
        %li{role: "menuitem"}
          = link_to contacts_path, role: "menuitem", tabindex: "-1" do
            Tous les contacts
        %li{role: "menuitemmenuitem"}
          = link_to contacts_path(category: "people"), role: "menuitem", tabindex: "-1" do
            Toutes les personnes
        %li{role: "menuitem"}
          = link_to contacts_path(category: "structures"), role: "menuitem", tabindex: "-1" do
            Toutes les structures

        %li{role: "menuitem"}
          = link_to contacts_path(category: "venues"), role: "menuitem", tabindex: "-1" do
            Tous les lieux
        %li{role: "menuitem"}
          = link_to contacts_path(category: "festivals"), role: "menuitem", tabindex: "-1" do
            Tous les festivals
        %li{role: "menuitem"}
          = link_to contacts_path(category: "show_buyers"), role: "menuitem", tabindex: "-1" do
            Tous les autres organisateurs de spectacle


        %li.divider{role: "menuitem"}
        -#%li{role: "menuitem"}
          = link_to("Récemment consultés",only_contacts_path(filter:"recently_updated"), role: "menuitem", tabindex: "-1")
        %li{role: "menuitem"}
          = link_to("Récemment créés",only_contacts_path(filter:"recently_created"), role: "menuitem", tabindex: "-1")

        %li.divider{role: "menuitem"}

        - if current_account.last_import_at
          %li{role: "menuitem"}
            = link_to contacts_path(imported_at: current_account.last_import_at), role: "menuitem", tabindex: "-1" do
              Dernier import
          %li.divider{role: "menuitem"}

        - if current_account.test_imported_at
          %li{role: "menuitem"}
            = link_to contacts_path(imported_at: current_account.test_imported_at), role: "menuitem", tabindex: "-1" do
              Contacts tests
            %li.divider{role: "menuitem"}


        %li{role: "menuitem"}
          = link_to contacts_path(duplicated: "true"), role: "menuitem", tabindex: "-1" do
            Tous les doublons

    /______________________________________________________ filters-trigger
    %button.filters-trigger.btn.btn-tertiary
      Filtres
      %i.entypo.caret-ed

    /______________________________________________________ STATUS
    .status
      = link_to only_contacts_path(filter: "favorites"), :class=>"shybtn", :title =>"Voir seulement  les contacts <br> marqués comme <br> Favoris", "data-placement"=>"bottom-right", "data-toggle"=>"tooltip", "data-html"=>"true" do
        %i.ico.edi-heart

      = link_to only_contacts_path(filter: "contacted"), :class=>"shybtn", :title =>"Voir seulement  les contacts <br> marqués comme <br> Déjà échangé", "data-placement"=>"bottom-right", "data-toggle"=>"tooltip", "data-html"=>"true" do
        %i.ico.edi-comment

  .filters-outercontainer
    .filters-container
      .filters-pool
        %a#f_capacities.tag.tag-custom{:href => "#", :rel=>"popover", "data-html"=>"true", "data-content"=>"<div class='tag-list' id='f_capacity_range'><a class='tag tag-custom' data-content='&lt; 100' href='#'>0 &lt; 100</a><a class='tag tag-custom' data-content='100-400' href='#'>100-400</a><a class='tag tag-custom' data-content='401-1200' href='#'>401-1200</a><a class='tag tag-custom' data-content='&gt; 1200' href='#'>&gt; 1200</a></div>"}
          Jauge

        %a#f_dept.tag.tag-custom2{:href => "#", :rel=>"popover", "data-html"=>"true", "data-content"=>"<form onsubmit='filtergo(this); return false' method='post'><input type='text' name='thefield' id='f_address' class='input-large' autofocus='autofocus' placeholder='Ville'><input type='submit' value='ok' name='commit' class='btn btn-primary inline'></form>"}
          A proximité de
        %a#f_radius.tag.tag-custom2{:href => "#", :rel=>"popover", "data-html"=>"true", "data-content"=>"<form onsubmit='filtergogeo(this); return false' method='post'><div class='input-append inline'><input class='input-mini' id='f_radius' name='thefield' autofocus='autofocus' type='text' value='50'><span class='add-on'>km</span></div><input type='submit' value='ok' name='commit' class='btn btn-primary inline'></form>"}
          Dans un rayon de

        %a#f_kind.tag.tag-type{:href => "#", :rel=>"popover", "data-html"=>"true", "data-content"=>"<div class='tag-list' id='f_venue_kind'><a class='tag tag-type' data-content='bar' href='#'>"+t("bar", scope:"simple_form.options.venue.kind")+"</a><a class='tag tag-type' data-content='theater_cafe' href='#'>"+t("theater_cafe", scope:"simple_form.options.venue.kind")+"</a><a class='tag tag-type' data-content='cultural_center' href='#'>"+t("cultural_center", scope:"simple_form.options.venue.kind")+"</a><a class='tag tag-type' data-content='mjc' href='#'>"+t("mjc", scope:"simple_form.options.venue.kind")+"</a><a class='tag tag-type' data-content='smac' href='#'>"+t("smac", scope:"simple_form.options.venue.kind")+"</a><a class='tag tag-type' data-content='music_venue' href='#'>"+t("music_venue", scope:"simple_form.options.venue.kind")+"</a><a class='tag tag-type' data-content='other' href='#'>"+t("other", scope:"simple_form.options.venue.kind")+"</a></div>"}
          Type de lieu

        %a#f_style.tag.tag-style{:href => "#", :rel=>"popover", "data-html"=>"true", "data-content"=>"<form onsubmit='filtergo(this); return false' method='post' action='#'><input type='text' name='thefield' id='f_style_list' class='input-large style_tags_input' autofocus='autofocus' data-class='tag-style' data-autocomplete-source='#{styles_path}' placeholder='Rock, Humour…'><input type='submit' value='ok' name='commit' class='btn btn-primary inline'></form>"}
          Esthétique

        %a#f_network.tag.tag-network{:href => "#", :rel=>"popover", "data-html"=>"true", "data-content"=>"<form onsubmit='filtergo(this); return false' method='post' action='#'><input type='text' name='thefield' id='f_network_list' class='input-large network_tags_input' autofocus='autofocus' data-class='tag-style' data-autocomplete-source='#{networks_path}' placeholder='…'><input type='submit' value='ok' name='commit' class='btn btn-primary inline'></form>"}
          Réseau

        %a#f_custom.tag.tag-legal{:href => "#", :rel=>"popover", "data-html"=>"true", "data-content"=>"<form onsubmit='filtergo(this); return false' method='post' ><input type='text' name='thefield' id='f_contract_list' class='input-large' autofocus='autofocus' placeholder='Co-realisation, Location…' data-available-tags='#{Scheduling::CONTRACT_LIST}'><input type='submit' value='ok' name='commit' class='btn btn-primary inline'></form>"}
          Type de contrat

        %a#f_custom.tag.tag-custom{:href => "#", :rel=>"popover", "data-html"=>"true", "data-content"=>"<form onsubmit='filtergo(this); return false' method='post' ><input type='text' name='thefield' id='f_custom_list' class='input-large custom_tags_input' data-autocomplete-source='#{customs_path}' autofocus='autofocus' placeholder='…'><input type='submit' value='ok' name='commit' class='btn btn-primary inline'></form>"}
          Tags personnalisés

      .filters-stage

        #filters_btns.pull-right
          %a.btn.shybtn{:href => "#", "data-role"=>"close"}
            Réinitialiser
          %a#final_submit.btn.btn-primary{:href => "#"}
            Rechercher
          %a#final_submit_map.btn.btn-primary{:href => "#"}
            sur une carte

= form_tag contacts_path, method: :get, :id=>"filters-hiddenform", :class=>"hidden" do

  = hidden_field_tag :category, params[:category]
  = hidden_field_tag :imported_at, params[:imported_at]
  = text_field_tag :venue_kind, params[:venue_kind], placeholder: "Type de salle", :class=>"tag-type", data: {text: translate_multiple_values(params[:venue_kind],"simple_form.options.venue.kind")}

  = text_field_tag :capacity_range, params[:capacity_range], placeholder: "Jauge...", :class=>"tag-custom"

  = text_field_tag :style_list, params[:style_list], placeholder: "Styles (separes par virgule)", :class=>"tag-style"
  = text_field_tag :contract_list, params[:contract_list], placeholder: "Types de contrats", :class=>"tag-legal"
  = text_field_tag :network_list, params[:network_list], :class=>"tag-network"
  = text_field_tag :custom_list, params[:custom_list], placeholder: "Tags perso", :class=>"tag-custom"
  = text_field_tag :dept, params[:dept], placeholder:  "N°Departement", :class=>"tag-custom2"
  = text_field_tag :address, params[:address], placeholder:"Localité, Adresse, ...", :class =>"input-xlarge"
  = text_field_tag :radius, params[:radius], placeholder:"50", :class =>"tag-custom2"

  = button_tag "Search", name: nil
  = submit_tag "show map"
