= form_tag bulk_contacts_path, id: "bulk_contacts_form", method: :put, remote: true do
  = hidden_field_tag "bulk_action"
  = hidden_field_tag "bulk_value"
  = hidden_field_tag "bulk_all"

  %ul#contact-list.list.list-large
    - unless @no_paging
      %li.list-header
        %span.badge-count= @contacts.try(:total_count)

        résultats
        = paginate @contacts if @contacts
        —

        // EXPORT
        = link_to new_export_path(params.except(:controller)), remote: true, :class=>"", :title =>"Exporter ces contacts dans un fichier XML", "data-placement"=>"bottom-left", "data-toggle"=>"tooltip", "data-html"=>"true" do
          %i.entypo.edi-export
    = render @contacts if @contacts
    - unless @no_paging
      %li#next_page_li.list-header
        #next_page_link= link_to_next_page @contacts, 'Next page', remote: true, data: { spinner: "#next_page_spinner" }
        = spinner_tag "next_page_spinner"
    %li.btns-in-list
      %i.entypo.edi-plus3
      %span
        = link_to "Ajouter une structure", new_structure_path
        |
        = link_to new_person_path do
          Ajouter une personne

