%ul#contact-list.list-large
  - unless @no_paging
    %li.list-header
      %span.badge-count= @contacts.try(:total_count)
      
      résultats
      = paginate @contacts if @contacts
      —

      // EXPORT
      /= link_to "Exporter ces contacts", export_contacts_path(params), remote: true
      -#
      = link_to export_contacts_path(params), remote:true, :class=>"", :title =>"Exporter ces contacts dans un fichier XML", "data-placement"=>"bottom-left", "data-toggle"=>"tooltip", "data-html"=>"true" do
        %i.entypo.edi-export
  -#  
    .meta
      %a.shybtn{:href => "#",:title => "bulk / Traitement par lot", "data-placement"=>"bottom-right", "data-toggle"=>"tooltip", "data-html"=>"true"}
        %i.edi-list
  
  = render @contacts if @contacts

  - unless @no_paging
    %li.list-header
      = paginate @contacts if @contacts
  
  .btns-in-list
    %i.entypo.edi-plus3
    %span
      = link_to "Ajouter une structure", new_structure_path
      |
      = link_to new_person_path do
        Ajouter une personne
