.page-title
  = t(params[:controller]).titleize
  = @filtered_by if @filtered_by.present?
  
  .subpage-nav
    = link_to contacts_path, :class =>"active" do
      Liste
    = link_to show_map_contacts_path do
      Carte
.row-fluid
  .span3.filters
    .search
      = form_tag contacts_path, method: "get", class: "form-search form-horizontal", id:"custom-search-form" do
        .input-append
          = text_field_tag :search, params[:search], class:"search-query", placeholder:"—"
          %button.btn{type:"submit"}
            %i.icon-search
      
    %ul.nav.nav-list.filters-list
      %li.nav-header
        Types
      %li
        = nav_link "Tout", contacts_path, "edi-book"
      %li
        = nav_link "Personnes", people_path, "edi-user"
      %li
        = nav_link "Salles", venues_path, "edi-venue"
       
       
          
    %ul.nav.nav-list.filters-list
      %li.nav-header
        Statut
      %li
        = link_to only_contacts_path(filter: "contacted") do
          %i.edi-chat
          Déjà échangé
      %li
        %a{:href => "#"}
          %i.edi-flag
          Déjà joué
      %li
        = link_to only_contacts_path(filter: "favorites") do
          %i.edi-heart
          Favoris  
          
          
          
  .span9
    %ul.list-large
      %li.list-header
        = @contacts.total_count
        résulats
        = paginate @contacts
        .meta
          %a.shybtn{:href => "#",:title => "bulk / Traitement par lot",:rel => "tooltip"}
            %i.edi-list
      
      = render @contacts
      
      .btn-in-list
        = link_to new_venue_path do
          %i.entypo.edi-plus-3
          %span
            New Venue