-content_for :scripts do
  = javascript_include_tag "contacts_index"

%header.page-title
  = t(params[:controller]).titleize
  = [@filtered_by, @param_filter].compact.join(" : ") if @filtered_by.present?
  
  .subpage-nav
    = link_to contacts_path, :class =>"active" do
      Liste
    = link_to show_map_contacts_path do
      Carte
.row-fluid
  .sorters
    
    -#
      %select.btn-tertiary
        %option
          Types
        %option
          = nav_link "Tout", contacts_path, "edi-book"
        %option
          = nav_link "Personnes", people_path, "edi-user"
        %option
          = nav_link "Salles", venues_path, "edi-venue"
          
          
    /______________________________________________________ VIEWS
    .dropdown
      / Link or button to toggle dropdown
      %button.btn.btn-tertiary.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
        Tous les contacts
        %i.entypo.caret-ed

      %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1", role: "menu"}
        %li{role: "presentation"}
          = link_to contacts_path, role: "menuitem", tabindex: "-1" do
            Tous les contacts
        %li{role: "presentation"}
          = link_to people_path, role: "menuitem", tabindex: "-1" do
            Toutes les personnes
        %li{role: "presentation"}
          = link_to venues_path, role: "menuitem", tabindex: "-1" do
            Tous les lieux
        %li.divider{role: "presentation"}
        %li{role: "presentation"}
          %a{href: "#", role: "menuitem", tabindex: "-1"} Récemment consultés
        %li{role: "presentation"}
          %a{href: "#", role: "menuitem", tabindex: "-1"} Récemment créés
        %li.divider{role: "presentation"}
        %li{role: "presentation"}
          %a{href: "#", role: "menuitem", tabindex: "-1"} Personnes sans mot-clés
        %li{role: "presentation"}
          %a{href: "#", role: "menuitem", tabindex: "-1"} Personnes sans activité depuis 30 jours
    
    
      -#
        /______________________________________________________ SHORTLISTS
        .dropdown
          / Link or button to toggle dropdown
          %button.btn.btn-tertiary.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
            Listes
            %i.entypo.caret-ed
        
          %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu2", role: "menu"}
            %li{role: "presentation"}
              %a{href: "#", role: "menuitem", tabindex: "-1"}
                %i.edi-bookmarks
                Liste A
            %li{role: "presentation"}
              %a{href: "#", role: "menuitem", tabindex: "-1"}
                %i.edi-bookmarks
                Liste B
            %li{role: "presentation"}
              %a{href: "#", role: "menuitem", tabindex: "-1"}
                %i.edi-bookmarks
                Liste C
            %li.divider{role: "presentation"}
            %li{role: "presentation"}
              %button.btn-primary Créer une liste
            
            
      /______________________________________________________ filters-trigger
      %button.filters-trigger.btn.btn-tertiary
        Filtres
        %i.entypo.caret-ed
      
      
    /______________________________________________________ STATUS  
    .status
      = link_to only_contacts_path(filter: "favorites"), :class=>"shybtn", :title =>"Voir seulement  les contacts <br> marqués comme <br> favoris", "data-placement"=>"bottom-right", "data-toggle"=>"tooltip", "data-html"=>"true" do
        %i.ico.edi-heart
        
      = link_to only_contacts_path(filter: "contacted"), :class=>"shybtn", :title =>"Voir seulement  les contacts <br> marqués comme <br> Déjà échangé", "data-placement"=>"bottom-right", "data-toggle"=>"tooltip", "data-html"=>"true" do
        %i.ico.edi-comment
   
      %a{:href => "#", :class=>"shybtn", :title =>"Voir seulement  les contacts <br> marqués comme <br> Déjà joué", "data-placement"=>"bottom-right", "data-toggle"=>"tooltip", "data-html"=>"true"}
        %i.ico.edi-flag
    
      
        

  .filters-outercontainer
    .filters-container
      .filters-pool
        -#
          %a#f_name.tag.tag-custom2{:href => "#", :rel=>"popover", "data-html"=>"true", "data-content"=>"<form onsubmit='filtergo(this); return false' method='post' action='#'><input type='text' name='thefield' id='name' class='input-large' autofocus='autofocus' placeholder='Nom…'><input type='submit' value='ok' name='commit' class='btn btn-primary inline'></form>"}
        
            //<input id='f_type_input' class='input-large' autofocus='autofocus' type='text' placeholder='Nom…' name='name'> <button class='btn btn-primary inline' type='submit'>ok</button>"}
            Nom
        -#
          .inline-inputs 
            %input.input-mini{type:"number", :placeholder=>"0"}
            %span.inline <
            %input.input-mini{type:"number", :placeholder=>"∞"}
          
        %a#f_capacities.tag.tag-custom2{:href => "#", :rel=>"popover", "data-html"=>"true", "data-content"=>"<form onsubmit='filtergo_cap(this); return false' method='post' action='#'><input class='input-mini' autofocus='autofocus' type='number' placeholder='0' name='capacity_lt'><span class='add-middle'><</span><input class='input-mini' type='number' placeholder='∞' name='capacity_gt'> <input type='submit' value='ok' name='commit' class='btn btn-primary inline'></form><span class='hint'>Entrez une ou deux valeurs</span>"}
          Jauge
        -#  
          %a.tag.tag-custom2{:href => "#", :rel=>"popover", "data-html"=>"true", "data-content"=>"<form onsubmit='filtergo(this); return false' method='post' action='#'><input type='text' name='thefield' id='f_function_list' class='input-large' autofocus='autofocus' placeholder='Programmateur…'><input type='submit' value='ok' name='commit' class='btn btn-primary inline'></form>"}
            Fonction
        
        %a.tag.tag-custom2{:href => "#", :rel=>"popover", "data-html"=>"true", "data-content"=>"<form onsubmit='filtergo(this); return false' method='post' action='#'><input type='text' name='thefield' id='f_dept' class='input-large' autofocus='autofocus' placeholder='Localité, code postal…'><input type='submit' value='ok' name='commit' class='btn btn-primary inline'></form>"}
          Addresse
        
        <br>
        
        %a#f_type.tag.tag-type{:href => "#", :rel=>"popover", "data-html"=>"true", "data-content"=>"<form onsubmit='filtergo_sel(this); return false' method='post' action='#'><select name='f_venue_kind' id='theselect'><option value=''></option><option value='bar'>Bar</option><option value='theater_cafe'>Cafe Theatre</option><option value='cultural_center'>Centre culturel</option></select><input type='submit' value='ok' name='commit' class='btn btn-primary inline'></form>"}
          //<input type='text' name='thefield' id='f_venue_kind' class='input-large' autofocus='autofocus' placeholder='SMAC, Zenith…'>
          Type de lieu
        
        %a#f_style.tag.tag-style{:href => "#", :rel=>"popover", "data-html"=>"true", "data-content"=>"<form onsubmit='filtergo(this); return false' method='post' action='#'><input type='text' name='thefield' id='f_style_list' class='input-large' autofocus='autofocus' placeholder='Rock, Humour…'><input type='submit' value='ok' name='commit' class='btn btn-primary inline'></form>"}
          Esthétique
          
        %a#f_custom.tag.tag-legal{:href => "#", :rel=>"popover", "data-html"=>"true", "data-content"=>"<form onsubmit='filtergo(this); return false' method='post' action='#'><input type='text' name='thefield' id='f_contract_list' class='input-large' autofocus='autofocus' placeholder='Co-realisation, Location…'><input type='submit' value='ok' name='commit' class='btn btn-primary inline'></form>"}
          Type de contrat
        
        %a#f_custom.tag.tag-custom{:href => "#", :rel=>"popover", "data-html"=>"true", "data-content"=>"<form onsubmit='filtergo(this); return false' method='post' action='#'><input type='text' name='thefield' id='f_custom_list' class='input-large' autofocus='autofocus' placeholder='Autre mot-clés…'><input type='submit' value='ok' name='commit' class='btn btn-primary inline'></form>"}
          Autres mot-clés
        


      .filters-stage
        -#
          %a.tag.tag-actor{:href => "#"}
            %span.close x
            theFiltervalue
            
        #filters_btns.pull-right
          %a.btn.shybtn{:href => "#", "data-role"=>"close"}
            Réinitialiser
          %a#final_submit.btn.btn-primary{:href => "#"}
            Rechercher
.filters-hiddenform
  //.hidden
  = form_tag contacts_path, method: :get do
    = select_tag :venue_kind, options_for_select([["Bar",:bar], ["Cafe Theatre", :theater_cafe], ["Centre culturel",:cultural_center], ["MJC", :mjc],["SMAC", :smac],["Théâtre",:theater],["Salle de concerts", :music_venue],["Autre",:other]], params[:venue_kind]), prompt: "Type de lieu ..."
    = text_field_tag :capacity_lt, params[:capacity_lt], placeholder: "Jauge <"
    = text_field_tag :capacity_gt, params[:capacity_gt], placeholder: "Jauge >"
    = select_tag :capacity_range, options_for_select(Venue::CAPACITY_RANGE_OPTIONS,params[:capacity_range]), prompt:"Jauge..."
    = text_field_tag :style_list, params[:style_list], placeholder: "Styles (separes par virgule)"
    = text_field_tag :contract_list, params[:contract_list], placeholder: "Types de contrats"
    = text_field_tag :custom_list, params[:custom_list], placeholder: "Tags perso"
    = text_field_tag :dept, params[:dept], placeholder:  "N°Departement"
    = button_tag "Search", name: nil
   
/______________________________________________________ LISTS       
.row-fluid
  %ul#contact-list.list-large
    %li.list-header
      = @contacts.total_count
      résulats — Page 
      = paginate @contacts
    -#  
      .meta
        %a.shybtn{:href => "#",:title => "bulk / Traitement par lot", "data-placement"=>"bottom-right", "data-toggle"=>"tooltip", "data-html"=>"true"}
          %i.edi-list
    
    = render @contacts
    
    %li.list-header
      = paginate @contacts
    
    .btns-in-list
      %i.entypo.edi-plus-3
      %span
        = link_to "Ajouter un lieu", new_venue_path 
        |
        = link_to new_person_path do
          Ajouter une personne
