.page-title
  Contacts
  .subpage-nav
    = link_to contacts_path do
      Liste
    = link_to show_map_contacts_path, :class =>"active" do
      Carte

/%form.inline-form
= form_tag show_map_contacts_path, method: :get, class: "inline-form" do
  .control-group
    = label_tag :address,"Afficher des lieux à proximité de"
    = text_field_tag :address, params[:address], placeholder:"Localité, Adresse, ..."

  .control-group
    = label_tag :radius,"Rayon"
    .input-append
      = text_field_tag :radius, params[:radius], placeholder:"50"
      .add-on km
  %button.btn.btn-primary{type:"submit"}
    %i.entypo.edi-search
    
/ = gmaps4rails(@contacts_json)
- if @contacts_json.present?
  #gmaps_index
    = gmaps("map_options" => { "detect_location" => false, "center_on_user" => false, "zoom" => 7, "auto_adjust" => true, "auto_zoom" => true, :container_class => "map_container" },"markers" => { "data" => @contacts_json }, "options" => {"list_container" => "markers_list" })
  //, :class => "gmaps_big"
- else
  Aucun lieu trouvé