- if asset.class.name == "Venue"
  - asset.capacity_tags.each do |c|
    = venue_capacity_link(c)
  
  = venue_kind_link(asset.kind)

  - asset.contract_list.try(:each) do |c|
    = tag_link("contract",c,"tag-legal")

  - asset.style_list.try(:each) do |s|
    = tag_link("style",s,"tag-style")

- asset.network_list.try(:each) do |s|
  = tag_link("network",s,"tag-style")


- asset.custom_list.try(:each) do |c|
  = tag_link("custom",c,"tag-custom")

