- contact.network_list.try(:each) do |c|
  = tag_link(contacts_path(network_list: c), c,"tag-legal")

- contact.capacity_list.try(:each) do |c|
  = tag_link(contacts_path(capacity_range: c), c,"tag-custom")
    
= tag_link(contacts_path(venue_kind: contact.venue_kind), t(contact.venue_kind, scope:"simple_form.options.venue.kind"),"tag-type") if contact.venue_kind.present?

- contact.contract_list.try(:each) do |c|
  = tag_link(contacts_path(contract_list: c), c,"tag-legal")

-# contact.style_tags.try(:each) do |s|
- contact.style_list.try(:each) do |s|
  = tag_link(contacts_path(style_list: s), s, "tag-style")

- contact.network_list.try(:each) do |n|
  = tag_link(contacts_path(network_list: n),s,"tag-style")
  

- contact.custom_list.try(:each) do |c|
  = tag_link(contacts_path(custom_list: c),c,"tag-custom")

