%h4= address.contact.name
<br>

%span.jauge
  %span.number 200
  seating
%span.jauge
  %span.number 200
  standing
-#
  %span.location
    1000
    Bourg En Bresse
    (
    %a{href: "/fr/contacts/only/dept?no=10"} Aube
    ,
    Champagne Ardenne
    )
.tags
  %a.tag.tag-type{href: "/fr/venues?kind=SCENE+DE+MUSIQUES+ACTUELLES"}
    %span SCENE DE MUSIQUES ACTUELLES
      
-#
  = link_to venue do
    %h3= contact.name
    /.pic= image_tag venue.avatar_url(:thumb)
  .infos-line
    = render venue.capacities if venue.capacities
    = render venue.address if venue.address
  
  .tags
    = render partial: "venues/tags", locals: { venue: venue}