%li{id: "festival_#{festival.to_param}"}
  = render partial: "contacts/contact_elem", locals: {contact: festival.structure.contact, edit_link_path:edit_festival_path(festival) }
  

  .mainrow
    
    = link_to festival do
      %h3
        = festival.name
        - if festival.contact.making_prospecting?
          %a.badge.badge-green.badge-capsule En recherche active
        - if festival.contact.has_duplicates?
          = link_to "Doublon", contacts_path(duplicate_of: festival.contact.dup_id), class: "a badge badge-grey doublons"

      .pic= image_tag festival.avatar_url
    .infos-line
      / = render venue.capacities if venue.capacities
      = render festival.address if festival.address
      
    .tags
      = render partial: "tags/tags", locals: { contact: festival.structure.contact}