/
  \######################  START HEADER ######################
  \==============================================================
%header#header-section.headertop.needhead
  / START PARALLAX BG
  .innerbg
    .overlaybg
      /
        \###################### START TOP MENU ####################
        \==============================================================
      .nav-top
        / navbar-fixed-top
        #top-nav.navbar.navbar-fixed-top
          / INNER
          .navbar-inner
            .container
              / Collapse button
              %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              / LOGO
              .logo
                %i.ed-icon-ed-logo-bkg.logotype
                %a{:href => "#header-section"}
                  %i.ed-icon-ed-logo.logotype
              #baseline
                = t("home.baseline").html_safe 
              #langswitch.noselect
                = link_to "FR", "/fr", :class => params[:locale].eql?("fr") ? 'active' : ''
                |
                = link_to "EN", "/en", :class => params[:locale].eql?("en") ? 'active' : ''
                 
              / LEFT SOCIALS
              #socialfixed
                %ul.social-left
                  %li
                    %a{:href => "https://www.facebook.com/pages/Merci-Edgar/164510577033726", :title => "Facebook Merci Edgar", :target => "blank"}
                      %i.ed-icon-facebook
                  %li
                    %a{:href => "https://twitter.com/MerciEdgar", :title => "Twitter Merci Edgar", :target => "blank"}
                      %i.ed-icon-twitter
                  %li
                    %a{:href => "http://vimeo.com/channels/entretiensdedgar", :title => "Vimeo Channel Entretiens d'Edgar", :target => "blank"}
                      %i.ed-icon-vimeo
              #login-menu
                - if user_signed_in?
                  - if current_user.has_role? :admin
                    = link_to "Administration", users_path
                  = link_to 'Se deconnecter', destroy_user_session_path, :method => :delete
                - else
                  = link_to 'Se connecter', new_user_session_path
                  
          
              / END LEFT SOCIALS    
              / TOP NAVIGATION
              #main-nav.scroller-spy
                %nav.nav-collapse.collapse
                  %ul#nav.nav.pull-right
                    
                    %li.active
                      / %a{:href => "#header-section"}
                      = link_to locale_root_path, :anchor => "header-section" do
                        %i.ed-icon-home
                    %li
                      = link_to t("home.menu.what"), locale_root_path, :anchor => "header-anchor"
                    %li
                      = link_to "Edgar TV", locale_root_path, :anchor => "tv-section"
                    %li
                      = link_to t("home.menu.news"), locale_root_path, :anchor => "news-section"
                    %li
                      = link_to t("home.menu.who"), locale_root_path, :anchor => "team-section"
      /
        \############################ END TOP MENU ###############
        \==========================================================
      = yield(:hero)
      
    / /overlaybg
  / / END PARALLAX BG
/
  \/ ###################### END MAIN HEADER ####################
  \===============================================================