%meta{:content => content_for?(:description) ? yield(:description) : "Edgar", :name => "description"}
/= javascript_include_tag "onepage"
/= javascript_include_tag "op"
= csrf_meta_tags
%meta{:charset => "utf-8"}/
%title Merci Edgar | L'assistant virtuel des artistes
%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
%meta{:content => "Merci Edgar, #{t("baseline")}", :name => "description"}/
%meta{:content => "Merci Edgar", :name => "author"}/

%meta{:content => "Merci Edgar, #{t("baseline")}", :property => "og:title"}/
%meta{:content => "#{t("home.slogan.are_you_artist")} #{t("home.slogan.time")} Merci Edgar #{t("home.slogan.edgar_for_you")}", :property => "og:description"}/
%meta{:content => "http://#{ENV["DOMAIN"]}/images/hero-img2d.png", :property => "og:image"}/
%meta{:content => "image/png", :property => "og:image:type"}/
%meta{:content => "620", :property => "og:image:width"}/
%meta{:content => "480", :property => "og:image:height"}/

/
  \######################## Styles ######################
  \=======================================================
/%link{:href => "/assets/css/animate.min.css", :rel => "stylesheet"}/
/%link{:href => "/assets/css/bootstrap.css", :rel => "stylesheet"}/
/%link{:href => "/assets/css/bootstrap-responsive.css", :rel => "stylesheet"}/
/ <link href="/assets/css/flat-ui.css" rel="stylesheet">
/
  \=========================================================================
  \!important THIS FILE -= style.css =- ON BOTTOM OF BOOTSTRAP STYLEs  LIST
  This override bootstrap def. style
  \===================================================

= stylesheet_link_tag "onepage"

/ FontAwesome styles (iconic font)
/%link{:href => "/assets/css/font-awesome.min.css", :rel => "stylesheet"}/
/%link{:href => "/assets/icomoon-edgar-onepage/style.css", :rel => "stylesheet"}/
/%link{:charset => "utf-8", :href => "/assets/bitter-ffk/stylesheet.css", :rel => "stylesheet", :type => "text/css"}/
/%link{:href => "/assets/podkova-bold/stylesheet.css", :rel => "stylesheet", :type => "text/css"}/
/%link{:href => "/assets/podkova-fontfacekit/stylesheet.css", :rel => "stylesheet", :type => "text/css"}/
/ prettyPhoto styles
/ Gallery inlarge script styles
/link{:href => "/assets/css/prettyPhoto.css", :rel => "stylesheet", :type => "text/css"}/
/ Le HTML5 shim, for IE6-8 support of HTML5 elements
/[if lt IE 9]
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

/ Le fav and touch icons
/= favicon_tag 'images/favicon.ico'
%link{:href => "/assets/images/favicon.ico", :rel => "shortcut icon"}/
/%link{:href => "/assets/ico/apple-touch-icon-144-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}/
/%link{:href => "/assets/ico/apple-touch-icon-114-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}/
/%link{:href => "/assets/ico/apple-touch-icon-72-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}/
/%link{:href => "/assets/ico/apple-touch-icon-57-precomposed.png", :rel => "apple-touch-icon-precomposed"}/
