/
  \######################  START HEADER ######################
  \==============================================================
%header#header-section.headertop.needhead
  / START PARALLAX BG
  .innerbg
    .overlaybg
      /
        \###################### START TOP MENU ####################
        \==============================================================
      .nav-top
        / navbar-fixed-top
        #top-nav.navbar.navbar-fixed-top
          / INNER
          .navbar-inner
            .container
              / Collapse button
              %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              / LOGO
              .logo
                %i.ed-icon-ed-logo-bkg.logotype
                %a{:href => "#header-section"}
                  %i.ed-icon-ed-logo.logotype
              #baseline
                = t("home.baseline").html_safe 
              #langswitch.noselect
                = link_to "FR", "/fr", :class => params[:locale].eql?("fr") ? 'active' : ''
                |
                = link_to "EN", "/en", :class => params[:locale].eql?("en") ? 'active' : ''
                 
              / LEFT SOCIALS
              #socialfixed
                %ul.social-left
                  
                  %li
                    %a{:href => "https://www.facebook.com/pages/Merci-Edgar/164510577033726", :title => "Facebook Merci Edgar", :target => "blank"}
                      %i.ed-icon-facebook
                  %li
                    %a{:href => "https://twitter.com/MerciEdgar", :title => "Twitter Merci Edgar", :target => "blank"}
                      %i.ed-icon-twitter
                  
              / END LEFT SOCIALS    
              / TOP NAVIGATION
              #main-nav.scroller-spy
                %nav.nav-collapse.collapse
                  %ul#nav.nav.pull-right
                    /
                      <li class='active'>
                      <a href='#header-section'>Home</a>
                      </li>
                    %li.active
                      %a{:href => "#features-anchor"}= t("home.menu.what")
                    %li
                      %a{:href => "#tv-section"} Edgar TV
                    %li
                      %a{:href => "#news-section"}= t("home.menu.news")
                    %li
                      %a{:href => "#team-section"}= t("home.menu.who")
      /
        \############################ END TOP MENU ###############
        \==========================================================
      = yield(:hero)
      
    / /overlaybg
  / / END PARALLAX BG
/
  \/ ###################### END MAIN HEADER ####################
  \===============================================================