.logo
  %i.entypo.edi-logoedgar_under.logotype
  %a{:href => "#"}
    %i.entypo.edi-logoedgar.logotype
  .account-tab
    = Account.find(Account.current_id).name
    /%a.rightbt{:href => "#"}
    /%i.entypo.edi-cog
%nav.leftmenu
  .sidebar-nav
    %ul.nav.nav-list
      %li.user-tab
        /%a.user-tab.rightbt{:href => "#"}
        /%i.entypo.edi-cog
        /%a.user-tab{:href => "/accounts"}
        
        = link_to edit_user_path(current_user) do
          = current_user.name
          %i.entypo.edi-cog.righticon
          /User: #{@user.name}
          
      %li
        = link_to root_path do
          %i.entypo.edi-gauge
          Tableau de bord
          
      %li
        /= link_to new_venue_path, :class => "rightbt" do
        /  %i.entypo.edi-plus-3
        = link_to contacts_path do
          %i.entypo.edi-book
          Contacts
          %span.infolabel
          /~15
          
      %li.comingsoon
        /%a.rightbt{:href => "#"}
        /  %i.entypo.edi-plus-3
        %a{:href => "#"}
          %i.entypo.edi-check_2
          Tâches
          %span.badge
            1
            
      %li.comingsoon
        /= link_to new_venue_path, :class => "rightbt" do
        /  %i.entypo.edi-plus-3
        %a{:href => "#"}
          /%i.entypo.edi-calendar
          %i.entypo.edi-dates
          Dates
          
      %li.comingsoon
        %a{:href => "#"}
          %i.entypo.edi-megaphone
          Campagnes
          
      %li
        = link_to search_index_path do
          %i.entypo.edi-search
          Recherche
        
      %li.click-nav.comingsoon
        .ul.no-js
          %a.clicker{:href => "#"}
            %i.entypo.edi-pushpin
            Dernièrement
            %i.entypo.edi-arrow-down-5.rightbt
     
          %ul.nav.nav-list.recent.comingsoon
            /%li.nav-header Récemment consulté
            %li
              %a{:href => "#"}
                .pic
                  %i.entypo.edi-user
                Albert Untel
            %li
              %a{:href => "#"}
                .pic
                  %i.entypo.edi-github
                Salle Machin
            %li
              %a{:href => "#"}
                .pic
                  %i.entypo.edi-user
                Albert Untel
            %li
              %a{:href => "#"}
                .pic
                  %i.entypo.edi-github
                Salle Machin
