.logo
  %i.entypo.edi-logoedgar_under.logotype
  %a{:href => "#"}
    %i.entypo.edi-logoedgar.logotype
  .account-tab
    = Account.find(Account.current_id).name
    /%a.rightbt{:href => "#"}
    /%i.entypo.edi-cog
%nav.leftmenu
  .sidebar-nav
    %ul.nav.nav-list
      %li.user-tab
        /%a.user-tab.rightbt{:href => "#"}
        /%i.entypo.edi-cog
        /%a.user-tab{:href => "/accounts"}
        
        = link_to edit_user_path(current_user) do
          %span
            = current_user.name
          %i.entypo.edi-cog.righticon
          /User: #{@user.name}
          
      = menu_link("Tableau de bord", root_path, "edi-gauge","home",nil)
      = menu_link("Contacts", contacts_path, "edi-book","contacts", Contact.count)
      = menu_link("Tâches", tasks_path, "edi-check_2","tasks", Task.pending.size)
            
      %li.comingsoon
        /= link_to new_venue_path, :class => "rightbt" do
        /  %i.entypo.edi-plus-3
        %a{:href => "#"}
          /%i.entypo.edi-calendar
          %i.entypo.edi-dates
          Dates
          
      %li.comingsoon
        %a{:href => "#"}
          %i.entypo.edi-megaphone
          Campagnes
          
      %li
        = link_to search_index_path do
          %i.entypo.edi-search
          Recherche
        
      %li.click-nav.comingsoon
        .ul.no-js
          %a.clicker{:href => "#"}
            %i.entypo.edi-pushpin
            Dernièrement
            %i.entypo.edi-arrow-down-5.rightbt
     
          %ul.nav.nav-list.recent.comingsoon
            /%li.nav-header Récemment consulté
            %li
              %a{:href => "#"}
                .pic.pic-mini= image_tag "squared/per1.jpg"
                Albert Untel
            %li
              %a{:href => "#"}
                .pic.pic-mini= image_tag "squared/pro4.jpg"
                Salle Machin
            %li
              %a{:href => "#"}
                .pic.pic-mini= image_tag "squared/per4.jpg"
                Albert Untel
            %li
              %a{:href => "#"}
                .pic.pic-mini= image_tag "squared/pro3.jpg"
                Salle Machin
                
                
                
.footer
  %a{:href => "#", "data-toggle"=>"tooltip", "data-placement"=>"top-left", "data-html"=>"true", :title => "<span>Aide</span>"}
    %i.entypo.edi-light-bulb
    /%i.entypo.edi-lifebuoy
    /%i.entypo.edi-compass
    /%i.entypo.edi-help
    
  /%a.pull-right{:href => "#"}
  /  %i.entypo.edi-arrow-left-5
      
  
  = link_to destroy_user_session_path, :method => :delete, "data-toggle"=>"tooltip", "data-placement"=>"top-left", "data-html"=>"true", :title => "Déconnexion" do
    /%a{:href => "#", "data-toggle"=>"tooltip", "data-placement"=>"top-left", "data-html"=>"true", :title => "Déconnexion"}
    %i.entypo.edi-moon
    /%i.entypo.edi-cross-3
    

