.logo
  %i.entypo.edi-logoedgar_under.logotype
  %a{:href => "#"}
    %i.entypo.edi-logoedgar.logotype
  .account-tab
    = Account.find(Account.current_id).name
    /%a.rightbt{:href => "#"}
    /%i.entypo.edi-cog
%nav.leftmenu
  .sidebar-nav
    %ul.nav.nav-list
      %li#account-nav.user-tab
        /%a.user-tab.rightbt{:href => "#"}
        /%i.entypo.edi-cog
        /%a.user-tab{:href => "/accounts"}
        
        = link_to edit_user_path(current_user) do
          %span
            = current_user.name
          %i.entypo.edi-cog.righticon
          /User: #{@user.name}
      
      = menu_link("Bienvenue", welcome_index_path, "edi-new","welcome",nil)    
      = menu_link("Tableau de bord", home_index_path, "edi-gauge","home",nil)
      = menu_link("Contacts", contacts_path, "edi-book","contacts", Contact.count)
      = menu_link("Tâches", tasks_path, "edi-check_2","tasks", Task.pending.size)
            
      %li#opportunities-nav.comingsoon
        /= link_to new_venue_path, :class => "rightbt" do
        /  %i.entypo.edi-plus-3
        = link_to opportunities_path do
          %i.entypo.edi-dates
          Dates
          
      %li#campaigns-nav.comingsoon
        = link_to campaigns_path do
          %i.entypo.edi-megaphone
          Campagnes
          
      %li#search-nav
        //= link_to search_index_path do
        %a{:href => "#"}
          %i.entypo.edi-search
          Recherche
        
      %li#recent-nav.click-nav.comingsoon
        .ul.no-js
          %a.clicker{:href => "#"}
            %i.entypo.edi-pushpin
            Dernièrement
            %i.entypo.edi-arrow-down-5.rightbt
     
          %ul.nav.nav-list.recent.comingsoon
            /%li.nav-header Récemment consulté
            %li
              %a{:href => "#"}
                .pic.pic-mini= image_tag "squared/per1.jpg"
                Albert Untel
            %li
              %a{:href => "#"}
                .pic.pic-mini= image_tag "squared/pro4.jpg"
                Salle Machin
            %li
              %a{:href => "#"}
                .pic.pic-mini= image_tag "squared/per4.jpg"
                Albert Untel
            %li
              %a{:href => "#"}
                .pic.pic-mini= image_tag "squared/pro3.jpg"
                Salle Machin
                
      %li
        
                        
.footer
  /%a.pull-right{:href => "#"}
  /  %i.entypo.edi-arrow-left-5
      
  = link_to destroy_user_session_path, :method => :delete, "data-toggle"=>"tooltip", "data-placement"=>"top-left", "data-html"=>"true", :title => "Déconnexion", :id=>"#logout-nav" do
    /%a{:href => "#", "data-toggle"=>"tooltip", "data-placement"=>"top-left", "data-html"=>"true", :title => "Déconnexion"}
    %i.entypo.edi-moon
    /%i.entypo.edi-cross-3
    
  %a#start_tour.start{:href => "#", "data-toggle"=>"tooltip", "data-placement"=>"top-left", "data-html"=>"true", :title => "Tour"}
    %i.entypo.edi-directions
    
  %a#help-nav{:href => "https://merciedgar.uservoice.com/knowledgebase", "target" => "_blank", "data-toggle"=>"tooltip", "data-placement"=>"top-left", "data-html"=>"true", :title => "Aide"}
    %i.entypo.edi-info
    /%i.entypo.edi-lifebuoy
    /%i.entypo.edi-compass
    /%i.entypo.edi-help
    
  %a#uservoice-nav{"data-uv-default-mode" => "feedback", "data-uv-forum-id" => "170962", "data-uv-lightbox" => "classic_widget", "data-uv-link-color" => "#007dbf", "data-uv-mode" => "full", "data-uv-primary-color" => "#cc6d00", "data-uv-support-tab_name" => "Oups ! Je rencontre un problème !", href: "javascript:void(0)", "data-toggle"=>"tooltip", "data-placement"=>"top-left", "data-html"=>"true", :title => "Suggestions"}
    %i.entypo.edi-light-bulb
    /Suggestions et Support

