#plusmenu-trigger
  %i.entypo.edi-plus-3
  
%ul.pluslist
  %li.list-header
    Ajouter

  - if @venue.present?
    %li
      /= link_to "une tâche", new_venue_task_path(@venue), :data => {:toggle => "modal", :target => "#myModal"}
      = link_to "une tâche", new_contact_task_path(@venue), remote:true

  - if @person.present? && @person.id.present?
    %li
      = link_to new_contact_task_path(@person), remote:true do
        %i.entypo.edi-check_2
        une tâche

  - unless @person.present? || @venue.present?
    %li
      = link_to new_task_path, remote:true do
        %i.entypo.edi-check_2
        une tâche générique
  %li
    - if @venue.present?
      = link_to new_structure_person_path(@venue) do
        %i.entypo.edi-user
        une personne à ce lieu
    - else
      = link_to new_person_path do
        %i.entypo.edi-user
        une personne
  %li
    = link_to new_venue_path do
      %i.entypo.edi-venue
      un lieu
  
-#
  %li
    /= link_to new_oportunitie do
    %a{:href=>"#"}
      %i.entypo.edi-dates
      une date
  %li
    /= link_to new_oportunitie do
    %a{:href=>"#"}
      %i.entypo.edi-megaphone
      une campagne
