.plusmenu-trigger
  %i.entypo.edi-plus-3
  
%ul.pluslist
  %li.list-header
    Ajouter

  - if @venue.present?
    %li
      /= link_to "une tâche", new_venue_task_path(@venue), :data => {:toggle => "modal", :target => "#myModal"}
      = link_to "une tâche", new_venue_task_path(@venue), remote:true

  - if @person.present?
    %li
      = link_to "une tâche", new_person_task_path(@person), remote:true

  - unless @person.present? || @venue.present?
    %li
      = link_to "une tâche générique", new_task_path, remote:true

  %li
    - if @venue.present?
      = link_to "une personne", new_venue_person_path(@venue)
    - else
      = link_to "une personne", new_person_path
  %li
    = link_to "une salle",new_venue_path
