!!!
%html
  %head
    = render 'layouts/head'
  %body{"data-spy" => "scroll", "data-target" => ".scroller-spy"}
    /
      \################# START MAIN-WRAPPER ####################
      \============================================================
    .main-wrapper
      / START SCROLL EVENTS ELEMENTS
      / !!CLICK EVENT TOP SCROLL
      .top-link-click.right.hidden-phone
      / !!HOVER EVENT TOP SCROLL
      .top-link.right.hidden-phone
      / !!HOVER EVENT TOP SCROLL
      .bottom-link.right.hidden-phone
      / !!CLICK EVENT TOP SCROLL
      .bottom-link-click.right.hidden-phone
      .top-corner
      .bottom-corner
      / /. SCROLL EVENTS ELEMENTS
      /


      = render 'layouts/header'
      = yield
      = render 'layouts/footer'
    = render 'layouts/javascripts'

