!!!
%html
  %head
    = render 'layouts/head_app'
  %body
    #mainwrapper.mainwrapper
      .leftpanel
        = render 'layouts/left_panel'
      .mainpanel
        .maincontent
          .maincontentinner
            = yield
      .rightpanel
        = yield(:right_panel)
    = render 'layouts/javascripts_app'

