!!!
%html
  %head
    = render 'layouts/head'
  %body{"data-spy" => "scroll", "data-target" => ".scroller-spy"}
    /
      \################# START MAIN-WRAPPER ####################
      \============================================================
    .main-wrapper
      / 
      / LEFT SOCIALS
      #socialfixed
        %ul.social-left
          %li
            %a{:href => "#", :title => ""}
              %i.ed-icon-facebook
          %li
            %a{:href => "#", :title => ""}
              %i.ed-icon-twitter
          %li
            %a{:href => "#", :title => ""}
              %i.ed-icon-rss
          %li
            %a{:href => "#", :title => ""}
              %i.ed-icon-email
      / END LEFT SOCIALS


      = render 'layouts/header'
      = yield
      = render 'layouts/footer'
    = render 'layouts/javascripts'

