!!!
%html
  %head
    = render 'layouts/head_app'
  %body
    #mainwrapper.mainwrapper
      .togglemenu
        = render 'layouts/togglemenu'
        
      #plusmenu
        = render 'layouts/plus_menu' unless params[:action] == "new" or params[:action] == "edit"
        /= yield(:plus_menu)
        
      .leftpanel
        = render 'layouts/left_panel'
        
      .mainpanel
        .maincontent
          .maincontentinner
            = yield
            
      /.rightpanel
      /  = yield(:right_panel)
    = render 'layouts/modal'
      
    = render 'layouts/javascripts_app'

