!!!

%meta{:charset => "utf-8"}
%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
%title Merci Edgar
= javascript_include_tag "jquery"
= csrf_meta_tags

= stylesheet_link_tag "application"
= favicon_link_tag 'favicon.ico'

#mainwrapper.mainwrapper

  .togglemenu
    %button#nav_toggle.btn
      %i.entypo.edi-list-2

  #plusmenu
    - if ["index","show"].include?(params[:action]) && (controller_name != "projects")
      #plusmenu-trigger
        %i.entypo.edi-plus3
      %ul.pluslist
        %li.list-header
          Ajouter
        - contact = @structure.contact if @structure.present?
        - contact = @person.contact if @person.present?
        - if params[:action] == "show" && @structure.present? || @person.present?
          %li
            /= link_to "une tâche", new_venue_task_path(@venue), :data => {:toggle => "modal", :target => "#myModal"}
            = link_to new_contact_task_path(contact), remote:true do
              %i.entypo.edi-check
              une tâche

        - unless @person.present? || @structure.present?
          %li
            = link_to new_task_path, remote:true do
              %i.entypo.edi-check
              une tâche générique
        %li
          - if @structure.present?
            = link_to new_structure_person_path(@structure) do
              %i.entypo.edi-user
              une personne à cette structure
          - else
            = link_to new_person_path do
              %i.entypo.edi-user
              une personne
        %li
          = link_to new_structure_path do
            %i.entypo.edi-venue
            une structure

  .leftpanel
    .dropdown
      %a{"data-toggle" => "dropdown"}
        .logo
          #logo-nav
          .account-tab
            = Account.find(Account.current_id).name.truncate(18)
          %i.ico.edi-cog.righticon

      - if current_user.accounts.size > 1
        %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu-accounts", role: "menu"}
          %li{role: "presentation"}
            %span
              Changer pour le compte :
          - current_user.accounts.each do |account|
            %li{role: "menuitem"}
              = link_to home_url(subdomain: account.domain) do
                %i.ico.edi-cog
                = account.name

    %nav.leftmenu
      .sidebar-nav
        %ul.nav.nav-list
          %li#accounts-tab

            = link_to edit_user_path(current_user) do
              %span
                = current_user.display_name.truncate(18)
              %i.ico.edi-cog.righticon

          = menu_link("Bienvenue", welcome_path, "edi-new",["welcome"],nil)
          = menu_link("Contacts", contacts_path, "edi-book",["contacts","venues","people","show_buyers", "structures", "festivals"], Contact.count)
          = menu_link("Tâches", tasks_path, "edi-check",["tasks"], Task.pending.size)

          %li#opportunities-nav.comingsoon
            %a{:href => "#"}

              %i.ico.edi-contracts
              Représentations

          %li#campaigns-nav.comingsoon
            %a{:href => "#"}
              %i.ico.edi-megaphone
              Campagnes

          %li#search-nav
            %a{:href => "#"}
              %i.ico.edi-search
              Recherche
          %li#recent-nav
            %a{:href => "#"}
              %i.ico.edi-pushpin
              Dernièrement
              %i.ico.caret-ed.caret-ed-right.righticon

    .footer

      %a#start_tour.start{:href => "#", "data-toggle"=>"tooltip", "data-placement"=>"top", "data-html"=>"true", :title => "Tour"}
        %i.ico.edi-directions

      %a#help-nav{:href => "https://merciedgar.uservoice.com/knowledgebase", "target" => "_blank", "data-toggle"=>"tooltip", "data-placement"=>"top", "data-html"=>"true", :title => "Aide"}
        %i.ico.edi-info

      %a#uservoice-nav{"data-uv-default-mode" => "feedback", "data-uv-forum-id" => "170962", "data-uv-lightbox" => "classic_widget", "data-uv-link-color" => "#007dbf", "data-uv-mode" => "full", "data-uv-primary-color" => "#cc6d00", "data-uv-support-tab_name" => "Oups ! Je rencontre un problème !", href: "javascript:void(0)", "data-toggle"=>"tooltip", "data-placement"=>"top", "data-html"=>"true", :title => "Suggestions"}
        %i.ico.edi-light-bulb

      = link_to announcements_path, "data-toggle"=>"tooltip", "data-placement"=>"top", "data-html"=>"true", :title => "Nouveautés", :id=>"ed-news-nav" do
        %i.ico.edi-book2
        - if announcements_count > 0
          .badge.badge-mini= announcements_count

      = link_to destroy_user_session_path, method: :get,  "data-toggle"=>"tooltip", "data-placement"=>"top", "data-html"=>"true", :title => "Déconnexion" do
        %i.ico.edi-logout

    %ul#recent-menu.nav.nav-list
      %li.list-header
        Récemment consultés :
      - if session[:history].present?
        - session[:history].reverse.map{|i| Contact.find_by_id(i)}.each do |c|
          - if c.present?
            %li
              = link_to c.fine_model do
                - if c.fine_model.is_a? Person
                  .pic.pic-person= image_tag c.fine_model.avatar_url
                - else
                  .pic= image_tag c.fine_model.avatar_url

                .infos
                  %span= c
                  %span= t(c.fine_model.class.name.underscore,scope:"activerecord.models")

  .mainpanel
    #thesearch
      = text_field_tag "search", nil, placeholder: "Accéder rapidement à un contact...", class: "jq_autocomplete input-flat", autofocus: true, data: {autocomplete_source: autocomplete_contacts_path} 
      .tour-backdrop.search-backdrop

    .maincontent
      .maincontentinner#top
        = yield

= render 'layouts/modal'
= javascript_include_tag "application"
= yield :scripts

<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-35382203-3', 'merciedgar.com'); ga('send', 'pageview');</script>
