!!!
%html
  %head
    = render 'showcase/head'
  %body#thetop
    /{"data-spy" => "scroll", "data-target" => ".scroller-spy", "data-offset" => "80"}
    /
      \################# START MAIN-WRAPPER ####################
      \============================================================
    .main-wrapper
      = render 'showcase/header'
      = yield
      = render 'showcase/footer'
      = render 'showcase/javascripts'

