!!!
%title Merci Edgar
%meta{:charset => "utf-8"}
%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}

= csrf_meta_tags

= stylesheet_link_tag "application"
= favicon_link_tag 'favicon.ico'

= yield
= javascript_include_tag 'simple/application'
