- content_for :account_tab do
  #account.tab-pane.active
    .row-fluid
      .span6
        .section-title Nom et domaine
        = simple_form_for(@account, url: account_path) do |f|
          = f.input :name
          = f.input :domain, label: "Le préfixe de votre nom de domaine :", wrapper: "append" do
            = f.input_field :domain
            %span.add-on .merciedgar.com
          %p
          = f.button :submit, class:'btn-primary'
          
      .span6.comingsoon
        .section-title Forfaits et facturation
        %p
          Forfait whaoo à
          .badge.inline 5489€
          par mois
        <input class="btn btn-primary" type="submit" value="Changer de forfait" name="commit">



    .row-fluid
      .span12
        .section-title Utilisateurs
        %ul.list-medium
          %li
            .rightrow.small
              .badge.badge-black hier
              .actions
                %a.shybtn{:href => "#"}
                  %i.entypo.edi-pencil

            .rightrow
              .s1of2
                %a{:href => "#"}
                  .pic.pic-mini= image_tag "squared/pro2.jpg"
                  ProjetXqsd
              .s1of2
                %a{:href => "#"}
                  .pic.pic-mini= image_tag "squared/per2.jpg"
                  Untel X.

            .mainrow
              %input{:type => "checkbox"}
              %a{:href => "#"} Relance de payement


          %li
            .rightrow.small
              .badge.badge-red Aujourd'hui
              .actions
                %a.shybtn{:href => "#"}
                  %i.entypo.edi-pencil

            .rightrow
              .s1of2
                %a{:href => "#"}
                  .pic.pic-mini= image_tag "squared/pro1.jpg"
                  Fatales Picards
              .s1of2
                %a{:href => "#"}
                  .pic.pic-mini= image_tag "squared/per1.jpg"
                  François U.

            .mainrow
              %input{:type => "checkbox"}
              %a{:href => "#"} Relance de payement Une tache avec un titre trés trés long…

          %li
            .rightrow.small
              .badge ASAP
              .actions
                %a.shybtn{:href => "#"}
                  %i.entypo.edi-pencil

            .rightrow
              .s1of2
                %a{:href => "#"}
                  .pic.pic-mini
                  Global
              .s1of2

            .mainrow
              %input{:type => "checkbox"}
              %a{:href => "#"} Aller à Avignon

          
        .btn-in-list
          %a{:href => "#"}
            %i.entypo.edi-plus-3
            %span New user
    
= render 'devise/shared/profile'