- content_for :account_tab do
  #account.tab-pane.active
    .row-fluid
      .span6
        %h4 Nom et domaine
        = simple_form_for(@account, url: account_path) do |f|
          = f.input :name
          = f.input :domain, label: "Le préfixe de votre nom de domaine :", wrapper: "append" do
            = f.input_field :domain
            %span.add-on .merciedgar.com
          %p
          = f.button :submit, class:'btn-primary'
          
      .span6.comingsoon
        %h4 Forfaits et facturation
        %p
          Forfait Beta Testeur
          .badge.inline GRATUIT
          jusqu'au 31/12/2013
          <br>
          Plus que 28 jours !
        <input class="btn btn-primary" type="submit" value="Changer de forfait" name="commit">



    
= render 'devise/shared/profile'