- content_for :account_tab do
  #account.tab-pane.notedit.active
    .row-fluid
      -#_____________________________________________________ Nom et domaine
      %section.span6
        %h4 Nom et domaine
        = simple_form_for(@account, url: account_path) do |f|
          = f.input :name
          = f.input :domain, label: "Le préfixe de votre nom de domaine :", wrapper: "append" do
            = f.input_field :domain
            %span.add-on .merciedgar.com
          %p
          = f.button :submit, class:'btn-primary'
          
      %section.span6.comingsoon
        %h4 Forfaits et facturation
        %p
          Forfait Beta Testeur
          .badge.inline GRATUIT
          jusqu'au 31/03/2013
          <br>


    -#_____________________________________________________ USERS
    .row-fluid
      %section.span6
        %h4 Utilisateurs
        %ul.list.list-small#users-list
          - @account.users.each do |user|
            %li
              .meta
                .badge.badge-red
                  = user.confirmed? ? t(user.current_abilitation.kind) : "Invitation envoyée"
              .actions
                -#%a.shybtn{href: "/fr/people/41/edit"}
                  %i.entypo.edi-pencil
                
                = link_to account_abilitation_path(user.current_abilitation), method: :delete, data: { confirm: "Are you sure ?" }, class: "shybtn" do
                  %i.entypo.edi-cross
            
              %a{href: "#"}
                %h3= user.name
                .pic.pic-user= image_tag user.avatar
              %span.infos-line
                %a= user.email


          -#_____________________________________________________ ADD NEW
          %li.btn-in-list
            = link_to new_account_abilitation_path(account_id: current_account.id), remote:true do
              %i.entypo.edi-plus3
              %span
                Ajouter un utilisateur

= render 'devise/shared/profile'
