- content_for :account_tab do
  #account.tab-pane.active
    .row-fluid
      .span6
        .section-title Nom et domaine
        = simple_form_for(@account, url: account_path) do |f|
          = f.input :name
          = f.input :domain, label: "Le préfixe de votre nom de domaine :", wrapper: "append" do
            = f.input_field :domain
            %span.add-on .merciedgar.com
          %p
          = f.button :submit, class:'btn-primary'
          
      .span6.comingsoon
        .section-title Forfaits et facturation
        %p
          Forfait whaoo à
          .badge.inline 5489€
          par mois
        <input class="btn btn-primary" type="submit" value="Changer de forfait" name="commit">



    .row-fluid
      .span12
        .section-title Utilisateurs
        %ul.list-large
          %li
            %h3 Nicolas Untel
            %p Superatis Tauri montis verticibus qui ad solis ospatiis porrqsdigitur. Sdfate distqsdqs rtum sublimius attoqdslluntur. Superatis Tauri montis vertidqscibus qui ad solis ospatiis porrigitur late distrtum sublimius attolluntur. Superatis Tauri montis vertiqscibus qui ad solis ospatiis porrigitur late distrtum sublimius attollqsuntur.
          %li
            %h3 Aurélie Thuot
            %p Superatis Tauri montis verticibus qui ad solis ospatiis porrqsdigitur. Sdfate distqsdqs rtum sublimius attoqdslluntur. Superatis Tauri montis vertidqscibus qui ad solis ospatiis porrigitur late distrtum sublimius attolluntur. Superatis Tauri montis vertiqscibus qui ad solis ospatiis porrigitur late distrtum sublimius attollqsuntur.  
          
          .plus-in-list
            %a{:href => "#"}
              %i.entypo.edi-plus-3
              %span New user
    
= render 'devise/shared/profile'